Hackathon: Women in Sports Data 2023
<br>
<br>Author: Isabella Couto Carlos
<br>Date: 7/29/23
<br>

# Importing libraries

In [ ]:
%pip install boto3
%pip install jsonlines
%pip install jsonlines pandas

In [2]:
import boto3
import jsonlines
import pandas as pd
import json

# Accessing AWS 3

In [2]:
# Replace with your credentials
session = boto3.Session(
    aws_access_key_id='XXXXXXXX',
    aws_secret_access_key='XXXXXXXX'
)

In [3]:
s3_client = session.client('s3')

In [4]:
response = s3_client.list_objects(Bucket='sportradar-wisd-data')
for obj in response['Contents']:
    print(obj['Key'])

games/0042100301/0042100301_events.jsonl
games/0042100301/0042100301_tracking.jsonl
games/0042100302/0042100302_events.jsonl
games/0042100302/0042100302_tracking.jsonl
games/0042100303/0042100303_events.jsonl
games/0042100303/0042100303_tracking.jsonl
games/0042100304/0042100304_events.jsonl
games/0042100304/0042100304_tracking.jsonl
games/0042100305/0042100305_events.jsonl
games/0042100305/0042100305_tracking.jsonl
games/0042100306/0042100306_events.jsonl
games/0042100306/0042100306_tracking.jsonl
games/0042100307/0042100307_events.jsonl
games/0042100307/0042100307_tracking.jsonl
games/0042100311/0042100311_events.jsonl
games/0042100311/0042100311_tracking.jsonl
games/0042100312/0042100312_events.jsonl
games/0042100312/0042100312_tracking.jsonl
games/0042100313/0042100313_events.jsonl
games/0042100313/0042100313_tracking.jsonl
games/0042100314/0042100314_events.jsonl
games/0042100314/0042100314_tracking.jsonl
games/0042100315/0042100315_events.jsonl
games/0042100315/0042100315_tracking.jsonl
games/0042100401/0042100401_events.jsonl
games/0042100401/0042100401_tracking.jsonl
games/0042100402/0042100402_events.jsonl
games/0042100402/0042100402_tracking.jsonl
games/0042100403/0042100403_events.jsonl
games/0042100403/0042100403_tracking.jsonl
games/0042100404/0042100404_events.jsonl
games/0042100404/0042100404_tracking.jsonl
games/0042100405/0042100405_events.jsonl
games/0042100405/0042100405_tracking.jsonl
games/0042100406/0042100406_events.jsonl
games/0042100406/0042100406_tracking.jsonl
metadata/games.json
metadata/players.json
metadata/teams.json

# Importing data

## Events

In [ ]:
keyname = "games/0042100301/0042100301_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d1 = pd.DataFrame(data)
d1['nbaId'] = 42100301

In [ ]:
keyname = "games/0042100302/0042100302_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d3 = pd.DataFrame(data)
d3['nbaId'] = 42100302

In [ ]:
keyname = "games/0042100303/0042100303_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d5 = pd.DataFrame(data)
d5['nbaId'] = 42100303

In [ ]:
keyname = "games/0042100304/0042100304_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d7 = pd.DataFrame(data)
d7['nbaId'] = 42100304

In [ ]:
keyname = "games/0042100305/0042100305_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d9 = pd.DataFrame(data)
d9['nbaId'] = 42100305

In [ ]:
keyname = "games/0042100306/0042100306_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d11 = pd.DataFrame(data)
d11['nbaId'] = 42100306

In [ ]:
keyname = "games/0042100307/0042100307_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d13 = pd.DataFrame(data)
d13['nbaId'] = 42100307

In [ ]:
keyname = "games/0042100311/0042100311_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d15 = pd.DataFrame(data)
d15['nbaId'] = 42100311

In [ ]:
keyname = "games/0042100312/0042100312_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d17 = pd.DataFrame(data)
d17['nbaId'] = 42100312

In [ ]:
keyname = "games/0042100313/0042100313_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d19 = pd.DataFrame(data)
d19['nbaId'] = 42100313

In [ ]:
keyname = "games/0042100314/0042100314_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d21 = pd.DataFrame(data)
d21['nbaId'] = 42100314

In [ ]:
keyname = "games/0042100315/0042100315_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d23 = pd.DataFrame(data)
d23['nbaId'] = 42100315

In [ ]:
keyname = "games/0042100401/0042100401_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d25 = pd.DataFrame(data)
d25['nbaId'] = 42100401

In [ ]:
keyname = "games/0042100402/0042100402_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d27 = pd.DataFrame(data)
d27['nbaId'] = 42100402

In [ ]:
keyname = "games/0042100403/0042100403_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d29 = pd.DataFrame(data)
d29['nbaId'] = 42100403

In [ ]:
keyname = "games/0042100404/0042100404_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d31 = pd.DataFrame(data)
d31['nbaId'] = 42100404

In [ ]:
keyname = "games/0042100405/0042100405_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d33 = pd.DataFrame(data)
d33['nbaId'] = 42100405

In [ ]:
keyname = "games/0042100406/0042100406_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d35 = pd.DataFrame(data)
d35['nbaId'] = 42100406

In [ ]:
events = pd.concat([d1, d3, d5, d7, d9, d11, d13, d15, d17, d19, d21, d23, d25, d27, d29, d31, d33, d35])

In [ ]:
events.head()

In [ ]:
# Tranforming the players columns into 5 players columns

events[['homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4', 'homePlayer5']] = pd.DataFrame(events['homePlayers'].tolist())
events[['awayPlayer1', 'awayPlayer2', 'awayPlayer3', 'awayPlayer4', 'awayPlayer5']] = pd.DataFrame(events['awayPlayers'].tolist())

In [ ]:
columns_to_drop = ['homePlayers', 'awayPlayers']
events.drop(columns_to_drop, axis=1, inplace=True)

In [ ]:
events.columns

In [ ]:
# Saving events table (optional)
#events.to_csv(r"events.csv", index=False)

## Tracking

In [5]:
keyname = "games/0042100301/0042100301_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d2 = pd.DataFrame(data)
d2['nbaId'] = 42100301

In [6]:
keyname = "games/0042100302/0042100302_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d4 = pd.DataFrame(data)
d4['nbaId'] = 42100302

In [7]:
keyname = "games/0042100303/0042100303_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d6 = pd.DataFrame(data)
d6['nbaId'] = 42100303

In [8]:
keyname = "games/0042100304/0042100304_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d8 = pd.DataFrame(data)
d8['nbaId'] = 42100304

In [9]:
keyname = "games/0042100305/0042100305_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d10 = pd.DataFrame(data)
d10['nbaId'] = 42100305

In [10]:
keyname = "games/0042100306/0042100306_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d12 = pd.DataFrame(data)
d12['nbaId'] = 42100306

In [11]:
keyname = "games/0042100307/0042100307_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d14 = pd.DataFrame(data)
d14['nbaId'] = 42100307

In [12]:
keyname = "games/0042100311/0042100311_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d16 = pd.DataFrame(data)
d16['nbaId'] = 42100311

In [13]:
keyname = "games/0042100312/0042100312_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d18 = pd.DataFrame(data)
d18['nbaId'] = 42100312

In [14]:
keyname = "games/0042100313/0042100313_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d20 = pd.DataFrame(data)
d20['nbaId'] = 42100313

In [15]:
keyname = "games/0042100314/0042100314_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d22 = pd.DataFrame(data)
d22['nbaId'] = 42100314

In [16]:
keyname = "games/0042100315/0042100315_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d24 = pd.DataFrame(data)
d24['nbaId'] = 42100315

In [17]:
keyname = "games/0042100401/0042100401_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d26 = pd.DataFrame(data)
d26['nbaId'] = 42100401

In [18]:
keyname = "games/0042100402/0042100402_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d28 = pd.DataFrame(data)
d28['nbaId'] = 42100402

In [19]:
keyname = "games/0042100403/0042100403_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d30 = pd.DataFrame(data)
d30['nbaId'] = 42100403

In [20]:
keyname = "games/0042100404/0042100404_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d32 = pd.DataFrame(data)
d32['nbaId'] = 42100404

In [21]:
keyname = "games/0042100405/0042100405_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d34 = pd.DataFrame(data)
d34['nbaId'] = 42100405

In [22]:
keyname = "games/0042100406/0042100406_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d36 = pd.DataFrame(data)
d36['nbaId'] = 42100406

In [23]:
tracking = pd.concat([d2, d4, d6, d8, d10, d12, d14, d16, d18, d20, d22, d24, d26, d28, d30, d32, d34, d36])

In [24]:
tracking[['homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4', 'homePlayer5']] = pd.DataFrame(tracking['homePlayers'].tolist())
tracking[['awayPlayer1', 'awayPlayer2', 'awayPlayer3', 'awayPlayer4', 'awayPlayer5']] = pd.DataFrame(tracking['awayPlayers'].tolist())

In [25]:
columns_to_drop = ['homePlayers','awayPlayers']
tracking.drop(columns_to_drop, axis=1, inplace=True)

In [26]:
tracking.head()

,frameIdx,ball,period,gameClock,gameClockStopped,shotClock,wallClock,nbaId,homePlayer1,homePlayer2,homePlayer3,homePlayer4,homePlayer5,awayPlayer1,awayPlayer2,awayPlayer3,awayPlayer4,awayPlayer5
0,113040,"[6.85, 9.02, 4.35]",1,720.0,True,24.0,1652834771259,42100301,"{'xyz': [1.92, -1.08, 0], 'jersey': '13', 'pla...","{'xyz': [22.75, 0.42, 0], 'jersey': '17', 'pla...","{'xyz': [12.25, -3.08, 0], 'jersey': '2', 'pla...","{'xyz': [2.42, 6.08, 0], 'jersey': '22', 'play...","{'xyz': [7.25, -4.92, 0], 'jersey': '31', 'pla...","{'xyz': [-2.08, -9.08, 0], 'jersey': '0', 'pla...","{'xyz': [-11.08, 0.25, 0], 'jersey': '12', 'pl...","{'xyz': [-1.75, -0.92, 0], 'jersey': '44', 'pl...","{'xyz': [-1.42, 6.92, 0], 'jersey': '7', 'play...","{'xyz': [-19.92, -1.92, 0], 'jersey': '9', 'pl..."
1,113041,"[6.84, 8.99, 4.37]",1,720.0,True,24.0,1652834771299,42100301,"{'xyz': [1.92, -1.08, 0], 'jersey': '13', 'pla...","{'xyz': [22.69, 0.42, 0], 'jersey': '17', 'pla...","{'xyz': [12.25, -3.08, 0], 'jersey': '2', 'pla...","{'xyz': [2.42, 6.14, 0], 'jersey': '22', 'play...","{'xyz': [7.11, -5.08, 0], 'jersey': '31', 'pla...","{'xyz': [-2.08, -9.08, 0], 'jersey': '0', 'pla...","{'xyz': [-11.15, 0.2, 0], 'jersey': '12', 'pla...","{'xyz': [-1.77, -0.84, 0], 'jersey': '44', 'pl...","{'xyz': [-1.42, 6.92, 0], 'jersey': '7', 'play...","{'xyz': [-19.84, -1.85, 0], 'jersey': '9', 'pl..."
2,113042,"[6.83, 8.93, 4.36]",1,720.0,True,24.0,1652834771339,42100301,"{'xyz': [1.92, -1.11, 0], 'jersey': '13', 'pla...","{'xyz': [22.59, 0.41, 0], 'jersey': '17', 'pla...","{'xyz': [12.25, -3.08, 0], 'jersey': '2', 'pla...","{'xyz': [2.42, 6.2, 0], 'jersey': '22', 'playe...","{'xyz': [7, -5.25, 0], 'jersey': '31', 'player...","{'xyz': [-2.08, -9.06, 0], 'jersey': '0', 'pla...","{'xyz': [-11.21, 0.18, 0], 'jersey': '12', 'pl...","{'xyz': [-1.81, -0.78, 0], 'jersey': '44', 'pl...","{'xyz': [-1.42, 6.92, 0], 'jersey': '7', 'play...","{'xyz': [-19.78, -1.78, 0], 'jersey': '9', 'pl..."
3,113043,"[6.81, 8.86, 4.36]",1,720.0,True,24.0,1652834771379,42100301,"{'xyz': [1.92, -1.13, 0], 'jersey': '13', 'pla...","{'xyz': [22.47, 0.4, 0], 'jersey': '17', 'play...","{'xyz': [12.27, -3.08, 0], 'jersey': '2', 'pla...","{'xyz': [2.42, 6.26, 0], 'jersey': '22', 'play...","{'xyz': [6.91, -5.42, 0], 'jersey': '31', 'pla...","{'xyz': [-2.09, -9.04, 0], 'jersey': '0', 'pla...","{'xyz': [-11.28, 0.18, 0], 'jersey': '12', 'pl...","{'xyz': [-1.83, -0.74, 0], 'jersey': '44', 'pl...","{'xyz': [-1.42, 6.92, 0], 'jersey': '7', 'play...","{'xyz': [-19.73, -1.71, 0], 'jersey': '9', 'pl..."
4,113044,"[6.79, 8.79, 4.36]",1,720.0,True,24.0,1652834771419,42100301,"{'xyz': [1.92, -1.16, 0], 'jersey': '13', 'pla...","{'xyz': [22.34, 0.38, 0], 'jersey': '17', 'pla...","{'xyz': [12.29, -3.08, 0], 'jersey': '2', 'pla...","{'xyz': [2.42, 6.33, 0], 'jersey': '22', 'play...","{'xyz': [6.82, -5.58, 0], 'jersey': '31', 'pla...","{'xyz': [-2.1, -9.01, 0], 'jersey': '0', 'play...","{'xyz': [-11.34, 0.19, 0], 'jersey': '12', 'pl...","{'xyz': [-1.85, -0.7, 0], 'jersey': '44', 'pla...","{'xyz': [-1.42, 6.92, 0], 'jersey': '7', 'play...","{'xyz': [-19.68, -1.64, 0], 'jersey': '9', 'pl..."

In [27]:
tracking[['xyz1', 'jersey1', 'playerID1']] = pd.DataFrame(tracking['homePlayer1'].tolist())
tracking[['xyz2', 'jersey2', 'playerID2']] = pd.DataFrame(tracking['homePlayer2'].tolist())
tracking[['xyz3', 'jersey3', 'playerID3']] = pd.DataFrame(tracking['homePlayer3'].tolist())
tracking[['xyz4', 'jersey4', 'playerID4']] = pd.DataFrame(tracking['homePlayer4'].tolist())
tracking[['xyz5', 'jersey5', 'playerID5']] = pd.DataFrame(tracking['homePlayer5'].tolist())

tracking[['away_xyz1', 'away_jersey1', 'away_playerID1']] = pd.DataFrame(tracking['awayPlayer1'].tolist())
tracking[['away_xyz2', 'away_jersey2', 'away_playerID2']] = pd.DataFrame(tracking['awayPlayer2'].tolist())
tracking[['away_xyz3', 'away_jersey3', 'away_playerID3']] = pd.DataFrame(tracking['awayPlayer3'].tolist())
tracking[['away_xyz4', 'away_jersey4', 'away_playerID4']] = pd.DataFrame(tracking['awayPlayer4'].tolist())
tracking[['away_xyz5', 'away_jersey5', 'away_playerID5']] = pd.DataFrame(tracking['awayPlayer5'].tolist())

In [28]:
tracking.columns

Index(['frameIdx', 'ball', 'period', 'gameClock', 'gameClockStopped',
       'shotClock', 'wallClock', 'nbaId', 'homePlayer1', 'homePlayer2',
       'homePlayer3', 'homePlayer4', 'homePlayer5', 'awayPlayer1',
       'awayPlayer2', 'awayPlayer3', 'awayPlayer4', 'awayPlayer5', 'xyz1',
       'jersey1', 'playerID1', 'xyz2', 'jersey2', 'playerID2', 'xyz3',
       'jersey3', 'playerID3', 'xyz4', 'jersey4', 'playerID4', 'xyz5',
       'jersey5', 'playerID5', 'away_xyz1', 'away_jersey1', 'away_playerID1',
       'away_xyz2', 'away_jersey2', 'away_playerID2', 'away_xyz3',
       'away_jersey3', 'away_playerID3', 'away_xyz4', 'away_jersey4',
       'away_playerID4', 'away_xyz5', 'away_jersey5', 'away_playerID5'],
      dtype='object')

In [29]:
columns_to_drop = ['homePlayer1', 'homePlayer2',
       'homePlayer3', 'homePlayer4', 'homePlayer5', 'awayPlayer1',
       'awayPlayer2', 'awayPlayer3', 'awayPlayer4', 'awayPlayer5']
tracking.drop(columns_to_drop, axis=1, inplace=True)

In [30]:
tracking = tracking.rename(columns={'xyz1': 'home_xyz1', 
                                    'jersey1': 'home_jersey1',
                                    'playerID1': 'homePlayer1',
                                    'xyz2': 'home_xyz2', 
                                    'jersey2': 'home_jersey2',
                                    'playerID2': 'homePlayer2',
                                    'xyz3': 'home_xyz3', 
                                    'jersey3': 'home_jersey3',
                                    'playerID3': 'homePlayer3',
                                    'xyz4': 'home_xyz4', 
                                    'jersey4': 'home_jersey4',
                                    'playerID4': 'homePlayer4',
                                    'xyz5': 'home_xyz5', 
                                    'jersey5': 'home_jersey5',
                                    'playerID5': 'homePlayer5',
                                    'away_playerID1': 'awayPlayer1',
                                    'away_playerID2': 'awayPlayer2',
                                    'away_playerID3': 'awayPlayer3',
                                    'away_playerID4': 'awayPlayer4',
                                    'away_playerID5': 'awayPlayer5',
                                    })

In [31]:
# Saving tacking table (optional)
tracking.to_csv(r"tracking.csv", index=False)

## Games

In [ ]:
keyname = "metadata/games.json"
games = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

In [ ]:
games = pd.DataFrame(games[0]['games'])

In [ ]:
games.head()

In [ ]:
# Filtering the games we are evaluating in the analysis

games2 = games[(games['nbaId'] == '0042100301') |
               (games['nbaId'] == '0042100302') |
               (games['nbaId'] == '0042100303') |
               (games['nbaId'] == '0042100304') |
               (games['nbaId'] == '0042100305') |
               (games['nbaId'] == '0042100306') |
               (games['nbaId'] == '0042100307') |
               (games['nbaId'] == '0042100311') |
               (games['nbaId'] == '0042100312') |
               (games['nbaId'] == '0042100313') |
               (games['nbaId'] == '0042100314') |
               (games['nbaId'] == '0042100315') |
               (games['nbaId'] == '0042100401') |
               (games['nbaId'] == '0042100402') |
               (games['nbaId'] == '0042100403') |
               (games['nbaId'] == '0042100404') |
               (games['nbaId'] == '0042100405') |
               (games['nbaId'] == '0042100406')]

In [ ]:
# Saving games table (optional)
#games2.to_csv(r"games2.csv", index=False)

## Players

In [ ]:
keyname = "metadata/players.json"
players = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

In [ ]:
players[0]['players']

In [ ]:
players = pd.DataFrame(players[0]['players'])

In [ ]:
players.head()

In [ ]:
# Saving players table (optional)
#players.to_csv(r"players.csv", index=False)

## Teams

In [ ]:
keyname = "metadata/teams.json"
teams = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

In [ ]:
teams[0]['teams']

In [ ]:
teams = pd.DataFrame(teams[0]['teams'])

In [ ]:
teams.head()

In [ ]:
# Saving teams table (optional)
#teams.to_csv(r"teams.csv", index=False)

# Cleaning tables

## Tracking

In [3]:
# Opening saved table
tracking = pd.read_csv(r"tracking.csv")

In [4]:
tracking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1678320 entries, 0 to 1678319
Data columns (total 38 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   frameIdx          1678320 non-null  int64
 1   ball              1678320 non-null  object
 2   period            1678320 non-null  int64
 3   gameClock         1678320 non-null  float64
 4   gameClockStopped  1678320 non-null  bool
 5   shotClock         1678320 non-null  float64
 6   wallClock         1678320 non-null  int64
 7   nbaId             1678320 non-null  int64
 8   home_xyz1         1678320 non-null  object
 9   home_jersey1      1678320 non-null  int64
 10  homePlayer1       1678320 non-null  object
 11  home_xyz2         1678320 non-null  object
 12  home_jersey2      1678320 non-null  int64
 13  homePlayer2       1678320 non-null  object
 14  home_xyz3         1678320 non-null  object
 15  home_jersey3      1678320 non-null  int64
 16  homePlayer3       1678320 non-null  object
 17  home_xyz4         1678320 non-null  object
 18  home_jersey4      1678320 non-null  int64
 19  homePlayer4       1678320 non-null  object
 20  home_xyz5         1678320 non-null  object
 21  home_jersey5      1678320 non-null  int64
 22  homePlayer5       1678320 non-null  object
 23  away_xyz1         1678320 non-null  object
 24  away_jersey1      1678320 non-null  int64
 25  awayPlayer1       1678320 non-null  object
 26  away_xyz2         1678320 non-null  object
 27  away_jersey2      1678320 non-null  int64
 28  awayPlayer2       1678320 non-null  object
 29  away_xyz3         1678320 non-null  object
 30  away_jersey3      1678320 non-null  int64
 31  awayPlayer3       1678320 non-null  object
 32  away_xyz4         1678320 non-null  object
 33  away_jersey4      1678320 non-null  int64
 34  awayPlayer4       1678320 non-null  object
 35  away_xyz5         1678320 non-null  object
 36  away_jersey5      1678320 non-null  int64
 37  awayPlayer5       1678320 non-null  object
dtypes: bool(1), float64(2), int64(14), object(21)
memory usage: 475.4+ MB

In [5]:
tracking[['home_x1', 'home_y1','home_z1']] = tracking['home_xyz1'].str.split(', ', expand=True)
tracking[['home_x2', 'home_y2','home_z2']] = tracking['home_xyz2'].str.split(', ', expand=True)
tracking[['home_x3', 'home_y3','home_z3']] = tracking['home_xyz3'].str.split(', ', expand=True)
tracking[['home_x4', 'home_y4','home_z4']] = tracking['home_xyz4'].str.split(', ', expand=True)
tracking[['home_x5', 'home_y5','home_z5']] = tracking['home_xyz5'].str.split(', ', expand=True)

tracking[['away_x1', 'away_y1','away_z1']] = tracking['away_xyz1'].str.split(', ', expand=True)
tracking[['away_x2', 'away_y2','away_z2']] = tracking['away_xyz2'].str.split(', ', expand=True)
tracking[['away_x3', 'away_y3','away_z3']] = tracking['away_xyz3'].str.split(', ', expand=True)
tracking[['away_x4', 'away_y4','away_z4']] = tracking['away_xyz4'].str.split(', ', expand=True)
tracking[['away_x5', 'away_y5','away_z5']] = tracking['away_xyz5'].str.split(', ', expand=True)

In [6]:
tracking.head()

,frameIdx,ball,period,gameClock,gameClockStopped,shotClock,wallClock,nbaId,home_xyz1,home_jersey1,...,away_z2,away_x3,away_y3,away_z3,away_x4,away_y4,away_z4,away_x5,away_y5,away_z5
0,113040,"[6.85, 9.02, 4.35]",1,720.0,True,24.0,1652834771259,42100301,"[1.92, -1.08, 0]",13,...,0],[-1.75,-0.92,0],[-1.42,6.92,0],[-19.92,-1.92,0]
1,113041,"[6.84, 8.99, 4.37]",1,720.0,True,24.0,1652834771299,42100301,"[1.92, -1.08, 0]",13,...,0],[-1.77,-0.84,0],[-1.42,6.92,0],[-19.84,-1.85,0]
2,113042,"[6.83, 8.93, 4.36]",1,720.0,True,24.0,1652834771339,42100301,"[1.92, -1.11, 0]",13,...,0],[-1.81,-0.78,0],[-1.42,6.92,0],[-19.78,-1.78,0]
3,113043,"[6.81, 8.86, 4.36]",1,720.0,True,24.0,1652834771379,42100301,"[1.92, -1.13, 0]",13,...,0],[-1.83,-0.74,0],[-1.42,6.92,0],[-19.73,-1.71,0]
4,113044,"[6.79, 8.79, 4.36]",1,720.0,True,24.0,1652834771419,42100301,"[1.92, -1.16, 0]",13,...,0],[-1.85,-0.7,0],[-1.42,6.92,0],[-19.68,-1.64,0]

In [7]:
tracking['home_x1'] = tracking['home_x1'].str.split('[').str[-1]
tracking['home_z1'] = tracking['home_z1'].str.split(']').str[0]
tracking['home_x2'] = tracking['home_x2'].str.split('[').str[-1]
tracking['home_z2'] = tracking['home_z2'].str.split(']').str[0]
tracking['home_x3'] = tracking['home_x3'].str.split('[').str[-1]
tracking['home_z3'] = tracking['home_z3'].str.split(']').str[0]
tracking['home_x4'] = tracking['home_x4'].str.split('[').str[-1]
tracking['home_z4'] = tracking['home_z4'].str.split(']').str[0]
tracking['home_x5'] = tracking['home_x5'].str.split('[').str[-1]
tracking['home_z5'] = tracking['home_z5'].str.split(']').str[0]

tracking['away_x1'] = tracking['away_x1'].str.split('[').str[-1]
tracking['away_z1'] = tracking['away_z1'].str.split(']').str[0]
tracking['away_x2'] = tracking['away_x2'].str.split('[').str[-1]
tracking['away_z2'] = tracking['away_z2'].str.split(']').str[0]
tracking['away_x3'] = tracking['away_x3'].str.split('[').str[-1]
tracking['away_z3'] = tracking['away_z3'].str.split(']').str[0]
tracking['away_x4'] = tracking['away_x4'].str.split('[').str[-1]
tracking['away_z4'] = tracking['away_z4'].str.split(']').str[0]
tracking['away_x5'] = tracking['away_x5'].str.split('[').str[-1]
tracking['away_z5'] = tracking['away_z5'].str.split(']').str[0]

In [8]:
tracking.head()

,frameIdx,ball,period,gameClock,gameClockStopped,shotClock,wallClock,nbaId,home_xyz1,home_jersey1,...,away_z2,away_x3,away_y3,away_z3,away_x4,away_y4,away_z4,away_x5,away_y5,away_z5
0,113040,"[6.85, 9.02, 4.35]",1,720.0,True,24.0,1652834771259,42100301,"[1.92, -1.08, 0]",13,...,0,-1.75,-0.92,0,-1.42,6.92,0,-19.92,-1.92,0
1,113041,"[6.84, 8.99, 4.37]",1,720.0,True,24.0,1652834771299,42100301,"[1.92, -1.08, 0]",13,...,0,-1.77,-0.84,0,-1.42,6.92,0,-19.84,-1.85,0
2,113042,"[6.83, 8.93, 4.36]",1,720.0,True,24.0,1652834771339,42100301,"[1.92, -1.11, 0]",13,...,0,-1.81,-0.78,0,-1.42,6.92,0,-19.78,-1.78,0
3,113043,"[6.81, 8.86, 4.36]",1,720.0,True,24.0,1652834771379,42100301,"[1.92, -1.13, 0]",13,...,0,-1.83,-0.74,0,-1.42,6.92,0,-19.73,-1.71,0
4,113044,"[6.79, 8.79, 4.36]",1,720.0,True,24.0,1652834771419,42100301,"[1.92, -1.16, 0]",13,...,0,-1.85,-0.7,0,-1.42,6.92,0,-19.68,-1.64,0

In [9]:
tracking['home_x1'] = tracking['home_x1'].astype(float)
tracking['home_z1'] = tracking['home_z1'].astype(float)
tracking['home_x2'] = tracking['home_x2'].astype(float)
tracking['home_z2'] = tracking['home_z2'].astype(float)
tracking['home_x3'] = tracking['home_x3'].astype(float)
tracking['home_z3'] = tracking['home_z3'].astype(float)
tracking['home_x4'] = tracking['home_x4'].astype(float)
tracking['home_z4'] = tracking['home_z4'].astype(float)
tracking['home_x5'] = tracking['home_x5'].astype(float)
tracking['home_z5'] = tracking['home_z5'].astype(float)

tracking['away_x1'] = tracking['away_x1'].astype(float)
tracking['away_z1'] = tracking['away_z1'].astype(float)
tracking['away_x2'] = tracking['away_x2'].astype(float)
tracking['away_z2'] = tracking['away_z2'].astype(float)
tracking['away_x3'] = tracking['away_x3'].astype(float)
tracking['away_z3'] = tracking['away_z3'].astype(float)
tracking['away_x4'] = tracking['away_x4'].astype(float)
tracking['away_z4'] = tracking['away_z4'].astype(float)
tracking['away_x5'] = tracking['away_x5'].astype(float)
tracking['away_z5'] = tracking['away_z5'].astype(float)

tracking['away_y1'] = tracking['away_y1'].astype(float)
tracking['away_y2'] = tracking['away_y2'].astype(float)
tracking['away_y3'] = tracking['away_y3'].astype(float)
tracking['away_y4'] = tracking['away_y4'].astype(float)
tracking['away_y5'] = tracking['away_y5'].astype(float)
tracking['home_y1'] = tracking['home_y1'].astype(float)
tracking['home_y2'] = tracking['home_y2'].astype(float)
tracking['home_y3'] = tracking['home_y3'].astype(float)
tracking['home_y4'] = tracking['home_y4'].astype(float)
tracking['home_y5'] = tracking['home_y5'].astype(float)

In [10]:
tracking[['ball_x', 'ball_y','ball_z']] = tracking['ball'].str.split(', ', expand=True)

In [11]:
tracking['ball_z'] = tracking['ball_z'].str.split(']').str[0]
tracking['ball_x'] = tracking['ball_x'].str.split('[').str[-1]

In [12]:
tracking['ball_x'] = tracking['ball_x'].astype(float)
tracking['ball_z'] = tracking['ball_z'].astype(float)

In [13]:
tracking.columns

Index(['frameIdx', 'ball', 'period', 'gameClock', 'gameClockStopped',
       'shotClock', 'wallClock', 'nbaId', 'home_xyz1', 'home_jersey1',
       'homePlayer1', 'home_xyz2', 'home_jersey2', 'homePlayer2', 'home_xyz3',
       'home_jersey3', 'homePlayer3', 'home_xyz4', 'home_jersey4',
       'homePlayer4', 'home_xyz5', 'home_jersey5', 'homePlayer5', 'away_xyz1',
       'away_jersey1', 'awayPlayer1', 'away_xyz2', 'away_jersey2',
       'awayPlayer2', 'away_xyz3', 'away_jersey3', 'awayPlayer3', 'away_xyz4',
       'away_jersey4', 'awayPlayer4', 'away_xyz5', 'away_jersey5',
       'awayPlayer5', 'home_x1', 'home_y1', 'home_z1', 'home_x2', 'home_y2',
       'home_z2', 'home_x3', 'home_y3', 'home_z3', 'home_x4', 'home_y4',
       'home_z4', 'home_x5', 'home_y5', 'home_z5', 'away_x1', 'away_y1',
       'away_z1', 'away_x2', 'away_y2', 'away_z2', 'away_x3', 'away_y3',
       'away_z3', 'away_x4', 'away_y4', 'away_z4', 'away_x5', 'away_y5',
       'away_z5', 'ball_x', 'ball_y', 'ball_z'],
      dtype='object')

In [14]:
columns_to_drop = ['ball', 'home_xyz1', 'home_xyz2', 'home_xyz3', 'home_xyz4', 'home_xyz5',
                  'away_xyz1', 'away_xyz2', 'away_xyz3', 'away_xyz4', 'away_xyz5',]
tracking.drop(columns_to_drop, axis=1, inplace=True)

In [15]:
# Saving tacking table (optional)
#tracking.to_csv(r"trackings.csv", index=False)