Hackathon: Women in Sports Data 2023
<br>
<br>Author: Isabella Couto Carlos
<br>Date: 7/29/23
<br>

# Importing data (AWS)

## Installing packages and importing libraries

In [ ]:
%pip install boto3
%pip install jsonlines
%pip install jsonlines pandas

In [17]:
import boto3
import jsonlines
import pandas as pd
import json

## Accessing AWS 3

In [21]:
# Replace with your credentials
session = boto3.Session(
    aws_access_key_id='AKIA6KMLMMGZJ6CNEF5X',
    aws_secret_access_key='PnWB9kCglrwRFn2zmv0kMq7nhduN2vIYhyORnkG0'
)

In [22]:
s3_client = session.client('s3')

In [23]:
response = s3_client.list_objects(Bucket='sportradar-wisd-data')
for obj in response['Contents']:
    print(obj['Key'])

games/0042100301/0042100301_events.jsonl
games/0042100301/0042100301_tracking.jsonl
games/0042100302/0042100302_events.jsonl
games/0042100302/0042100302_tracking.jsonl
games/0042100303/0042100303_events.jsonl
games/0042100303/0042100303_tracking.jsonl
games/0042100304/0042100304_events.jsonl
games/0042100304/0042100304_tracking.jsonl
games/0042100305/0042100305_events.jsonl
games/0042100305/0042100305_tracking.jsonl
games/0042100306/0042100306_events.jsonl
games/0042100306/0042100306_tracking.jsonl
games/0042100307/0042100307_events.jsonl
games/0042100307/0042100307_tracking.jsonl
games/0042100311/0042100311_events.jsonl
games/0042100311/0042100311_tracking.jsonl
games/0042100312/0042100312_events.jsonl
games/0042100312/0042100312_tracking.jsonl
games/0042100313/0042100313_events.jsonl
games/0042100313/0042100313_tracking.jsonl
games/0042100314/0042100314_events.jsonl
games/0042100314/0042100314_tracking.jsonl
games/0042100315/0042100315_events.jsonl
games/0042100315/0042100315_tracking.jsonl
games/0042100401/0042100401_events.jsonl
games/0042100401/0042100401_tracking.jsonl
games/0042100402/0042100402_events.jsonl
games/0042100402/0042100402_tracking.jsonl
games/0042100403/0042100403_events.jsonl
games/0042100403/0042100403_tracking.jsonl
games/0042100404/0042100404_events.jsonl
games/0042100404/0042100404_tracking.jsonl
games/0042100405/0042100405_events.jsonl
games/0042100405/0042100405_tracking.jsonl
games/0042100406/0042100406_events.jsonl
games/0042100406/0042100406_tracking.jsonl
metadata/games.json
metadata/players.json
metadata/teams.json

## Importing data

### Events

In [ ]:
keyname = "games/0042100301/0042100301_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d1 = pd.DataFrame(data)
d1['nbaId'] = 42100301

In [ ]:
keyname = "games/0042100302/0042100302_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d3 = pd.DataFrame(data)
d3['nbaId'] = 42100302

In [ ]:
keyname = "games/0042100303/0042100303_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d5 = pd.DataFrame(data)
d5['nbaId'] = 42100303

In [ ]:
keyname = "games/0042100304/0042100304_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d7 = pd.DataFrame(data)
d7['nbaId'] = 42100304

In [ ]:
keyname = "games/0042100305/0042100305_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d9 = pd.DataFrame(data)
d9['nbaId'] = 42100305

In [ ]:
keyname = "games/0042100306/0042100306_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d11 = pd.DataFrame(data)
d11['nbaId'] = 42100306

In [ ]:
keyname = "games/0042100307/0042100307_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d13 = pd.DataFrame(data)
d13['nbaId'] = 42100307

In [ ]:
keyname = "games/0042100311/0042100311_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d15 = pd.DataFrame(data)
d15['nbaId'] = 42100311

In [ ]:
keyname = "games/0042100312/0042100312_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d17 = pd.DataFrame(data)
d17['nbaId'] = 42100312

In [ ]:
keyname = "games/0042100313/0042100313_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d19 = pd.DataFrame(data)
d19['nbaId'] = 42100313

In [ ]:
keyname = "games/0042100314/0042100314_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d21 = pd.DataFrame(data)
d21['nbaId'] = 42100314

In [ ]:
keyname = "games/0042100315/0042100315_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d23 = pd.DataFrame(data)
d23['nbaId'] = 42100315

In [ ]:
keyname = "games/0042100401/0042100401_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d25 = pd.DataFrame(data)
d25['nbaId'] = 42100401

In [ ]:
keyname = "games/0042100402/0042100402_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d27 = pd.DataFrame(data)
d27['nbaId'] = 42100402

In [ ]:
keyname = "games/0042100403/0042100403_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d29 = pd.DataFrame(data)
d29['nbaId'] = 42100403

In [ ]:
keyname = "games/0042100404/0042100404_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d31 = pd.DataFrame(data)
d31['nbaId'] = 42100404

In [ ]:
keyname = "games/0042100405/0042100405_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d33 = pd.DataFrame(data)
d33['nbaId'] = 42100405

In [ ]:
keyname = "games/0042100406/0042100406_events.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d35 = pd.DataFrame(data)
d35['nbaId'] = 42100406

In [ ]:
events = pd.concat([d1, d3, d5, d7, d9, d11, d13, d15, d17, d19, d21, d23, d25, d27, d29, d31, d33, d35])

In [ ]:
events.head()

In [ ]:
# Tranforming the players columns into 5 players columns

events[['homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4', 'homePlayer5']] = pd.DataFrame(events['homePlayers'].tolist())
events[['awayPlayer1', 'awayPlayer2', 'awayPlayer3', 'awayPlayer4', 'awayPlayer5']] = pd.DataFrame(events['awayPlayers'].tolist())

In [ ]:
columns_to_drop = ['homePlayers', 'awayPlayers']
events.drop(columns_to_drop, axis=1, inplace=True)

In [ ]:
events.columns

In [ ]:
# Saving events table (optional)
#events.to_csv(r"events.csv", index=False)

### Tracking

In [5]:
keyname = "games/0042100301/0042100301_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d2 = pd.DataFrame(data)
d2['nbaId'] = 42100301

In [6]:
keyname = "games/0042100302/0042100302_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d4 = pd.DataFrame(data)
d4['nbaId'] = 42100302

In [7]:
keyname = "games/0042100303/0042100303_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d6 = pd.DataFrame(data)
d6['nbaId'] = 42100303

In [8]:
keyname = "games/0042100304/0042100304_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d8 = pd.DataFrame(data)
d8['nbaId'] = 42100304

In [9]:
keyname = "games/0042100305/0042100305_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d10 = pd.DataFrame(data)
d10['nbaId'] = 42100305

In [10]:
keyname = "games/0042100306/0042100306_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d12 = pd.DataFrame(data)
d12['nbaId'] = 42100306

In [11]:
keyname = "games/0042100307/0042100307_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d14 = pd.DataFrame(data)
d14['nbaId'] = 42100307

In [12]:
keyname = "games/0042100311/0042100311_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d16 = pd.DataFrame(data)
d16['nbaId'] = 42100311

In [13]:
keyname = "games/0042100312/0042100312_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d18 = pd.DataFrame(data)
d18['nbaId'] = 42100312

In [14]:
keyname = "games/0042100313/0042100313_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d20 = pd.DataFrame(data)
d20['nbaId'] = 42100313

In [15]:
keyname = "games/0042100314/0042100314_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d22 = pd.DataFrame(data)
d22['nbaId'] = 42100314

In [16]:
keyname = "games/0042100315/0042100315_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d24 = pd.DataFrame(data)
d24['nbaId'] = 42100315

In [17]:
keyname = "games/0042100401/0042100401_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d26 = pd.DataFrame(data)
d26['nbaId'] = 42100401

In [18]:
keyname = "games/0042100402/0042100402_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d28 = pd.DataFrame(data)
d28['nbaId'] = 42100402

In [19]:
keyname = "games/0042100403/0042100403_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d30 = pd.DataFrame(data)
d30['nbaId'] = 42100403

In [20]:
keyname = "games/0042100404/0042100404_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d32 = pd.DataFrame(data)
d32['nbaId'] = 42100404

In [21]:
keyname = "games/0042100405/0042100405_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d34 = pd.DataFrame(data)
d34['nbaId'] = 42100405

In [22]:
keyname = "games/0042100406/0042100406_tracking.jsonl"

data = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

d36 = pd.DataFrame(data)
d36['nbaId'] = 42100406

In [23]:
tracking = pd.concat([d2, d4, d6, d8, d10, d12, d14, d16, d18, d20, d22, d24, d26, d28, d30, d32, d34, d36])

In [24]:
tracking[['homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4', 'homePlayer5']] = pd.DataFrame(tracking['homePlayers'].tolist())
tracking[['awayPlayer1', 'awayPlayer2', 'awayPlayer3', 'awayPlayer4', 'awayPlayer5']] = pd.DataFrame(tracking['awayPlayers'].tolist())

In [25]:
columns_to_drop = ['homePlayers','awayPlayers']
tracking.drop(columns_to_drop, axis=1, inplace=True)

In [26]:
tracking.head()

,frameIdx,ball,period,gameClock,gameClockStopped,shotClock,wallClock,nbaId,homePlayer1,homePlayer2,homePlayer3,homePlayer4,homePlayer5,awayPlayer1,awayPlayer2,awayPlayer3,awayPlayer4,awayPlayer5
0,113040,"[6.85, 9.02, 4.35]",1,720.0,True,24.0,1652834771259,42100301,"{'xyz': [1.92, -1.08, 0], 'jersey': '13', 'pla...","{'xyz': [22.75, 0.42, 0], 'jersey': '17', 'pla...","{'xyz': [12.25, -3.08, 0], 'jersey': '2', 'pla...","{'xyz': [2.42, 6.08, 0], 'jersey': '22', 'play...","{'xyz': [7.25, -4.92, 0], 'jersey': '31', 'pla...","{'xyz': [-2.08, -9.08, 0], 'jersey': '0', 'pla...","{'xyz': [-11.08, 0.25, 0], 'jersey': '12', 'pl...","{'xyz': [-1.75, -0.92, 0], 'jersey': '44', 'pl...","{'xyz': [-1.42, 6.92, 0], 'jersey': '7', 'play...","{'xyz': [-19.92, -1.92, 0], 'jersey': '9', 'pl..."
1,113041,"[6.84, 8.99, 4.37]",1,720.0,True,24.0,1652834771299,42100301,"{'xyz': [1.92, -1.08, 0], 'jersey': '13', 'pla...","{'xyz': [22.69, 0.42, 0], 'jersey': '17', 'pla...","{'xyz': [12.25, -3.08, 0], 'jersey': '2', 'pla...","{'xyz': [2.42, 6.14, 0], 'jersey': '22', 'play...","{'xyz': [7.11, -5.08, 0], 'jersey': '31', 'pla...","{'xyz': [-2.08, -9.08, 0], 'jersey': '0', 'pla...","{'xyz': [-11.15, 0.2, 0], 'jersey': '12', 'pla...","{'xyz': [-1.77, -0.84, 0], 'jersey': '44', 'pl...","{'xyz': [-1.42, 6.92, 0], 'jersey': '7', 'play...","{'xyz': [-19.84, -1.85, 0], 'jersey': '9', 'pl..."
2,113042,"[6.83, 8.93, 4.36]",1,720.0,True,24.0,1652834771339,42100301,"{'xyz': [1.92, -1.11, 0], 'jersey': '13', 'pla...","{'xyz': [22.59, 0.41, 0], 'jersey': '17', 'pla...","{'xyz': [12.25, -3.08, 0], 'jersey': '2', 'pla...","{'xyz': [2.42, 6.2, 0], 'jersey': '22', 'playe...","{'xyz': [7, -5.25, 0], 'jersey': '31', 'player...","{'xyz': [-2.08, -9.06, 0], 'jersey': '0', 'pla...","{'xyz': [-11.21, 0.18, 0], 'jersey': '12', 'pl...","{'xyz': [-1.81, -0.78, 0], 'jersey': '44', 'pl...","{'xyz': [-1.42, 6.92, 0], 'jersey': '7', 'play...","{'xyz': [-19.78, -1.78, 0], 'jersey': '9', 'pl..."
3,113043,"[6.81, 8.86, 4.36]",1,720.0,True,24.0,1652834771379,42100301,"{'xyz': [1.92, -1.13, 0], 'jersey': '13', 'pla...","{'xyz': [22.47, 0.4, 0], 'jersey': '17', 'play...","{'xyz': [12.27, -3.08, 0], 'jersey': '2', 'pla...","{'xyz': [2.42, 6.26, 0], 'jersey': '22', 'play...","{'xyz': [6.91, -5.42, 0], 'jersey': '31', 'pla...","{'xyz': [-2.09, -9.04, 0], 'jersey': '0', 'pla...","{'xyz': [-11.28, 0.18, 0], 'jersey': '12', 'pl...","{'xyz': [-1.83, -0.74, 0], 'jersey': '44', 'pl...","{'xyz': [-1.42, 6.92, 0], 'jersey': '7', 'play...","{'xyz': [-19.73, -1.71, 0], 'jersey': '9', 'pl..."
4,113044,"[6.79, 8.79, 4.36]",1,720.0,True,24.0,1652834771419,42100301,"{'xyz': [1.92, -1.16, 0], 'jersey': '13', 'pla...","{'xyz': [22.34, 0.38, 0], 'jersey': '17', 'pla...","{'xyz': [12.29, -3.08, 0], 'jersey': '2', 'pla...","{'xyz': [2.42, 6.33, 0], 'jersey': '22', 'play...","{'xyz': [6.82, -5.58, 0], 'jersey': '31', 'pla...","{'xyz': [-2.1, -9.01, 0], 'jersey': '0', 'play...","{'xyz': [-11.34, 0.19, 0], 'jersey': '12', 'pl...","{'xyz': [-1.85, -0.7, 0], 'jersey': '44', 'pla...","{'xyz': [-1.42, 6.92, 0], 'jersey': '7', 'play...","{'xyz': [-19.68, -1.64, 0], 'jersey': '9', 'pl..."

In [27]:
tracking[['xyz1', 'jersey1', 'playerID1']] = pd.DataFrame(tracking['homePlayer1'].tolist())
tracking[['xyz2', 'jersey2', 'playerID2']] = pd.DataFrame(tracking['homePlayer2'].tolist())
tracking[['xyz3', 'jersey3', 'playerID3']] = pd.DataFrame(tracking['homePlayer3'].tolist())
tracking[['xyz4', 'jersey4', 'playerID4']] = pd.DataFrame(tracking['homePlayer4'].tolist())
tracking[['xyz5', 'jersey5', 'playerID5']] = pd.DataFrame(tracking['homePlayer5'].tolist())

tracking[['away_xyz1', 'away_jersey1', 'away_playerID1']] = pd.DataFrame(tracking['awayPlayer1'].tolist())
tracking[['away_xyz2', 'away_jersey2', 'away_playerID2']] = pd.DataFrame(tracking['awayPlayer2'].tolist())
tracking[['away_xyz3', 'away_jersey3', 'away_playerID3']] = pd.DataFrame(tracking['awayPlayer3'].tolist())
tracking[['away_xyz4', 'away_jersey4', 'away_playerID4']] = pd.DataFrame(tracking['awayPlayer4'].tolist())
tracking[['away_xyz5', 'away_jersey5', 'away_playerID5']] = pd.DataFrame(tracking['awayPlayer5'].tolist())

In [28]:
tracking.columns

Index(['frameIdx', 'ball', 'period', 'gameClock', 'gameClockStopped',
       'shotClock', 'wallClock', 'nbaId', 'homePlayer1', 'homePlayer2',
       'homePlayer3', 'homePlayer4', 'homePlayer5', 'awayPlayer1',
       'awayPlayer2', 'awayPlayer3', 'awayPlayer4', 'awayPlayer5', 'xyz1',
       'jersey1', 'playerID1', 'xyz2', 'jersey2', 'playerID2', 'xyz3',
       'jersey3', 'playerID3', 'xyz4', 'jersey4', 'playerID4', 'xyz5',
       'jersey5', 'playerID5', 'away_xyz1', 'away_jersey1', 'away_playerID1',
       'away_xyz2', 'away_jersey2', 'away_playerID2', 'away_xyz3',
       'away_jersey3', 'away_playerID3', 'away_xyz4', 'away_jersey4',
       'away_playerID4', 'away_xyz5', 'away_jersey5', 'away_playerID5'],
      dtype='object')

In [29]:
columns_to_drop = ['homePlayer1', 'homePlayer2',
       'homePlayer3', 'homePlayer4', 'homePlayer5', 'awayPlayer1',
       'awayPlayer2', 'awayPlayer3', 'awayPlayer4', 'awayPlayer5']
tracking.drop(columns_to_drop, axis=1, inplace=True)

In [30]:
tracking = tracking.rename(columns={'xyz1': 'home_xyz1', 
                                    'jersey1': 'home_jersey1',
                                    'playerID1': 'homePlayer1',
                                    'xyz2': 'home_xyz2', 
                                    'jersey2': 'home_jersey2',
                                    'playerID2': 'homePlayer2',
                                    'xyz3': 'home_xyz3', 
                                    'jersey3': 'home_jersey3',
                                    'playerID3': 'homePlayer3',
                                    'xyz4': 'home_xyz4', 
                                    'jersey4': 'home_jersey4',
                                    'playerID4': 'homePlayer4',
                                    'xyz5': 'home_xyz5', 
                                    'jersey5': 'home_jersey5',
                                    'playerID5': 'homePlayer5',
                                    'away_playerID1': 'awayPlayer1',
                                    'away_playerID2': 'awayPlayer2',
                                    'away_playerID3': 'awayPlayer3',
                                    'away_playerID4': 'awayPlayer4',
                                    'away_playerID5': 'awayPlayer5',
                                    })

In [31]:
# Saving tacking table (optional)
#tracking.to_csv(r"tracking.csv", index=False)

### Games

In [24]:
keyname = "metadata/games.json"
games = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

In [25]:
games = pd.DataFrame(games[0]['games'])

In [26]:
games.head()

,id,homeTeamId,awayTeamId,nbaId,type,path,prefix,lastMod,completed,trackingState,season,year,month,day
0,befdf1c0-e9b8-489a-80ff-687345af6359,feb4cfab-89ef-11e6-8b77-a45e60e298d3,feb4d380-89ef-11e6-9eb6-a45e60e298d3,0042200407,playoff,2022-23/0042200407/,0042200407,None,False,None,2022,2023,6,18
1,e981ee52-d3dc-4c65-a82f-ad87f4b28ff9,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cfab-89ef-11e6-8b77-a45e60e298d3,0042200406,playoff,2022-23/0042200406/,0042200406,None,False,None,2022,2023,6,15
2,e0999c2e-8ef3-4e35-8ac8-323cec0d8604,feb4cfab-89ef-11e6-8b77-a45e60e298d3,feb4d380-89ef-11e6-9eb6-a45e60e298d3,0042200405,playoff,2022-23/0042200405/,0042200405,2023-06-13T14:44:38.000Z,True,full,2022,2023,6,12
3,f5d39eef-b330-4502-8c22-55fe3bc94ccc,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cfab-89ef-11e6-8b77-a45e60e298d3,0042200404,playoff,2022-23/0042200404/,0042200404,2023-06-13T17:26:53.000Z,True,full,2022,2023,6,9
4,ca16e5da-dd8e-4a13-9876-f40740d74dd2,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cfab-89ef-11e6-8b77-a45e60e298d3,0042200403,playoff,2022-23/0042200403/,0042200403,2023-06-08T17:08:53.000Z,True,full,2022,2023,6,7

In [27]:
# Filtering the games we are evaluating in the analysis

games2 = games[(games['nbaId'] == '0042100301') |
               (games['nbaId'] == '0042100302') |
               (games['nbaId'] == '0042100303') |
               (games['nbaId'] == '0042100304') |
               (games['nbaId'] == '0042100305') |
               (games['nbaId'] == '0042100306') |
               (games['nbaId'] == '0042100307') |
               (games['nbaId'] == '0042100311') |
               (games['nbaId'] == '0042100312') |
               (games['nbaId'] == '0042100313') |
               (games['nbaId'] == '0042100314') |
               (games['nbaId'] == '0042100315') |
               (games['nbaId'] == '0042100401') |
               (games['nbaId'] == '0042100402') |
               (games['nbaId'] == '0042100403') |
               (games['nbaId'] == '0042100404') |
               (games['nbaId'] == '0042100405') |
               (games['nbaId'] == '0042100406')]

In [28]:
# Saving games table (optional)
games2.to_csv(r"games2.csv", index=False)

### Players

In [34]:
keyname = "metadata/players.json"
players = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

In [35]:
players[0]['players']

[{'id': 'ff415697-89ef-11e6-a31e-a45e60e298d3',
  'firstName': 'Aaron',
  'lastName': 'Brooks',
  'nbaId': 201166,
  'height': 72.0,
  'weight': 161.0,
  'dob': '1985-01-14',
  'position': 'G'},
 {'id': 'ff42ec5e-89ef-11e6-96c8-a45e60e298d3',
  'firstName': 'Aaron',
  'lastName': 'Gordon',
  'nbaId': 203932,
  'height': 80.0,
  'weight': 235.0,
  'dob': '1995-09-16',
  'position': 'F'},
 {'id': 'ff4020d4-89ef-11e6-af09-a45e60e298d3',
  'firstName': 'Aaron',
  'lastName': 'Gray',
  'nbaId': 201189,
  'height': 84.0,
  'weight': 270.0,
  'dob': '1984-12-07',
  'position': 'C'},
 {'id': 'ff4199f8-89ef-11e6-854d-a45e60e298d3',
  'firstName': 'Aaron',
  'lastName': 'Harrison',
  'nbaId': 1626151,
  'height': 78.0,
  'weight': 210.0,
  'dob': '1994-10-28',
  'position': 'G'},
 {'id': 'c9b3e617-4bd6-4399-970f-b84358a6783f',
  'firstName': 'Aaron',
  'lastName': 'Henry',
  'nbaId': 1630565,
  'height': 77.0,
  'weight': 210.0,
  'dob': '1999-08-30',
  'position': 'F'},
 {'id': '093abdd8-ac3a-4ae9-bd14-7d8a443e54b2',
  'firstName': 'Aaron',
  'lastName': 'Holiday',
  'nbaId': 1628988,
  'height': 72.0,
  'weight': 185.0,
  'dob': '1996-09-30',
  'position': 'G'},
 {'id': '0c651ced-7b99-4c09-86e6-3a0f31162676',
  'firstName': 'Aaron',
  'lastName': 'Jackson',
  'nbaId': 1628935,
  'height': 75.0,
  'weight': 183.0,
  'dob': '1986-05-06',
  'position': 'G'},
 {'id': '71ebba33-70e0-4ab5-a75a-225a13385fcf',
  'firstName': 'Aaron Lee',
  'lastName': 'Jackson',
  'nbaId': 64110,
  'height': None,
  'weight': None,
  'dob': None,
  'position': None},
 {'id': 'dbbeaca0-300d-47d1-a3eb-d5c96788f056',
  'firstName': 'Aaron',
  'lastName': 'Nesmith',
  'nbaId': 1630174,
  'height': 77.0,
  'weight': 215.0,
  'dob': '1999-10-16',
  'position': 'G-F'},
 {'id': '61d6505c-8bdc-4eba-a929-96d26e7de95d',
  'firstName': 'Aaron',
  'lastName': 'Wiggins',
  'nbaId': 1630598,
  'height': 77.0,
  'weight': 190.0,
  'dob': '1999-01-02',
  'position': 'G'},
 {'id': '478b2745-bc72-4fb1-8204-c1ba5b5b6d0c',
  'firstName': 'Abdel',
  'lastName': 'Nader',
  'nbaId': 1627846,
  'height': 77.0,
  'weight': 225.0,
  'dob': '1993-09-25',
  'position': 'F'},
 {'id': '5017d4b5-6ab5-44bf-b9d8-e9ab83795738',
  'firstName': 'Abdul',
  'lastName': 'Gaddy',
  'nbaId': 203583,
  'height': 75.0,
  'weight': 195.0,
  'dob': '1992-01-26',
  'position': 'G'},
 {'id': '2df953a3-ed9c-4fca-84a3-e416479cbdf2',
  'firstName': 'Adam',
  'lastName': 'Mokoka',
  'nbaId': 1629690,
  'height': 76.0,
  'weight': 190.0,
  'dob': '1998-07-18',
  'position': 'G'},
 {'id': '9055f06b-a530-46de-8a42-0edb9d3d98f7',
  'firstName': 'Ade',
  'lastName': 'Murkey',
  'nbaId': 1630278,
  'height': 77.0,
  'weight': 200.0,
  'dob': '1998-01-29',
  'position': 'G'},
 {'id': '2c55b7a7-23c6-453c-a8f3-1fd941ff4964',
  'firstName': 'Admiral',
  'lastName': 'Schofield',
  'nbaId': 1629678,
  'height': 77.0,
  'weight': 241.0,
  'dob': '1997-03-30',
  'position': 'F'},
 {'id': 'ff41f6d4-89ef-11e6-95c6-a45e60e298d3',
  'firstName': 'Adonis',
  'lastName': 'Thomas',
  'nbaId': 203519,
  'height': 79.0,
  'weight': 240.0,
  'dob': '1993-03-25',
  'position': 'G-F'},
 {'id': 'ff42d6b3-89ef-11e6-b9e9-a45e60e298d3',
  'firstName': 'Adreian',
  'lastName': 'Payne',
  'nbaId': 203940,
  'height': 82.0,
  'weight': 237.0,
  'dob': '1991-02-19',
  'position': 'F'},
 {'id': 'b37bbd3b-102d-42c2-9bfe-7874d64e9068',
  'firstName': 'Ahmad',
  'lastName': 'Caver',
  'nbaId': 1629958,
  'height': 74.0,
  'weight': 174.0,
  'dob': '1996-09-12',
  'position': 'G'},
 {'id': '949231ea-ed02-4186-bacc-50c47aedb984',
  'firstName': 'AJ',
  'lastName': 'Green',
  'nbaId': 1631260,
  'height': 77.0,
  'weight': 190.0,
  'dob': '1999-09-27',
  'position': 'G'},
 {'id': '0891d6c8-a042-4f1c-99d2-de199abbde73',
  'firstName': 'AJ',
  'lastName': 'Griffin',
  'nbaId': 1631100,
  'height': 78.0,
  'weight': 220.0,
  'dob': '2003-08-25',
  'position': 'F'},
 {'id': 'a3d01b91-3013-4162-9ec8-2d5cdb00b58b',
  'firstName': 'AJ',
  'lastName': 'Hammons',
  'nbaId': 1627773,
  'height': 84.0,
  'weight': 260.0,
  'dob': '1992-08-27',
  'position': 'C'},
 {'id': 'ed39e2d6-ce65-43e5-9ea9-d579d0526a1f',
  'firstName': 'A.J.',
  'lastName': 'Lawson',
  'nbaId': 1630639,
  'height': 78.0,
  'weight': 179.0,
  'dob': '2000-07-15',
  'position': 'G'},
 {'id': 'ff419342-89ef-11e6-bf6a-a45e60e298d3',
  'firstName': 'AJ',
  'lastName': 'Price',
  'nbaId': 201985,
  'height': 74.0,
  'weight': 195.0,
  'dob': '1986-10-07',
  'position': 'G'},
 {'id': 'ff417e97-89ef-11e6-b78b-a45e60e298d3',
  'firstName': 'Alan',
  'lastName': 'Anderson',
  'nbaId': 101187,
  'height': 78.0,
  'weight': 220.0,
  'dob': '1982-10-16',
  'position': 'F-G'},
 {'id': 'ff424094-89ef-11e6-b14c-a45e60e298d3',
  'firstName': 'Alan',
  'lastName': 'Williams',
  'nbaId': 1626210,
  'height': 80.0,
  'weight': 265.0,
  'dob': '1993-01-28',
  'position': 'F-C'},
 {'id': 'ff413140-89ef-11e6-aebf-a45e60e298d3',
  'firstName': 'Alec',
  'lastName': 'Burks',
  'nbaId': 202692,
  'height': 78.0,
  'weight': 214.0,
  'dob': '1991-07-20',
  'position': 'G'},
 {'id': '576ff43f-4403-4765-b701-f51119e8faeb',
  'firstName': 'Alec',
  'lastName': 'Peters',
  'nbaId': 1628409,
  'height': 81.0,
  'weight': 235.0,
  'dob': '1995-04-13',
  'position': 'F'},
 {'id': '001223b8-e998-4bb1-aa00-b32d2a2e6e21',
  'firstName': 'Aleem',
  'lastName': 'Ford',
  'nbaId': 1630758,
  'height': 80.0,
  'weight': 220.0,
  'dob': '1997-12-22',
  'position': 'F'},
 {'id': '42485687-4d99-4ad9-aac2-04371f62d0fa',
  'firstName': 'Aleksej',
  'lastName': 'Pokusevski',
  'nbaId': 1630197,
  'height': 84.0,
  'weight': 210.0,
  'dob': '2001-12-26',
  'position': 'F'},
 {'id': '155d8dd9-5a5e-46be-98e8-f8f0c89f2276',
  'firstName': 'Alen',
  'lastName': 'Smailagic',
  'nbaId': 1629346,
  'height': 82.0,
  'weight': 215.0,
  'dob': '2000-08-18',
  'position': 'F'},
 {'id': '7213872a-6dc1-44dc-ae67-e919a3723a92',
  'firstName': 'Alex',
  'lastName': 'Abrines',
  'nbaId': 203518,
  'height': 78.0,
  'weight': 200.0,
  'dob': '1993-08-01',
  'position': 'G'},
 {'id': '1cb88acb-4620-4eca-b266-8f1122c23102',
  'firstName': 'Alex',
  'lastName': 'Caruso',
  'nbaId': 1627936,
  'height': 77.0,
  'weight': 186.0,
  'dob': '1994-02-28',
  'position': 'G'},
 {'id': 'ff4284d1-89ef-11e6-b5f0-a45e60e298d3',
  'firstName': 'Alexey',
  'lastName': 'Shved',
  'nbaId': 203144,
  'height': 78.0,
  'weight': 187.0,
  'dob': '1988-12-16',
  'position': 'G'},
 {'id': 'ff424ec0-89ef-11e6-8c87-a45e60e298d3',
  'firstName': 'Alexis',
  'lastName': 'Ajinca',
  'nbaId': 201582,
  'height': 86.0,
  'weight': 248.0,
  'dob': '1988-05-06',
  'position': 'C'},
 {'id': 'ff420c1e-89ef-11e6-8413-a45e60e298d3',
  'firstName': 'Alex',
  'lastName': 'Kirk',
  'nbaId': 203945,
  'height': 84.0,
  'weight': 245.0,
  'dob': '1991-11-14',
  'position': 'C'},
 {'id': 'ff42c0ee-89ef-11e6-b9df-a45e60e298d3',
  'firstName': 'Alex',
  'lastName': 'Len',
  'nbaId': 203458,
  'height': 86.0,
  'weight': 250.0,
  'dob': '1993-06-16',
  'position': 'C'},
 {'id': '5652a3fc-9ee1-488d-b8b4-47e034db4432',
  'firstName': 'Alex',
  'lastName': 'Pledger',
  'nbaId': 64029,
  'height': None,
  'weight': None,
  'dob': None,
  'position': None},
 {'id': '0f7ec5da-c531-4b95-9f7d-3e1c76b8f7d2',
  'firstName': 'Alex',
  'lastName': 'Poythress',
  'nbaId': 1627816,
  'height': 81.0,
  'weight': 235.0,
  'dob': '1993-09-06',
  'position': 'F'},
 {'id': 'ff418ec2-89ef-11e6-8de6-a45e60e298d3',
  'firstName': 'Alex',
  'lastName': 'Stepheson',
  'nbaId': 1627293,
  'height': None,
  'weight': None,
  'dob': '',
  'position': ''},
 {'id': 'ff41c24a-89ef-11e6-9d40-a45e60e298d3',
  'firstName': 'Al-Farouq',
  'lastName': 'Aminu',
  'nbaId': 202329,
  'height': 80.0,
  'weight': 220.0,
  'dob': '1990-09-21',
  'position': 'F'},
 {'id': '59da7265-5163-4037-beaf-ddf3b79b6ddc',
  'firstName': 'Alfonzo',
  'lastName': 'McKinnie',
  'nbaId': 1628035,
  'height': 79.0,
  'weight': 215.0,
  'dob': '1992-09-17',
  'position': 'F'},
 {'id': 'ff42811c-89ef-11e6-844f-a45e60e298d3',
  'firstName': 'Al',
  'lastName': 'Harrington',
  'nbaId': 1733,
  'height': 81.0,
  'weight': 245.0,
  'dob': '1980-02-17',
  'position': 'F'},
 {'id': 'ff427c2e-89ef-11e6-8d2a-a45e60e298d3',
  'firstName': 'Al',
  'lastName': 'Horford',
  'nbaId': 201143,
  'height': 81.0,
  'weight': 240.0,
  'dob': '1986-06-03',
  'position': 'C-F'},
 {'id': 'c97ec77d-b190-477c-8f04-2d8be4554830',
  'firstName': 'Alize',
  'lastName': 'Johnson',
  'nbaId': 1628993,
  'height': 80.0,
  'weight': 212.0,
  'dob': '1996-04-22',
  'position': 'F'},
 {'id': 'ff42d721-89ef-11e6-a9ef-a45e60e298d3',
  'firstName': 'Al',
  'lastName': 'Jefferson',
  'nbaId': 2744,
  'height': 82.0,
  'weight': 280.0,
  'dob': '1985-01-04',
  'position': 'C'},
 {'id': 'ff411763-89ef-11e6-b6ed-a45e60e298d3',
  'firstName': 'Allen',
  'lastName': 'Crabbe',
  'nbaId': 203459,
  'height': 78.0,
  'weight': 212.0,
  'dob': '1992-04-09',
  'position': 'G-F'},
 {'id': '4b673925-1d15-4096-8a9b-5ab981dbe6ba',
  'firstName': 'Allonzo',
  'lastName': 'Trier',
  'nbaId': 1629019,
  'height': 76.0,
  'weight': 200.0,
  'dob': '1996-01-17',
  'position': 'G'},
 {'id': 'e555cb48-990b-4ef7-8464-59adc6adf34d',
  'firstName': 'Alondes',
  'lastName': 'Williams',
  'nbaId': 1631214,
  'height': 76.0,
  'weight': 210.0,
  'dob': '1999-06-19',
  'position': 'G'},
 {'id': 'ff415b97-89ef-11e6-942f-a45e60e298d3',
  'firstName': 'Alonzo',
  'lastName': 'Gee',
  'nbaId': 202087,
  'height': 78.0,
  'weight': 225.0,
  'dob': '1987-05-29',
  'position': 'F'},
 {'id': '921d0103-6fc4-4e96-b01d-11d4765dcf10',
  'firstName': 'Alperen',
  'lastName': 'Sengun',
  'nbaId': 1630578,
  'height': 83.0,
  'weight': 243.0,
  'dob': '2002-07-25',
  'position': 'C'},
 {'id': 'ff4145b8-89ef-11e6-88ee-a45e60e298d3',
  'firstName': "Amar'e",
  'lastName': 'Stoudemire',
  'nbaId': 2405,
  'height': 82.0,
  'weight': 245.0,
  'dob': '1982-11-16',
  'position': 'F-C'},
 {'id': '90d297e0-af6c-4449-8eac-d9b5812da073',
  'firstName': 'Amida',
  'lastName': 'Brimah',
  'nbaId': 1628578,
  'height': 82.0,
  'weight': 230.0,
  'dob': '1994-02-11',
  'position': 'C'},
 {'id': 'e7feaa8a-6045-4b4e-a333-0aba549ce665',
  'firstName': 'Amile',
  'lastName': 'Jefferson',
  'nbaId': 1628518,
  'height': 81.0,
  'weight': 222.0,
  'dob': '1993-05-07',
  'position': 'F'},
 {'id': '9703e798-53ed-483a-b30e-6fe843a9f2cb',
  'firstName': 'Amir',
  'lastName': 'Coffey',
  'nbaId': 1629599,
  'height': 79.0,
  'weight': 210.0,
  'dob': '1997-06-17',
  'position': 'G-F'},
 {'id': 'ff4157f5-89ef-11e6-be80-a45e60e298d3',
  'firstName': 'Amir',
  'lastName': 'Johnson',
  'nbaId': 101161,
  'height': 81.0,
  'weight': 240.0,
  'dob': '1987-05-01',
  'position': 'C-F'},
 {'id': 'ff411e8a-89ef-11e6-9a8f-a45e60e298d3',
  'firstName': 'Anderson',
  'lastName': 'Varejao',
  'nbaId': 2760,
  'height': 83.0,
  'weight': 260.0,
  'dob': '1982-09-28',
  'position': 'F'},
 {'id': 'ff41728f-89ef-11e6-a77b-a45e60e298d3',
  'firstName': 'Andray',
  'lastName': 'Blatche',
  'nbaId': 101154,
  'height': 83.0,
  'weight': 260.0,
  'dob': '1986-08-22',
  'position': 'C-F'},
 {'id': 'ff41cd9e-89ef-11e6-bd78-a45e60e298d3',
  'firstName': 'Andrea',
  'lastName': 'Bargnani',
  'nbaId': 200745,
  'height': 84.0,
  'weight': 245.0,
  'dob': '1985-10-26',
  'position': 'C-F'},
 {'id': 'ff42c8c0-89ef-11e6-95db-a45e60e298d3',
  'firstName': 'Andre',
  'lastName': 'Dawkins',
  'nbaId': 203958,
  'height': 77.0,
  'weight': 219.0,
  'dob': '1991-09-19',
  'position': 'G'},
 {'id': 'ff415268-89ef-11e6-a137-a45e60e298d3',
  'firstName': 'Andre',
  'lastName': 'Drummond',
  'nbaId': 203083,
  'height': 82.0,
  'weight': 279.0,
  'dob': '1993-08-10',
  'position': 'C'},
 {'id': 'ff41b642-89ef-11e6-8ec0-a45e60e298d3',
  'firstName': 'Andre',
  'lastName': 'Iguodala',
  'nbaId': 2738,
  'height': 78.0,
  'weight': 215.0,
  'dob': '1984-01-28',
  'position': 'G-F'},
 {'id': 'ff410dc7-89ef-11e6-898a-a45e60e298d3',
  'firstName': 'Andrei',
  'lastName': 'Kirilenko',
  'nbaId': 1905,
  'height': 81.0,
  'weight': 235.0,
  'dob': '1981-02-18',
  'position': 'F'},
 {'id': '67da2488-7858-41d6-ab1a-0f4faedce9b7',
  'firstName': 'Andre',
  'lastName': 'Ingram',
  'nbaId': 201281,
  'height': 75.0,
  'weight': 190.0,
  'dob': '1985-11-19',
  'position': 'G'},
 {'id': 'ff401eae-89ef-11e6-9267-a45e60e298d3',
  'firstName': 'Andre',
  'lastName': 'Miller',
  'nbaId': 1889,
  'height': 75.0,
  'weight': 200.0,
  'dob': '1976-03-19',
  'position': 'G'},
 {'id': 'ff4245a6-89ef-11e6-a211-a45e60e298d3',
  'firstName': 'Andre',
  'lastName': 'Roberson',
  'nbaId': 203460,
  'height': 79.0,
  'weight': 210.0,
  'dob': '1991-12-04',
  'position': 'G-F'},
 {'id': 'ff421e2b-89ef-11e6-a705-a45e60e298d3',
  'firstName': 'Andrew',
  'lastName': 'Bogut',
  'nbaId': 101106,
  'height': 84.0,
  'weight': 260.0,
  'dob': '1984-11-28',
  'position': 'C'},
 {'id': 'ff413ab3-89ef-11e6-8fb3-a45e60e298d3',
  'firstName': 'Andrew',
  'lastName': 'Bynum',
  'nbaId': 101115,
  'height': 84.0,
  'weight': 285.0,
  'dob': '1987-10-27',
  'position': 'C'},
 {'id': 'ff4148cc-89ef-11e6-b4ce-a45e60e298d3',
  'firstName': 'Andrew',
  'lastName': 'Goudelock',
  'nbaId': 202726,
  'height': 75.0,
  'weight': 200.0,
  'dob': '1988-12-07',
  'position': 'G'},
 {'id': '2148409e-66df-4c59-941f-73bbd8138eb0',
  'firstName': 'Andrew',
  'lastName': 'Harrison',
  'nbaId': 1626150,
  'height': 78.0,
  'weight': 213.0,
  'dob': '1994-10-28',
  'position': 'G'},
 {'id': '2e1c9f09-e9cf-44f6-ba61-b91c0cc0b2d4',
  'firstName': 'Andrew',
  'lastName': 'Nembhard',
  'nbaId': 1629614,
  'height': 75.0,
  'weight': 191.0,
  'dob': '2000-01-16',
  'position': 'G-F'},
 {'id': 'ff40235e-89ef-11e6-9cca-a45e60e298d3',
  'firstName': 'Andrew',
  'lastName': 'Nicholson',
  'nbaId': 203094,
  'height': 81.0,
  'weight': 250.0,
  'dob': '1989-12-08',
  'position': 'F'},
 {'id': '15e25b7c-4313-4fa1-b2e0-ae7fbfdf6299',
  'firstName': 'Andrew',
  'lastName': 'White III',
  'nbaId': 1628510,
  'height': 79.0,
  'weight': 210.0,
  'dob': '1993-06-16',
  'position': 'F'},
 {'id': 'ff4187ba-89ef-11e6-9d60-a45e60e298d3',
  'firstName': 'Andrew',
  'lastName': 'Wiggins',
  'nbaId': 203952,
  'height': 79.0,
  'weight': 197.0,
  'dob': '1995-02-23',
  'position': 'F'},
 {'id': 'ff428fa3-89ef-11e6-bdf1-a45e60e298d3',
  'firstName': 'Andris',
  'lastName': 'Biedrins',
  'nbaId': 2740,
  'height': 84.0,
  'weight': 250.0,
  'dob': '1986-04-02',
  'position': 'C'},
 {'id': '6c9b69dd-c0e1-42d1-85ae-7c0af79d07fc',
  'firstName': 'Anfernee',
  'lastName': 'Simons',
  'nbaId': 1629014,
  'height': 75.0,
  'weight': 181.0,
  'dob': '1999-06-08',
  'position': 'G'},
 {'id': '2a58cbcb-7af3-4871-a4d5-b31b5610d77f',
  'firstName': 'Angel',
  'lastName': 'Delgado',
  'nbaId': 1629116,
  'height': 82.0,
  'weight': 245.0,
  'dob': '1994-11-20',
  'position': 'C'},
 {'id': '1584f13f-cfeb-4237-9933-0535edd66cf7',
  'firstName': 'Angel',
  'lastName': 'Rodriguez',
  'nbaId': 1629285,
  'height': None,
  'weight': None,
  'dob': None,
  'position': None},
 {'id': '127e64ad-1aaf-4fc5-ac71-2232b0681641',
  'firstName': 'Angus',
  'lastName': 'Brandt',
  'nbaId': 64038,
  'height': None,
  'weight': None,
  'dob': None,
  'position': None},
 {'id': 'ff4222b0-89ef-11e6-8152-a45e60e298d3',
  'firstName': 'Antawn',
  'lastName': 'Jamison',
  'nbaId': 1712,
  'height': 81.0,
  'weight': 235.0,
  'dob': '1976-06-12',
  'position': 'F'},
 {'id': 'a98836e1-43d1-490d-a08a-790a9adc0954',
  'firstName': 'Ante',
  'lastName': 'Zizic',
  'nbaId': 1627790,
  'height': 82.0,
  'weight': 266.0,
  'dob': '1997-01-04',
  'position': 'C'},
 {'id': 'ff423d87-89ef-11e6-953e-a45e60e298d3',
  'firstName': 'Anthony',
  'lastName': 'Bennett',
  'nbaId': 203461,
  'height': 80.0,
  'weight': 245.0,
  'dob': '1993-03-14',
  'position': 'F'},
 {'id': 'ff403e40-89ef-11e6-95d0-a45e60e298d3',
  'firstName': 'Anthony',
  'lastName': 'Brown',
  'nbaId': 1626148,
  'height': 79.0,
  'weight': 224.0,
  'dob': '1992-10-10',
  'position': 'F-G'},
 {'id': 'ff41df59-89ef-11e6-810a-a45e60e298d3',
  'firstName': 'Anthony',
  'lastName': 'Davis',
  'nbaId': 203076,
  'height': 82.0,
  'weight': 253.0,
  'dob': '1993-03-11',
  'position': 'F-C'},
 {'id': '4513d4f2-9315-4f88-bda2-896137de5a43',
  'firstName': 'Anthony',
  'lastName': 'Edwards',
  'nbaId': 1630162,
  'height': 76.0,
  'weight': 225.0,
  'dob': '2001-08-05',
  'position': 'G'},
 {'id': 'a7c0bf5b-a8d5-4d45-b433-c27e935e9147',
  'firstName': 'Anthony',
  'lastName': 'Gill',
  'nbaId': 1630264,
  'height': 80.0,
  'weight': 230.0,
  'dob': '1992-10-17',
  'position': 'F'},
 {'id': '136d2401-199b-4ad3-8f67-d58555fbdcc4',
  'firstName': 'Anthony',
  'lastName': 'Lamb',
  'nbaId': 1630237,
  'height': 78.0,
  'weight': 227.0,
  'dob': '1998-01-20',
  'position': 'F'},
 {'id': 'ff4270e6-89ef-11e6-9fdc-a45e60e298d3',
  'firstName': 'Anthony',
  'lastName': 'Morrow',
  'nbaId': 201627,
  'height': 77.0,
  'weight': 210.0,
  'dob': '1985-09-27',
  'position': 'G'},
 {'id': 'ff41d6cc-89ef-11e6-b70b-a45e60e298d3',
  'firstName': 'Anthony',
  'lastName': 'Randolph',
  'nbaId': 201576,
  'height': 83.0,
  'weight': 225.0,
  'dob': '1989-07-15',
  'position': 'F'},
 {'id': 'ff4200a1-89ef-11e6-8786-a45e60e298d3',
  'firstName': 'Anthony',
  'lastName': 'Tolliver',
  'nbaId': 201229,
  'height': 80.0,
  'weight': 240.0,
  'dob': '1985-06-01',
  'position': 'F'},
 {'id': '9cb89edd-42ca-4610-84c8-a1c5f2108739',
  'firstName': 'Antonio',
  'lastName': 'Blakeney',
  'nbaId': 1628469,
  'height': 76.0,
  'weight': 192.0,
  'dob': '1996-10-04',
  'position': 'G'},
 {'id': '7649c417-6492-4dd7-bea5-fa16b64bacc0',
  'firstName': 'Antonius',
  'lastName': 'Cleveland',
  'nbaId': 1628499,
  'height': 77.0,
  'weight': 195.0,
  'dob': '1994-02-02',
  'position': 'G'},
 {'id': 'de4ff6fd-b581-4203-9257-980f6c784cb3',
  'firstName': 'Anzejs',
  'lastName': 'Pasecniks',
  'nbaId': 1628394,
  'height': 85.0,
  'weight': 229.0,
  'dob': '1995-12-20',
  'position': 'C-F'},
 {'id': 'ff410cf5-89ef-11e6-b306-a45e60e298d3',
  'firstName': 'Archie',
  'lastName': 'Goodwin',
  'nbaId': 203462,
  'height': 77.0,
  'weight': 205.0,
  'dob': '1994-08-17',
  'position': 'G'},
 {'id': '64abafcb-b4fc-4958-82f7-86d64cbc3117',
  'firstName': 'Aric',
  'lastName': 'Holman',
  'nbaId': 1629689,
  'height': 81.0,
  'weight': 225.0,
  'dob': '1997-07-11',
  'position': 'F-C'},
 {'id': 'ff41ff07-89ef-11e6-a16e-a45e60e298d3',
  'firstName': 'Arinze',
  'lastName': 'Onuaku',
  'nbaId': 202620,
  'height': 81.0,
  'weight': 255.0,
  'dob': '1987-07-13',
  'position': 'F-C'},
 {'id': 'f1840087-19db-4e36-82c8-21d27bac19e1',
  'firstName': 'Armoni',
  'lastName': 'Brooks',
  'nbaId': 1629717,
  'height': 75.0,
  'weight': 195.0,
  'dob': '1998-06-05',
  'position': 'G'},
 {'id': 'ff401561-89ef-11e6-be08-a45e60e298d3',
  'firstName': 'Arnett',
  'lastName': 'Moultrie',
  'nbaId': 203102,
  'height': 82.0,
  'weight': 240.0,
  'dob': '1990-11-18',
  'position': 'F'},
 {'id': 'ebea3aaf-8a31-46f4-b732-57a980fc70aa',
  'firstName': 'Arnoldas',
  'lastName': 'Kulboka',
  'nbaId': 1629083,
  'height': 82.0,
  'weight': 209.0,
  'dob': '1998-01-04',
  'position': 'F'},
 {'id': 'ff413e73-89ef-11e6-a5df-a45e60e298d3',
  'firstName': 'Aron',
  'lastName': 'Baynes',
  'nbaId': 203382,
  'height': 82.0,
  'weight': 260.0,
  'dob': '1986-12-09',
  'position': 'C-F'},
 {'id': 'ff40221e-89ef-11e6-a5ca-a45e60e298d3',
  'firstName': 'Arron',
  'lastName': 'Afflalo',
  'nbaId': 201167,
  'height': 77.0,
  'weight': 215.0,
  'dob': '1985-10-15',
  'position': 'G'},
 {'id': 'c3bac0da-e832-4732-b5b1-2f0155d12636',
  'firstName': 'Ashton',
  'lastName': 'Hagans',
  'nbaId': 1630204,
  'height': 75.0,
  'weight': 190.0,
  'dob': '1999-07-08',
  'position': 'G-F'},
 {'id': 'ff41b21c-89ef-11e6-b120-a45e60e298d3',
  'firstName': 'Austin',
  'lastName': 'Daye',
  'nbaId': 201948,
  'height': 83.0,
  'weight': 220.0,

In [36]:
players = pd.DataFrame(players[0]['players'])

In [37]:
players.head()

,id,firstName,lastName,nbaId,height,weight,dob,position
0,ff415697-89ef-11e6-a31e-a45e60e298d3,Aaron,Brooks,201166,72.0,161.0,1985-01-14,G
1,ff42ec5e-89ef-11e6-96c8-a45e60e298d3,Aaron,Gordon,203932,80.0,235.0,1995-09-16,F
2,ff4020d4-89ef-11e6-af09-a45e60e298d3,Aaron,Gray,201189,84.0,270.0,1984-12-07,C
3,ff4199f8-89ef-11e6-854d-a45e60e298d3,Aaron,Harrison,1626151,78.0,210.0,1994-10-28,G
4,c9b3e617-4bd6-4399-970f-b84358a6783f,Aaron,Henry,1630565,77.0,210.0,1999-08-30,F

In [38]:
# Saving players table (optional)
players.to_csv(r"players.csv", index=False)

### Teams

In [29]:
keyname = "metadata/teams.json"
teams = [json.loads(line) for line in s3_client.get_object(Bucket='sportradar-wisd-data', Key=keyname)['Body'].read().decode('utf-8').strip().split('\n')]

In [30]:
teams[0]['teams']

[{'id': '5c079629-763c-4098-ba62-424375967c9a',
  'name': 'Adelaide 36ers',
  'abbrev': 'ADL',
  'nbaId': 15019},
 {'id': 'feb3e09c-89ef-11e6-9f68-a45e60e298d3',
  'name': 'Atlanta Hawks',
  'abbrev': 'ATL',
  'nbaId': 1610612737},
 {'id': '6964d06d-ab82-419c-8a16-0d8ff6a17f94',
  'name': 'Beijing Ducks',
  'abbrev': 'BJD',
  'nbaId': 15021},
 {'id': 'feb4cb57-89ef-11e6-86b2-a45e60e298d3',
  'name': 'Boston Celtics',
  'abbrev': 'BOS',
  'nbaId': 1610612738},
 {'id': 'feb4cc63-89ef-11e6-9333-a45e60e298d3',
  'name': 'Brooklyn Nets',
  'abbrev': 'BKN',
  'nbaId': 1610612751},
 {'id': 'e1f9fb0b-45f2-4879-b7a6-2fd93dceec21',
  'name': 'Buenos Aires San Lorenzo',
  'abbrev': 'SLA',
  'nbaId': 12330},
 {'id': 'feb4cd05-89ef-11e6-a4e3-a45e60e298d3',
  'name': 'Charlotte Hornets',
  'abbrev': 'CHA',
  'nbaId': 1610612766},
 {'id': 'feb4cdf5-89ef-11e6-9ab9-a45e60e298d3',
  'name': 'Chicago Bulls',
  'abbrev': 'CHI',
  'nbaId': 1610612741},
 {'id': 'feb4ceb0-89ef-11e6-9f6d-a45e60e298d3',
  'name': 'Cleveland Cavaliers',
  'abbrev': 'CLE',
  'nbaId': 1610612739},
 {'id': 'feb4cf33-89ef-11e6-9be9-a45e60e298d3',
  'name': 'Dallas Mavericks',
  'abbrev': 'DAL',
  'nbaId': 1610612742},
 {'id': 'feb4cfab-89ef-11e6-8b77-a45e60e298d3',
  'name': 'Denver Nuggets',
  'abbrev': 'DEN',
  'nbaId': 1610612743},
 {'id': 'feb4d023-89ef-11e6-9ca7-a45e60e298d3',
  'name': 'Detroit Pistons',
  'abbrev': 'DET',
  'nbaId': 1610612765},
 {'id': 'feb4d0a6-89ef-11e6-82c6-a45e60e298d3',
  'name': 'Golden State Warriors',
  'abbrev': 'GSW',
  'nbaId': 1610612744},
 {'id': '7c2a4c24-7f69-41a1-8c93-743998dff6c0',
  'name': 'Guangzhou Long-Lions',
  'abbrev': 'GUA',
  'nbaId': 15018},
 {'id': '6171e6b8-0f9f-432c-829a-5f7d77b9c924',
  'name': 'Haifa Maccabi Haifa',
  'abbrev': 'MAC',
  'nbaId': 93},
 {'id': 'feb4d133-89ef-11e6-8fc9-a45e60e298d3',
  'name': 'Houston Rockets',
  'abbrev': 'HOU',
  'nbaId': 1610612745},
 {'id': 'feb4d1a8-89ef-11e6-b2fc-a45e60e298d3',
  'name': 'Indiana Pacers',
  'abbrev': 'IND',
  'nbaId': 1610612754},
 {'id': 'feb4d217-89ef-11e6-a043-a45e60e298d3',
  'name': 'LA Clippers',
  'abbrev': 'LAC',
  'nbaId': 1610612746},
 {'id': 'feb4d291-89ef-11e6-b8e0-a45e60e298d3',
  'name': 'Los Angeles Lakers',
  'abbrev': 'LAL',
  'nbaId': 1610612747},
 {'id': 'f8acbe2b-a57d-4397-a9bc-b1afd5c2b386',
  'name': 'Melbourne United',
  'abbrev': 'MEL',
  'nbaId': 15016},
 {'id': 'feb4d307-89ef-11e6-a733-a45e60e298d3',
  'name': 'Memphis Grizzlies',
  'abbrev': 'MEM',
  'nbaId': 1610612763},
 {'id': 'feb4d380-89ef-11e6-9eb6-a45e60e298d3',
  'name': 'Miami Heat',
  'abbrev': 'MIA',
  'nbaId': 1610612748},
 {'id': 'feb4d402-89ef-11e6-b582-a45e60e298d3',
  'name': 'Milwaukee Bucks',
  'abbrev': 'MIL',
  'nbaId': 1610612749},
 {'id': 'feb4d47a-89ef-11e6-8a69-a45e60e298d3',
  'name': 'Minnesota Timberwolves',
  'abbrev': 'MIN',
  'nbaId': 1610612750},
 {'id': 'feb4d4f0-89ef-11e6-bb54-a45e60e298d3',
  'name': 'New Orleans Pelicans',
  'abbrev': 'NOP',
  'nbaId': 1610612740},
 {'id': 'feb4d56b-89ef-11e6-878c-a45e60e298d3',
  'name': 'New York Knicks',
  'abbrev': 'NYK',
  'nbaId': 1610612752},
 {'id': '2550ae76-688b-4ff6-afd8-077edd94eb41',
  'name': 'New Zealand Breakers',
  'abbrev': 'NZB',
  'nbaId': 15020},
 {'id': 'feb4d5d7-89ef-11e6-9d9c-a45e60e298d3',
  'name': 'Oklahoma City Thunder',
  'abbrev': 'OKC',
  'nbaId': 1610612760},
 {'id': 'feb4d663-89ef-11e6-a9ba-a45e60e298d3',
  'name': 'Orlando Magic',
  'abbrev': 'ORL',
  'nbaId': 1610612753},
 {'id': '07880613-b4aa-489f-86d5-887c678ea433',
  'name': 'Perth Wildcats',
  'abbrev': 'PER',
  'nbaId': 104},
 {'id': 'feb4d6d1-89ef-11e6-a925-a45e60e298d3',
  'name': 'Philadelphia 76ers',
  'abbrev': 'PHI',
  'nbaId': 1610612755},
 {'id': 'feb4d74a-89ef-11e6-9a6e-a45e60e298d3',
  'name': 'Phoenix Suns',
  'abbrev': 'PHX',
  'nbaId': 1610612756},
 {'id': 'feb4d7b8-89ef-11e6-80f2-a45e60e298d3',
  'name': 'Portland Trail Blazers',
  'abbrev': 'POR',
  'nbaId': 1610612757},
 {'id': '2d68bc93-bc6f-462f-8dfe-768b4f4c7475',
  'name': "Ra'anana Maccabi Ra'anana",
  'abbrev': 'MRA',
  'nbaId': 50009},
 {'id': 'feb4d830-89ef-11e6-9960-a45e60e298d3',
  'name': 'Sacramento Kings',
  'abbrev': 'SAC',
  'nbaId': 1610612758},
 {'id': 'feb4d8ba-89ef-11e6-aeb3-a45e60e298d3',
  'name': 'San Antonio Spurs',
  'abbrev': 'SAS',
  'nbaId': 1610612759},
 {'id': '08901817-760b-4595-b2d4-667f3ef19bb5',
  'name': 'SESI/Franca Basketball Club of Brazil',
  'abbrev': 'FRA',
  'nbaId': 12332},
 {'id': '07a3f43e-70a1-4c5a-a6b0-34bcfbbe04c4',
  'name': 'Shanghai Sharks',
  'abbrev': 'SDS',
  'nbaId': 12329},
 {'id': 'ae4a0122-9739-4bee-9e6e-7192b70d734b',
  'name': 'Sydney Kings',
  'abbrev': 'SYD',
  'nbaId': 15015},
 {'id': '0000b397-3cf4-4dd4-a910-000000000002',
  'name': 'Team Bailey',
  'abbrev': 'TTG',
  'nbaId': 1609800002},
 {'id': '0000b397-3cf4-4dd4-a910-000000000001',
  'name': 'Team Bradds',
  'abbrev': 'TOW',
  'nbaId': 1609800001},
 {'id': '9c7441ff-bcdc-4b88-a5b6-92fe911cdf6b',
  'name': 'Team Deron',
  'abbrev': 'PAY',
  'nbaId': 1610616848},
 {'id': 'e78b285b-5802-4959-99d1-619e572070e4',
  'name': 'Team Dwyane',
  'abbrev': 'HME',
  'nbaId': 1610616839},
 {'id': '0f2c1849-e3d2-49b7-8cef-6a7820efa42f',
  'name': 'Team Giannis',
  'abbrev': 'GNS',
  'nbaId': 1610616833},
 {'id': '0000b397-3cf4-4dd4-a910-000000000004',
  'name': 'Team Hines',
  'abbrev': 'TFG',
  'nbaId': 1609800004},
 {'id': '4f907a23-4ece-4945-b8a6-2d288af3c430',
  'name': 'Team Jason',
  'abbrev': 'WOR',
  'nbaId': 1610616850},
 {'id': 'e96736af-3c9e-413e-b4dc-499dd899a701',
  'name': 'Team Joakim',
  'abbrev': 'IAH',
  'nbaId': 1610616849},
 {'id': '2473101d-7928-4101-9324-b08def5b59ac',
  'name': 'Team LeBron',
  'abbrev': 'LBN',
  'nbaId': 1610616834},
 {'id': '19ba97f1-d148-469b-b960-9fef02e5a959',
  'name': 'Team Pau',
  'abbrev': 'BAR',
  'nbaId': 1610616847},
 {'id': '0000b397-3cf4-4dd4-a910-000000000003',
  'name': 'Team Richman',
  'abbrev': 'TTW',
  'nbaId': 1609800003},
 {'id': '1b8ca51e-8421-44ab-8947-c8ec89fd4b27',
  'name': 'Team Ryan',
  'abbrev': 'AWY',
  'nbaId': 1610616840},
 {'id': 'feb4d935-89ef-11e6-b12d-a45e60e298d3',
  'name': 'Toronto Raptors',
  'abbrev': 'TOR',
  'nbaId': 1610612761},
 {'id': 'f90888fe-3266-42f1-91da-35e8dfe23af2',
  'name': 'USA USA',
  'abbrev': 'USA',
  'nbaId': 1610616843},
 {'id': 'feb4d9a3-89ef-11e6-a904-a45e60e298d3',
  'name': 'Utah Jazz',
  'abbrev': 'UTA',
  'nbaId': 1610612762},
 {'id': 'feb4da0f-89ef-11e6-bc10-a45e60e298d3',
  'name': 'Washington Wizards',
  'abbrev': 'WAS',
  'nbaId': 1610612764},
 {'id': '8ec63a2a-ac8f-480d-81ea-fa729025e514',
  'name': 'World World',
  'abbrev': 'WLD',
  'nbaId': 1610616844}]

In [31]:
teams = pd.DataFrame(teams[0]['teams'])

In [32]:
teams.head()

                                     id            name abbrev       nbaId
0  5c079629-763c-4098-ba62-424375967c9a  Adelaide 36ers    ADL       15019
1  feb3e09c-89ef-11e6-9f68-a45e60e298d3   Atlanta Hawks    ATL  1610612737
2  6964d06d-ab82-419c-8a16-0d8ff6a17f94   Beijing Ducks    BJD       15021
3  feb4cb57-89ef-11e6-86b2-a45e60e298d3  Boston Celtics    BOS  1610612738
4  feb4cc63-89ef-11e6-9333-a45e60e298d3   Brooklyn Nets    BKN  1610612751

In [33]:
# Saving teams table (optional)
teams.to_csv(r"teams.csv", index=False)

## Cleaning tables

### Tracking

In [3]:
# Opening saved table
tracking = pd.read_csv(r"tracking.csv")

In [4]:
tracking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1678320 entries, 0 to 1678319
Data columns (total 38 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   frameIdx          1678320 non-null  int64
 1   ball              1678320 non-null  object
 2   period            1678320 non-null  int64
 3   gameClock         1678320 non-null  float64
 4   gameClockStopped  1678320 non-null  bool
 5   shotClock         1678320 non-null  float64
 6   wallClock         1678320 non-null  int64
 7   nbaId             1678320 non-null  int64
 8   home_xyz1         1678320 non-null  object
 9   home_jersey1      1678320 non-null  int64
 10  homePlayer1       1678320 non-null  object
 11  home_xyz2         1678320 non-null  object
 12  home_jersey2      1678320 non-null  int64
 13  homePlayer2       1678320 non-null  object
 14  home_xyz3         1678320 non-null  object
 15  home_jersey3      1678320 non-null  int64
 16  homePlayer3       1678320 non-null  object
 17  home_xyz4         1678320 non-null  object
 18  home_jersey4      1678320 non-null  int64
 19  homePlayer4       1678320 non-null  object
 20  home_xyz5         1678320 non-null  object
 21  home_jersey5      1678320 non-null  int64
 22  homePlayer5       1678320 non-null  object
 23  away_xyz1         1678320 non-null  object
 24  away_jersey1      1678320 non-null  int64
 25  awayPlayer1       1678320 non-null  object
 26  away_xyz2         1678320 non-null  object
 27  away_jersey2      1678320 non-null  int64
 28  awayPlayer2       1678320 non-null  object
 29  away_xyz3         1678320 non-null  object
 30  away_jersey3      1678320 non-null  int64
 31  awayPlayer3       1678320 non-null  object
 32  away_xyz4         1678320 non-null  object
 33  away_jersey4      1678320 non-null  int64
 34  awayPlayer4       1678320 non-null  object
 35  away_xyz5         1678320 non-null  object
 36  away_jersey5      1678320 non-null  int64
 37  awayPlayer5       1678320 non-null  object
dtypes: bool(1), float64(2), int64(14), object(21)
memory usage: 475.4+ MB

In [5]:
tracking[['home_x1', 'home_y1','home_z1']] = tracking['home_xyz1'].str.split(', ', expand=True)
tracking[['home_x2', 'home_y2','home_z2']] = tracking['home_xyz2'].str.split(', ', expand=True)
tracking[['home_x3', 'home_y3','home_z3']] = tracking['home_xyz3'].str.split(', ', expand=True)
tracking[['home_x4', 'home_y4','home_z4']] = tracking['home_xyz4'].str.split(', ', expand=True)
tracking[['home_x5', 'home_y5','home_z5']] = tracking['home_xyz5'].str.split(', ', expand=True)

tracking[['away_x1', 'away_y1','away_z1']] = tracking['away_xyz1'].str.split(', ', expand=True)
tracking[['away_x2', 'away_y2','away_z2']] = tracking['away_xyz2'].str.split(', ', expand=True)
tracking[['away_x3', 'away_y3','away_z3']] = tracking['away_xyz3'].str.split(', ', expand=True)
tracking[['away_x4', 'away_y4','away_z4']] = tracking['away_xyz4'].str.split(', ', expand=True)
tracking[['away_x5', 'away_y5','away_z5']] = tracking['away_xyz5'].str.split(', ', expand=True)

In [6]:
tracking.head()

,frameIdx,ball,period,gameClock,gameClockStopped,shotClock,wallClock,nbaId,home_xyz1,home_jersey1,...,away_z2,away_x3,away_y3,away_z3,away_x4,away_y4,away_z4,away_x5,away_y5,away_z5
0,113040,"[6.85, 9.02, 4.35]",1,720.0,True,24.0,1652834771259,42100301,"[1.92, -1.08, 0]",13,...,0],[-1.75,-0.92,0],[-1.42,6.92,0],[-19.92,-1.92,0]
1,113041,"[6.84, 8.99, 4.37]",1,720.0,True,24.0,1652834771299,42100301,"[1.92, -1.08, 0]",13,...,0],[-1.77,-0.84,0],[-1.42,6.92,0],[-19.84,-1.85,0]
2,113042,"[6.83, 8.93, 4.36]",1,720.0,True,24.0,1652834771339,42100301,"[1.92, -1.11, 0]",13,...,0],[-1.81,-0.78,0],[-1.42,6.92,0],[-19.78,-1.78,0]
3,113043,"[6.81, 8.86, 4.36]",1,720.0,True,24.0,1652834771379,42100301,"[1.92, -1.13, 0]",13,...,0],[-1.83,-0.74,0],[-1.42,6.92,0],[-19.73,-1.71,0]
4,113044,"[6.79, 8.79, 4.36]",1,720.0,True,24.0,1652834771419,42100301,"[1.92, -1.16, 0]",13,...,0],[-1.85,-0.7,0],[-1.42,6.92,0],[-19.68,-1.64,0]

In [7]:
tracking['home_x1'] = tracking['home_x1'].str.split('[').str[-1]
tracking['home_z1'] = tracking['home_z1'].str.split(']').str[0]
tracking['home_x2'] = tracking['home_x2'].str.split('[').str[-1]
tracking['home_z2'] = tracking['home_z2'].str.split(']').str[0]
tracking['home_x3'] = tracking['home_x3'].str.split('[').str[-1]
tracking['home_z3'] = tracking['home_z3'].str.split(']').str[0]
tracking['home_x4'] = tracking['home_x4'].str.split('[').str[-1]
tracking['home_z4'] = tracking['home_z4'].str.split(']').str[0]
tracking['home_x5'] = tracking['home_x5'].str.split('[').str[-1]
tracking['home_z5'] = tracking['home_z5'].str.split(']').str[0]

tracking['away_x1'] = tracking['away_x1'].str.split('[').str[-1]
tracking['away_z1'] = tracking['away_z1'].str.split(']').str[0]
tracking['away_x2'] = tracking['away_x2'].str.split('[').str[-1]
tracking['away_z2'] = tracking['away_z2'].str.split(']').str[0]
tracking['away_x3'] = tracking['away_x3'].str.split('[').str[-1]
tracking['away_z3'] = tracking['away_z3'].str.split(']').str[0]
tracking['away_x4'] = tracking['away_x4'].str.split('[').str[-1]
tracking['away_z4'] = tracking['away_z4'].str.split(']').str[0]
tracking['away_x5'] = tracking['away_x5'].str.split('[').str[-1]
tracking['away_z5'] = tracking['away_z5'].str.split(']').str[0]

In [8]:
tracking.head()

,frameIdx,ball,period,gameClock,gameClockStopped,shotClock,wallClock,nbaId,home_xyz1,home_jersey1,...,away_z2,away_x3,away_y3,away_z3,away_x4,away_y4,away_z4,away_x5,away_y5,away_z5
0,113040,"[6.85, 9.02, 4.35]",1,720.0,True,24.0,1652834771259,42100301,"[1.92, -1.08, 0]",13,...,0,-1.75,-0.92,0,-1.42,6.92,0,-19.92,-1.92,0
1,113041,"[6.84, 8.99, 4.37]",1,720.0,True,24.0,1652834771299,42100301,"[1.92, -1.08, 0]",13,...,0,-1.77,-0.84,0,-1.42,6.92,0,-19.84,-1.85,0
2,113042,"[6.83, 8.93, 4.36]",1,720.0,True,24.0,1652834771339,42100301,"[1.92, -1.11, 0]",13,...,0,-1.81,-0.78,0,-1.42,6.92,0,-19.78,-1.78,0
3,113043,"[6.81, 8.86, 4.36]",1,720.0,True,24.0,1652834771379,42100301,"[1.92, -1.13, 0]",13,...,0,-1.83,-0.74,0,-1.42,6.92,0,-19.73,-1.71,0
4,113044,"[6.79, 8.79, 4.36]",1,720.0,True,24.0,1652834771419,42100301,"[1.92, -1.16, 0]",13,...,0,-1.85,-0.7,0,-1.42,6.92,0,-19.68,-1.64,0

In [9]:
tracking['home_x1'] = tracking['home_x1'].astype(float)
tracking['home_z1'] = tracking['home_z1'].astype(float)
tracking['home_x2'] = tracking['home_x2'].astype(float)
tracking['home_z2'] = tracking['home_z2'].astype(float)
tracking['home_x3'] = tracking['home_x3'].astype(float)
tracking['home_z3'] = tracking['home_z3'].astype(float)
tracking['home_x4'] = tracking['home_x4'].astype(float)
tracking['home_z4'] = tracking['home_z4'].astype(float)
tracking['home_x5'] = tracking['home_x5'].astype(float)
tracking['home_z5'] = tracking['home_z5'].astype(float)

tracking['away_x1'] = tracking['away_x1'].astype(float)
tracking['away_z1'] = tracking['away_z1'].astype(float)
tracking['away_x2'] = tracking['away_x2'].astype(float)
tracking['away_z2'] = tracking['away_z2'].astype(float)
tracking['away_x3'] = tracking['away_x3'].astype(float)
tracking['away_z3'] = tracking['away_z3'].astype(float)
tracking['away_x4'] = tracking['away_x4'].astype(float)
tracking['away_z4'] = tracking['away_z4'].astype(float)
tracking['away_x5'] = tracking['away_x5'].astype(float)
tracking['away_z5'] = tracking['away_z5'].astype(float)

tracking['away_y1'] = tracking['away_y1'].astype(float)
tracking['away_y2'] = tracking['away_y2'].astype(float)
tracking['away_y3'] = tracking['away_y3'].astype(float)
tracking['away_y4'] = tracking['away_y4'].astype(float)
tracking['away_y5'] = tracking['away_y5'].astype(float)
tracking['home_y1'] = tracking['home_y1'].astype(float)
tracking['home_y2'] = tracking['home_y2'].astype(float)
tracking['home_y3'] = tracking['home_y3'].astype(float)
tracking['home_y4'] = tracking['home_y4'].astype(float)
tracking['home_y5'] = tracking['home_y5'].astype(float)

In [10]:
tracking[['ball_x', 'ball_y','ball_z']] = tracking['ball'].str.split(', ', expand=True)

In [11]:
tracking['ball_z'] = tracking['ball_z'].str.split(']').str[0]
tracking['ball_x'] = tracking['ball_x'].str.split('[').str[-1]

In [12]:
tracking['ball_x'] = tracking['ball_x'].astype(float)
tracking['ball_z'] = tracking['ball_z'].astype(float)

In [13]:
tracking.columns

Index(['frameIdx', 'ball', 'period', 'gameClock', 'gameClockStopped',
       'shotClock', 'wallClock', 'nbaId', 'home_xyz1', 'home_jersey1',
       'homePlayer1', 'home_xyz2', 'home_jersey2', 'homePlayer2', 'home_xyz3',
       'home_jersey3', 'homePlayer3', 'home_xyz4', 'home_jersey4',
       'homePlayer4', 'home_xyz5', 'home_jersey5', 'homePlayer5', 'away_xyz1',
       'away_jersey1', 'awayPlayer1', 'away_xyz2', 'away_jersey2',
       'awayPlayer2', 'away_xyz3', 'away_jersey3', 'awayPlayer3', 'away_xyz4',
       'away_jersey4', 'awayPlayer4', 'away_xyz5', 'away_jersey5',
       'awayPlayer5', 'home_x1', 'home_y1', 'home_z1', 'home_x2', 'home_y2',
       'home_z2', 'home_x3', 'home_y3', 'home_z3', 'home_x4', 'home_y4',
       'home_z4', 'home_x5', 'home_y5', 'home_z5', 'away_x1', 'away_y1',
       'away_z1', 'away_x2', 'away_y2', 'away_z2', 'away_x3', 'away_y3',
       'away_z3', 'away_x4', 'away_y4', 'away_z4', 'away_x5', 'away_y5',
       'away_z5', 'ball_x', 'ball_y', 'ball_z'],
      dtype='object')

In [14]:
columns_to_drop = ['ball', 'home_xyz1', 'home_xyz2', 'home_xyz3', 'home_xyz4', 'home_xyz5',
                  'away_xyz1', 'away_xyz2', 'away_xyz3', 'away_xyz4', 'away_xyz5',]
tracking.drop(columns_to_drop, axis=1, inplace=True)

In [15]:
# Saving tacking table (optional)
#tracking.to_csv(r"trackings.csv", index=False)

# Importing PlayByPlay NBA API

Reference: https://github.com/swar/nba_api/tree/master/src/nba_api/stats/endpoints

## Installing packages and importing libraries

In [1]:
%pip install nba_api

Requirement already satisfied: nba_api in c:\users\isabella\anaconda3\lib\site-packages (1.2.1)
Requirement already satisfied: requests in c:\users\isabella\anaconda3\lib\site-packages (from nba_api) (2.28.1)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in c:\users\isabella\anaconda3\lib\site-packages (from nba_api) (1.25.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\isabella\anaconda3\lib\site-packages (from requests->nba_api) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\isabella\anaconda3\lib\site-packages (from requests->nba_api) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\isabella\anaconda3\lib\site-packages (from requests->nba_api) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\isabella\anaconda3\lib\site-packages (from requests->nba_api) (1.26.11)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import requests
import jsonlines
import json
import numpy as np

In [3]:
from nba_api.stats.endpoints._base import Endpoint
from nba_api.stats.library.http import NBAStatsHTTP
from nba_api.stats.library.parameters import EndPeriod, StartPeriod 
import pandas as pd

## Importing data

In [9]:
class PlayByPlay(Endpoint):
    endpoint = 'playbyplay'
    expected_data = {'AvailableVideo': ['VIDEO_AVAILABLE_FLAG'], 'PlayByPlay': ['GAME_ID', 'EVENTNUM', 'EVENTMSGTYPE', 'EVENTMSGACTIONTYPE', 'PERIOD', 'WCTIMESTRING', 'PCTIMESTRING', 'HOMEDESCRIPTION', 'NEUTRALDESCRIPTION', 'VISITORDESCRIPTION', 'SCORE', 'SCOREMARGIN']}

    nba_response = None
    data_sets = None
    player_stats = None
    team_stats = None
    headers = None
    

    def __init__(self,
                 game_id,
                 end_period=EndPeriod.default,
                 start_period=StartPeriod.default,
                 proxy=None,
                 headers=None,
                 timeout=30,
                 get_request=True):
        self.proxy = proxy
        if headers is not None:
            self.headers = headers
        self.timeout = timeout
        self.parameters = {
                'GameID': game_id,
                'EndPeriod': end_period,
                'StartPeriod': start_period
        }
        if get_request:
            self.get_request()
    
    def get_request(self):
        self.nba_response = NBAStatsHTTP().send_api_request(
            endpoint=self.endpoint,
            parameters=self.parameters,
            proxy=self.proxy,
            headers=self.headers,
            timeout=self.timeout,
        )
        self.load_response()
        
    def load_response(self):
        data_sets = self.nba_response.get_data_sets()
        self.data_sets = [Endpoint.DataSet(data=data_set) for data_set_name, data_set in data_sets.items()]
        self.available_video = Endpoint.DataSet(data=data_sets['AvailableVideo'])
        self.play_by_play = Endpoint.DataSet(data=data_sets['PlayByPlay'])
        
        
        self.list_tot = []
        
        self.list = list(data_sets['PlayByPlay']['headers'])
        self.list_tot.append(self.list)
        
        #self.list_body = []
        i = 0
        while i <= len(data_sets['PlayByPlay']['data'])-1:
            self.new = data_sets['PlayByPlay']['data'][i]
            self.list_tot.append(self.new)
            i = i+1
        
        self.df2 = pd.DataFrame(columns=self.list_tot)
        self.df2.to_csv(r"playbyplay1.csv", index=False)

In [14]:
# Insert here the id of the game you need to import info about

data = PlayByPlay("0042100301")

# Importing screen data (file in Github)

## Importing libraries

In [2]:
import pandas as pd
import numpy as np

## Merging tracking and events playbyplay

### Cleaning tracking

In [2]:
tracking = pd.read_csv(r"trackings.csv")

In [3]:
tracking.columns

Index(['frameIdx', 'period', 'gameClock', 'gameClockStopped', 'shotClock',
       'wallClock', 'nbaId', 'home_jersey1', 'homePlayer1', 'home_jersey2',
       'homePlayer2', 'home_jersey3', 'homePlayer3', 'home_jersey4',
       'homePlayer4', 'home_jersey5', 'homePlayer5', 'away_jersey1',
       'awayPlayer1', 'away_jersey2', 'awayPlayer2', 'away_jersey3',
       'awayPlayer3', 'away_jersey4', 'awayPlayer4', 'away_jersey5',
       'awayPlayer5', 'home_x1', 'home_y1', 'home_z1', 'home_x2', 'home_y2',
       'home_z2', 'home_x3', 'home_y3', 'home_z3', 'home_x4', 'home_y4',
       'home_z4', 'home_x5', 'home_y5', 'home_z5', 'away_x1', 'away_y1',
       'away_z1', 'away_x2', 'away_y2', 'away_z2', 'away_x3', 'away_y3',
       'away_z3', 'away_x4', 'away_y4', 'away_z4', 'away_x5', 'away_y5',
       'away_z5', 'ball_x', 'ball_y', 'ball_z'],
      dtype='object')

In [5]:
tracking = tracking[['frameIdx', 'period', 'gameClock', 'gameClockStopped', 
                     'shotClock', 'wallClock', 'nbaId', 'ball_x', 'ball_y', 'ball_z', 
                     'homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4', 'homePlayer5', 
                     'awayPlayer1', 'awayPlayer2', 'awayPlayer3', 'awayPlayer4', 'awayPlayer5', 
                     'home_x1', 'home_y1', 'home_x2', 'home_y2', 'home_x3', 'home_y3', 
                     'home_x4', 'home_y4', 'home_x5', 'home_y5', 
                     'away_x1', 'away_y1', 'away_x2', 'away_y2', 'away_x3', 'away_y3', 
                     'away_x4', 'away_y4', 'away_x5', 'away_y5']].copy()

In [6]:
tracking.head()

,frameIdx,period,gameClock,gameClockStopped,shotClock,wallClock,nbaId,ball_x,ball_y,ball_z,...,away_x1,away_y1,away_x2,away_y2,away_x3,away_y3,away_x4,away_y4,away_x5,away_y5
0,113040,1,720.0,True,24.0,1652834771259,42100301,6.85,9.02,4.35,...,-2.08,-9.08,-11.08,0.25,-1.75,-0.92,-1.42,6.92,-19.92,-1.92
1,113041,1,720.0,True,24.0,1652834771299,42100301,6.84,8.99,4.37,...,-2.08,-9.08,-11.15,0.20,-1.77,-0.84,-1.42,6.92,-19.84,-1.85
2,113042,1,720.0,True,24.0,1652834771339,42100301,6.83,8.93,4.36,...,-2.08,-9.06,-11.21,0.18,-1.81,-0.78,-1.42,6.92,-19.78,-1.78
3,113043,1,720.0,True,24.0,1652834771379,42100301,6.81,8.86,4.36,...,-2.09,-9.04,-11.28,0.18,-1.83,-0.74,-1.42,6.92,-19.73,-1.71
4,113044,1,720.0,True,24.0,1652834771419,42100301,6.79,8.79,4.36,...,-2.10,-9.01,-11.34,0.19,-1.85,-0.70,-1.42,6.92,-19.68,-1.64

In [7]:
# Filtering the game we analyzing
tracking1 = tracking[tracking['nbaId']==42100301].copy()

### Cleaning events playbyplay

In [8]:
eventspbp = pd.read_csv(r"eventspbp1.csv")

In [9]:
eventspbp.columns

Index(['gameId', 'nbaId', 'pbpId', 'period', 'shotClock', 'gameClock',
       'wallClock', 'eventType', 'playerId', 'HOMEDESCRIPTION',
       'NEUTRALDESCRIPTION', 'VISITORDESCRIPTION', 'SCORE', 'homePlayer1',
       'homePlayer2', 'homePlayer3', 'homePlayer4', 'homePlayer5',
       'awayPlayer1', 'awayPlayer2', 'awayPlayer3', 'awayPlayer4',
       'awayPlayer5', 'SHOTRESULT', 'SHOTRESULT2', 'VISITORSCOREACUM',
       'HOMESCOREACUM', 'shotType'],
      dtype='object')

In [10]:
eventspbp1 = eventspbp[['gameId', 'nbaId', 'pbpId', 'period', 'shotClock', 'gameClock',
       'wallClock', 'eventType', 'playerId', 'HOMEDESCRIPTION',
       'NEUTRALDESCRIPTION', 'VISITORDESCRIPTION', 'SHOTRESULT', 'SHOTRESULT2', 'shotType', 'VISITORSCOREACUM', 'HOMESCOREACUM']].copy()

In [11]:
eventspbp1.head()

,gameId,nbaId,pbpId,period,shotClock,gameClock,wallClock,eventType,playerId,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SHOTRESULT,SHOTRESULT2,shotType,VISITORSCOREACUM,HOMESCOREACUM
0,c17d96b7-4f14-4c4a-9f8b-e96cb63de9ac,42100301,NaN,1,24.0,719.76,1652834779899,TOUCH,561048bb-c412-4d8b-a0bc-27d250a1a431,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,c17d96b7-4f14-4c4a-9f8b-e96cb63de9ac,42100301,NaN,1,24.0,719.76,1652834779899,DRIBBLE,561048bb-c412-4d8b-a0bc-27d250a1a431,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,c17d96b7-4f14-4c4a-9f8b-e96cb63de9ac,42100301,NaN,1,24.0,719.04,1652834780619,PASS,561048bb-c412-4d8b-a0bc-27d250a1a431,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,c17d96b7-4f14-4c4a-9f8b-e96cb63de9ac,42100301,NaN,1,23.9,718.96,1652834780699,TOUCH,297a0fda-0a03-4003-bf39-aa92b7a730ff,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,c17d96b7-4f14-4c4a-9f8b-e96cb63de9ac,42100301,NaN,1,23.2,718.28,1652834781379,DRIBBLE,297a0fda-0a03-4003-bf39-aa92b7a730ff,NaN,NaN,NaN,NaN,NaN,NaN,0,0

### Merging tracking and events playbyplay

In [12]:
trackeventspbp = pd.merge(tracking1, eventspbp1, on=['wallClock','nbaId','period','gameClock'], how='outer')

In [17]:
trackeventspbp.columns

Index(['frameIdx', 'period', 'gameClock', 'gameClockStopped', 'shotClock_x',
       'wallClock', 'nbaId', 'ball_x', 'ball_y', 'ball_z', 'homePlayer1',
       'homePlayer2', 'homePlayer3', 'homePlayer4', 'homePlayer5',
       'awayPlayer1', 'awayPlayer2', 'awayPlayer3', 'awayPlayer4',
       'awayPlayer5', 'home_x1', 'home_y1', 'home_x2', 'home_y2', 'home_x3',
       'home_y3', 'home_x4', 'home_y4', 'home_x5', 'home_y5', 'away_x1',
       'away_y1', 'away_x2', 'away_y2', 'away_x3', 'away_y3', 'away_x4',
       'away_y4', 'away_x5', 'away_y5', 'gameId', 'pbpId', 'shotClock_y',
       'eventType', 'playerId', 'HOMEDESCRIPTION', 'NEUTRALDESCRIPTION',
       'VISITORDESCRIPTION', 'SHOTRESULT', 'SHOTRESULT2', 'shotType',
       'VISITORSCOREACUM', 'HOMESCOREACUM'],
      dtype='object')

In [18]:
trackeventspbp = trackeventspbp[['frameIdx', 'nbaId', 'gameId', 'pbpId', 'wallClock', 
                'gameClockStopped', 'period', 'gameClock', 'shotClock_x', 
                'eventType', 'playerId', 'SHOTRESULT', 'SHOTRESULT2', 'shotType','VISITORSCOREACUM', 'HOMESCOREACUM',
                'ball_x', 'ball_y', 'ball_z', 
                'home_x1', 'home_y1', 'home_x2', 'home_y2', 'home_x3', 'home_y3', 'home_x4', 'home_y4', 'home_x5', 'home_y5', 
                'away_x1', 'away_y1', 'away_x2', 'away_y2', 'away_x3', 'away_y3', 'away_x4', 'away_y4', 'away_x5', 'away_y5',
                'homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4', 'homePlayer5',
                'awayPlayer1', 'awayPlayer2', 'awayPlayer3', 'awayPlayer4', 'awayPlayer5'
               ]].copy()

In [32]:
trackeventspbp.columns

Index(['frameIdx', 'nbaId', 'gameId', 'pbpId', 'wallClock', 'gameClockStopped',
       'period', 'gameClock', 'shotClock_x', 'eventType', 'playerId',
       'SHOTRESULT', 'SHOTRESULT2', 'shotType', 'VISITORSCOREACUM',
       'HOMESCOREACUM', 'ball_x', 'ball_y', 'ball_z', 'home_x1', 'home_y1',
       'home_x2', 'home_y2', 'home_x3', 'home_y3', 'home_x4', 'home_y4',
       'home_x5', 'home_y5', 'away_x1', 'away_y1', 'away_x2', 'away_y2',
       'away_x3', 'away_y3', 'away_x4', 'away_y4', 'away_x5', 'away_y5',
       'homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4',
       'homePlayer5', 'awayPlayer1', 'awayPlayer2', 'awayPlayer3',
       'awayPlayer4', 'awayPlayer5'],
      dtype='object')

In [33]:
i = 0
while trackeventspbp['gameClockStopped'][i] != False:
    trackeventspbp = trackeventspbp.drop(i)
    i = i+1

In [34]:
# Saving (optional)
trackeventspbp.to_csv(r"trackeventspbp.csv", index=False)

## Naming the Teams

In [112]:
games = pd.read_csv(r"games2.csv")
teams = pd.read_csv(r"teams.csv")

In [113]:
teams.head()

                                     id            name abbrev       nbaId
0  5c079629-763c-4098-ba62-424375967c9a  Adelaide 36ers    ADL       15019
1  feb3e09c-89ef-11e6-9f68-a45e60e298d3   Atlanta Hawks    ATL  1610612737
2  6964d06d-ab82-419c-8a16-0d8ff6a17f94   Beijing Ducks    BJD       15021
3  feb4cb57-89ef-11e6-86b2-a45e60e298d3  Boston Celtics    BOS  1610612738
4  feb4cc63-89ef-11e6-9333-a45e60e298d3   Brooklyn Nets    BKN  1610612751

In [114]:
gamehometeam = pd.merge(games[games['nbaId'] == 42100301], teams, left_on=['homeTeamId'], right_on=['id'], how='left')

In [115]:
gameawayteam = pd.merge(games[games['nbaId'] == 42100301], teams, left_on=['awayTeamId'], right_on=['id'], how='left')

In [116]:
gamehometeam['teamStatus'] = 'home'

In [117]:
gamehometeam

,id_x,homeTeamId,awayTeamId,nbaId_x,type,path,prefix,lastMod,completed,trackingState,season,year,month,day,id_y,name,abbrev,nbaId_y,teamStatus
0,c17d96b7-4f14-4c4a-9f8b-e96cb63de9ac,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cb57-89ef-11e6-86b2-a45e60e298d3,42100301,playoff,2021-22/0042100301/,42100301,2023-02-23T07:01:37.000Z,True,full,2021,2022,5,17,feb4d380-89ef-11e6-9eb6-a45e60e298d3,Miami Heat,MIA,1610612748,home

In [124]:
gamehometeam = gamehometeam.rename(columns={'nbaId_x': 'gameId',
                                           'id_y': 'teamId'})

In [125]:
gameawayteam['teamStatus'] = 'away'

In [126]:
gameawayteam

,gameId,id_y,name,abbrev,teamStatus
0,42100301,feb4cb57-89ef-11e6-86b2-a45e60e298d3,Boston Celtics,BOS,away

In [127]:
gameawayteam = gameawayteam.rename(columns={'nbaId_x': 'gameId',
                                           'id_y': 'teamId'})

In [128]:
gamehometeam = gamehometeam[['gameId', 'teamId', 'name', 'abbrev', 'teamStatus']].copy()

gameawayteam = gameawayteam[['gameId', 'teamId', 'name', 'abbrev', 'teamStatus']].copy()

In [129]:
gameteams = pd.concat([gamehometeam, gameawayteam])

In [130]:
gameteams

,gameId,teamId,name,abbrev,teamStatus
0,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,Miami Heat,MIA,home
0,42100301,feb4cb57-89ef-11e6-86b2-a45e60e298d3,Boston Celtics,BOS,away

## Players

In [132]:
players = pd.read_csv(r"players.csv")

In [133]:
players.head()

,id,firstName,lastName,nbaId,height,weight,dob,position
0,ff415697-89ef-11e6-a31e-a45e60e298d3,Aaron,Brooks,201166,72.0,161.0,1985-01-14,G
1,ff42ec5e-89ef-11e6-96c8-a45e60e298d3,Aaron,Gordon,203932,80.0,235.0,1995-09-16,F
2,ff4020d4-89ef-11e6-af09-a45e60e298d3,Aaron,Gray,201189,84.0,270.0,1984-12-07,C
3,ff4199f8-89ef-11e6-854d-a45e60e298d3,Aaron,Harrison,1626151,78.0,210.0,1994-10-28,G
4,c9b3e617-4bd6-4399-970f-b84358a6783f,Aaron,Henry,1630565,77.0,210.0,1999-08-30,F

In [134]:
players['fullName'] = players['firstName'] + " " + players['lastName']

In [135]:
players.head()

,id,firstName,lastName,nbaId,height,weight,dob,position,fullName
0,ff415697-89ef-11e6-a31e-a45e60e298d3,Aaron,Brooks,201166,72.0,161.0,1985-01-14,G,Aaron Brooks
1,ff42ec5e-89ef-11e6-96c8-a45e60e298d3,Aaron,Gordon,203932,80.0,235.0,1995-09-16,F,Aaron Gordon
2,ff4020d4-89ef-11e6-af09-a45e60e298d3,Aaron,Gray,201189,84.0,270.0,1984-12-07,C,Aaron Gray
3,ff4199f8-89ef-11e6-854d-a45e60e298d3,Aaron,Harrison,1626151,78.0,210.0,1994-10-28,G,Aaron Harrison
4,c9b3e617-4bd6-4399-970f-b84358a6783f,Aaron,Henry,1630565,77.0,210.0,1999-08-30,F,Aaron Henry

In [136]:
players = players[['id', 'position', 'lastName', 'fullName']].copy()

## Opening screen data

In [3]:
# Calling the file in Github
url = 'https://github.com/isabellaccarloss/wisd_boston23/raw/main/screens_mapping.xlsx'
screens = pd.read_excel(url)

In [4]:
screens.columns

Index(['nbaId', 'homeTeamId', 'awayTeamId', 'period', 'gameClock_min',
       'gameClock_sec', 'gameClock', 'shotClock', 'team', 'player_screen',
       'player_w_ball', 'player_screen_id', 'player_w_ball_id'],
      dtype='object')

In [5]:
screens1 = screens[['nbaId', 'homeTeamId', 'awayTeamId', 'period',
                    'gameClock', 'shotClock',
                    'player_screen_id', 'player_w_ball_id']].copy()

In [6]:
screens1.head()

,nbaId,homeTeamId,awayTeamId,period,gameClock,shotClock,player_screen_id,player_w_ball_id
0,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cb57-89ef-11e6-86b2-a45e60e298d3,1,658.0,20.0,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b
1,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cb57-89ef-11e6-86b2-a45e60e298d3,1,575.0,24.0,ff41362b-89ef-11e6-babd-a45e60e298d3,267de25c-42a5-403a-9fde-0be582ac053b
2,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cb57-89ef-11e6-86b2-a45e60e298d3,1,518.0,15.0,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff
3,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cb57-89ef-11e6-86b2-a45e60e298d3,1,501.0,13.0,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b
4,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cb57-89ef-11e6-86b2-a45e60e298d3,1,490.0,18.0,79b83f96-5723-4219-b521-57de6111ee97,297a0fda-0a03-4003-bf39-aa92b7a730ff

In [29]:
# Creating Screen Id

i = 0
listindex = []

while i < len(screens1):
    index = str(screens1['nbaId'][i]) + "00" + str(i) if len(str(i)) > 1 else str(screens1['nbaId'][i]) + "00" + "0" + str(i)
    listindex.append(index)
    i = i + 1

In [30]:
screens1['screenId'] = listindex

In [31]:
screens1.head()

,nbaId,homeTeamId,awayTeamId,period,gameClock,shotClock,player_screen_id,player_w_ball_id,screenId
0,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cb57-89ef-11e6-86b2-a45e60e298d3,1,658.0,20.0,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,421003010000
1,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cb57-89ef-11e6-86b2-a45e60e298d3,1,575.0,24.0,ff41362b-89ef-11e6-babd-a45e60e298d3,267de25c-42a5-403a-9fde-0be582ac053b,421003010001
2,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cb57-89ef-11e6-86b2-a45e60e298d3,1,518.0,15.0,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010002
3,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cb57-89ef-11e6-86b2-a45e60e298d3,1,501.0,13.0,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,421003010003
4,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,feb4cb57-89ef-11e6-86b2-a45e60e298d3,1,490.0,18.0,79b83f96-5723-4219-b521-57de6111ee97,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010004

## Merging screen data and trackeventspbp

In [35]:
# Importing if necessary
#trackeventspbp = pd.read_csv(r"trackeventspbp.csv")

In [36]:
trackeventspbp.columns

Index(['frameIdx', 'nbaId', 'gameId', 'pbpId', 'wallClock', 'gameClockStopped',
       'period', 'gameClock', 'shotClock_x', 'eventType', 'playerId',
       'SHOTRESULT', 'SHOTRESULT2', 'shotType', 'VISITORSCOREACUM',
       'HOMESCOREACUM', 'ball_x', 'ball_y', 'ball_z', 'home_x1', 'home_y1',
       'home_x2', 'home_y2', 'home_x3', 'home_y3', 'home_x4', 'home_y4',
       'home_x5', 'home_y5', 'away_x1', 'away_y1', 'away_x2', 'away_y2',
       'away_x3', 'away_y3', 'away_x4', 'away_y4', 'away_x5', 'away_y5',
       'homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4',
       'homePlayer5', 'awayPlayer1', 'awayPlayer2', 'awayPlayer3',
       'awayPlayer4', 'awayPlayer5'],
      dtype='object')

In [37]:
periodlist = screens1['period'].tolist()
gameclocklist = screens1['gameClock'].tolist()

In [38]:
k = 0
i = 0
j = 0

result_df = pd.DataFrame()

while k < len(screens1):
    
    periodfilt = periodlist[i]
    timefilter = gameclocklist[k]
    
    df = trackeventspbp[(trackeventspbp['period']==periodfilt) & 
                (trackeventspbp['gameClock'] <= timefilter+1) &
                (trackeventspbp['gameClock'] >= timefilter-1)]
    df.loc[:, 'screenId'] = screens1['screenId'][j]

    result_df = pd.concat([result_df, df])
    
    i = i + 1
    k = k + 1
    j = j + 1
    
trackeventspbpfilt = result_df

C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]

C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]

C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2687983971.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screens1['screenId'][j]

In [39]:
trackeventspbpfilt.head()

,frameIdx,nbaId,gameId,pbpId,wallClock,gameClockStopped,period,gameClock,shotClock_x,eventType,...,homePlayer2,homePlayer3,homePlayer4,homePlayer5,awayPlayer1,awayPlayer2,awayPlayer3,awayPlayer4,awayPlayer5,screenId
1529,114775,42100301,NaN,NaN,1652834840659,False,1,659.00,21.80,NaN,...,ff41362b-89ef-11e6-babd-a45e60e298d3,82a7f31c-e3b4-4105-8d3e-0e4dcde0f73b,ff41f5c7-89ef-11e6-8f93-a45e60e298d3,267de25c-42a5-403a-9fde-0be582ac053b,986b713a-b20b-4eb0-919e-c859d0508af7,561048bb-c412-4d8b-a0bc-27d250a1a431,79b83f96-5723-4219-b521-57de6111ee97,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010000
1530,114776,42100301,NaN,NaN,1652834840699,False,1,658.96,21.76,NaN,...,ff41362b-89ef-11e6-babd-a45e60e298d3,82a7f31c-e3b4-4105-8d3e-0e4dcde0f73b,ff41f5c7-89ef-11e6-8f93-a45e60e298d3,267de25c-42a5-403a-9fde-0be582ac053b,986b713a-b20b-4eb0-919e-c859d0508af7,561048bb-c412-4d8b-a0bc-27d250a1a431,79b83f96-5723-4219-b521-57de6111ee97,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010000
1531,114777,42100301,NaN,NaN,1652834840739,False,1,658.92,21.72,NaN,...,ff41362b-89ef-11e6-babd-a45e60e298d3,82a7f31c-e3b4-4105-8d3e-0e4dcde0f73b,ff41f5c7-89ef-11e6-8f93-a45e60e298d3,267de25c-42a5-403a-9fde-0be582ac053b,986b713a-b20b-4eb0-919e-c859d0508af7,561048bb-c412-4d8b-a0bc-27d250a1a431,79b83f96-5723-4219-b521-57de6111ee97,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010000
1532,114778,42100301,NaN,NaN,1652834840779,False,1,658.88,21.68,NaN,...,ff41362b-89ef-11e6-babd-a45e60e298d3,82a7f31c-e3b4-4105-8d3e-0e4dcde0f73b,ff41f5c7-89ef-11e6-8f93-a45e60e298d3,267de25c-42a5-403a-9fde-0be582ac053b,986b713a-b20b-4eb0-919e-c859d0508af7,561048bb-c412-4d8b-a0bc-27d250a1a431,79b83f96-5723-4219-b521-57de6111ee97,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010000
1533,114779,42100301,NaN,NaN,1652834840819,False,1,658.84,21.64,NaN,...,ff41362b-89ef-11e6-babd-a45e60e298d3,82a7f31c-e3b4-4105-8d3e-0e4dcde0f73b,ff41f5c7-89ef-11e6-8f93-a45e60e298d3,267de25c-42a5-403a-9fde-0be582ac053b,986b713a-b20b-4eb0-919e-c859d0508af7,561048bb-c412-4d8b-a0bc-27d250a1a431,79b83f96-5723-4219-b521-57de6111ee97,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010000

In [40]:
trackeventspbpfilt.columns

Index(['frameIdx', 'nbaId', 'gameId', 'pbpId', 'wallClock', 'gameClockStopped',
       'period', 'gameClock', 'shotClock_x', 'eventType', 'playerId',
       'SHOTRESULT', 'SHOTRESULT2', 'shotType', 'VISITORSCOREACUM',
       'HOMESCOREACUM', 'ball_x', 'ball_y', 'ball_z', 'home_x1', 'home_y1',
       'home_x2', 'home_y2', 'home_x3', 'home_y3', 'home_x4', 'home_y4',
       'home_x5', 'home_y5', 'away_x1', 'away_y1', 'away_x2', 'away_y2',
       'away_x3', 'away_y3', 'away_x4', 'away_y4', 'away_x5', 'away_y5',
       'homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4',
       'homePlayer5', 'awayPlayer1', 'awayPlayer2', 'awayPlayer3',
       'awayPlayer4', 'awayPlayer5', 'screenId'],
      dtype='object')

In [41]:
screentable1 = pd.merge(trackeventspbpfilt, screens1, on='screenId')

In [42]:
columns_to_drop = ['nbaId_y', 'period_y', 'shotClock']
screentable1.drop(columns_to_drop, axis=1, inplace=True)

In [43]:
screentable1 = screentable1.rename(columns={'nbaId_x': 'nbaId',
                                            'period_x': 'period',
                                            'gameClock_x': 'gameClock',
                                            'shotClock_x': 'shotClock',
                                            'gameClock_y': 'gameClockfrozenScreen'})

In [44]:
screentable1.columns

Index(['frameIdx', 'nbaId', 'gameId', 'pbpId', 'wallClock', 'gameClockStopped',
       'period', 'gameClock', 'shotClock', 'eventType', 'playerId',
       'SHOTRESULT', 'SHOTRESULT2', 'shotType', 'VISITORSCOREACUM',
       'HOMESCOREACUM', 'ball_x', 'ball_y', 'ball_z', 'home_x1', 'home_y1',
       'home_x2', 'home_y2', 'home_x3', 'home_y3', 'home_x4', 'home_y4',
       'home_x5', 'home_y5', 'away_x1', 'away_y1', 'away_x2', 'away_y2',
       'away_x3', 'away_y3', 'away_x4', 'away_y4', 'away_x5', 'away_y5',
       'homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4',
       'homePlayer5', 'awayPlayer1', 'awayPlayer2', 'awayPlayer3',
       'awayPlayer4', 'awayPlayer5', 'screenId', 'homeTeamId', 'awayTeamId',
       'gameClockfrozenScreen', 'player_screen_id', 'player_w_ball_id'],
      dtype='object')

In [ ]:
# Save if necessary
#screentable1.to_csv(r"screentable1_42100301.csv", index=False)

## Rebuilding screen table to get the exact screen moment

### Creating position table

In [ ]:
#Importing if necessary
#screentable1 = pd.read_csv(r"screentable1_42100301.csv")

In [45]:
positiontable = screentable1[['nbaId', 'period', 'gameClock', 'screenId',
                              'home_x1', 'home_x2', 'home_x3', 'home_x4', 'home_x5',
                              'away_x1', 'away_x2', 'away_x3', 'away_x4', 'away_x5',
                              'home_y1', 'home_y2', 'home_y3', 'home_y4', 'home_y5',
                              'away_y1', 'away_y2', 'away_y3', 'away_y4', 'away_y5']].copy()

In [46]:
positiontable = positiontable.rename(columns={'home_x1': 'homePlayer1_x',
                                                'home_x2': 'homePlayer2_x',
                                                'home_x3': 'homePlayer3_x',
                                                'home_x4': 'homePlayer4_x',
                                                'home_x5': 'homePlayer5_x',
                                                'away_x1': 'awayPlayer1_x',
                                                'away_x2': 'awayPlayer2_x',
                                                'away_x3': 'awayPlayer3_x',
                                                'away_x4': 'awayPlayer4_x',
                                                'away_x5': 'awayPlayer5_x',
                                                'home_y1': 'homePlayer1_y',
                                                'home_y2': 'homePlayer2_y',
                                                'home_y3': 'homePlayer3_y',
                                                'home_y4': 'homePlayer4_y',
                                                'home_y5': 'homePlayer5_y',
                                                'away_y1': 'awayPlayer1_y',
                                                'away_y2': 'awayPlayer2_y',
                                                'away_y3': 'awayPlayer3_y',
                                                'away_y4': 'awayPlayer4_y',
                                                'away_y5': 'awayPlayer5_y'})

In [47]:
positiontable.head()

,nbaId,period,gameClock,screenId,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,homePlayer5_x,awayPlayer1_x,...,homePlayer1_y,homePlayer2_y,homePlayer3_y,homePlayer4_y,homePlayer5_y,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y
0,42100301,1,659.00,421003010000,-16.76,-30.62,-4.82,11.16,-30.14,-12.56,...,-17.29,23.56,21.79,-2.16,-23.02,10.28,-8.74,7.33,-9.16,-20.65
1,42100301,1,658.96,421003010000,-17.33,-31.08,-5.43,10.60,-30.39,-13.04,...,-17.31,23.57,21.85,-1.99,-22.99,10.31,-8.96,7.46,-9.01,-20.77
2,42100301,1,658.92,421003010000,-17.88,-31.53,-6.03,10.04,-30.57,-13.51,...,-17.34,23.58,21.92,-1.82,-22.96,10.33,-9.17,7.58,-8.87,-20.88
3,42100301,1,658.88,421003010000,-18.41,-31.97,-6.64,9.49,-30.70,-13.98,...,-17.39,23.59,21.99,-1.65,-22.92,10.34,-9.38,7.69,-8.73,-20.98
4,42100301,1,658.84,421003010000,-18.93,-32.41,-7.24,8.93,-30.77,-14.43,...,-17.44,23.59,22.07,-1.48,-22.88,10.35,-9.60,7.79,-8.60,-21.05

In [48]:
playerclassiftable = pd.melt(screentable1, id_vars=['screenId'], 
                        value_vars=['homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4', 'homePlayer5', 
                                    'awayPlayer1', 'awayPlayer2', 'awayPlayer3', 'awayPlayer4', 'awayPlayer5'], 
                        var_name='playerClassification')

playerclassiftable.drop_duplicates(inplace=True)

In [49]:
playerclassiftable.head()

         screenId playerClassification                                 value
0    421003010000          homePlayer1  61fc6b15-5ce2-4613-a67b-f15bada3aa57
51   421003010001          homePlayer1  61fc6b15-5ce2-4613-a67b-f15bada3aa57
103  421003010002          homePlayer1  61fc6b15-5ce2-4613-a67b-f15bada3aa57
153  421003010003          homePlayer1  61fc6b15-5ce2-4613-a67b-f15bada3aa57
204  421003010004          homePlayer1  61fc6b15-5ce2-4613-a67b-f15bada3aa57

In [50]:
# Getting what's the classification of the screener and baller

screenerballer = pd.melt(screentable1, id_vars=['screenId'], 
                        value_vars=['player_screen_id', 'player_w_ball_id'], 
                        var_name='playerClassification')

screenerballer.drop_duplicates(inplace=True)

In [51]:
screenerballer

          screenId playerClassification                                 value
0     421003010000     player_screen_id  61fc6b15-5ce2-4613-a67b-f15bada3aa57
51    421003010001     player_screen_id  ff41362b-89ef-11e6-babd-a45e60e298d3
103   421003010002     player_screen_id  a6904c1c-0dc5-41c8-a618-b3a276131726
153   421003010003     player_screen_id  61fc6b15-5ce2-4613-a67b-f15bada3aa57
204   421003010004     player_screen_id  79b83f96-5723-4219-b521-57de6111ee97
...            ...                  ...                                   ...
8989  421003010082     player_w_ball_id  e77c0b40-1652-4d89-8daf-a2f6028938dd
9040  421003010083     player_w_ball_id  82a7f31c-e3b4-4105-8d3e-0e4dcde0f73b
9091  421003010084     player_w_ball_id  82a7f31c-e3b4-4105-8d3e-0e4dcde0f73b
9142  421003010085     player_w_ball_id  82a7f31c-e3b4-4105-8d3e-0e4dcde0f73b
9193  421003010086     player_w_ball_id  82a7f31c-e3b4-4105-8d3e-0e4dcde0f73b

[174 rows x 3 columns]

In [53]:
screenerballer1 = pd.merge(screenerballer, playerclassiftable, on=['screenId','value'], how='left')

In [54]:
# Getting x value
screenerballer2 = screenerballer1[screenerballer1['playerClassification_x']=='player_screen_id'].copy()
# Getting y value
screenerballer3 = screenerballer1[screenerballer1['playerClassification_x']=='player_w_ball_id'].copy()

In [55]:
positiontable.head()

,nbaId,period,gameClock,screenId,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,homePlayer5_x,awayPlayer1_x,...,homePlayer1_y,homePlayer2_y,homePlayer3_y,homePlayer4_y,homePlayer5_y,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y
0,42100301,1,659.00,421003010000,-16.76,-30.62,-4.82,11.16,-30.14,-12.56,...,-17.29,23.56,21.79,-2.16,-23.02,10.28,-8.74,7.33,-9.16,-20.65
1,42100301,1,658.96,421003010000,-17.33,-31.08,-5.43,10.60,-30.39,-13.04,...,-17.31,23.57,21.85,-1.99,-22.99,10.31,-8.96,7.46,-9.01,-20.77
2,42100301,1,658.92,421003010000,-17.88,-31.53,-6.03,10.04,-30.57,-13.51,...,-17.34,23.58,21.92,-1.82,-22.96,10.33,-9.17,7.58,-8.87,-20.88
3,42100301,1,658.88,421003010000,-18.41,-31.97,-6.64,9.49,-30.70,-13.98,...,-17.39,23.59,21.99,-1.65,-22.92,10.34,-9.38,7.69,-8.73,-20.98
4,42100301,1,658.84,421003010000,-18.93,-32.41,-7.24,8.93,-30.77,-14.43,...,-17.44,23.59,22.07,-1.48,-22.88,10.35,-9.60,7.79,-8.60,-21.05

In [56]:
positiontable1 = pd.merge(positiontable, screenerballer2, on=['screenId'], how='left')

positiontable1 = positiontable1.rename(columns={'playerClassification_y': 'player_screen'})

columns_to_drop = ['playerClassification_x', 'value']
positiontable1.drop(columns_to_drop, axis=1, inplace=True)

In [57]:
positiontable1.head()

,nbaId,period,gameClock,screenId,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,homePlayer5_x,awayPlayer1_x,...,homePlayer2_y,homePlayer3_y,homePlayer4_y,homePlayer5_y,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y,player_screen
0,42100301,1,659.00,421003010000,-16.76,-30.62,-4.82,11.16,-30.14,-12.56,...,23.56,21.79,-2.16,-23.02,10.28,-8.74,7.33,-9.16,-20.65,homePlayer1
1,42100301,1,658.96,421003010000,-17.33,-31.08,-5.43,10.60,-30.39,-13.04,...,23.57,21.85,-1.99,-22.99,10.31,-8.96,7.46,-9.01,-20.77,homePlayer1
2,42100301,1,658.92,421003010000,-17.88,-31.53,-6.03,10.04,-30.57,-13.51,...,23.58,21.92,-1.82,-22.96,10.33,-9.17,7.58,-8.87,-20.88,homePlayer1
3,42100301,1,658.88,421003010000,-18.41,-31.97,-6.64,9.49,-30.70,-13.98,...,23.59,21.99,-1.65,-22.92,10.34,-9.38,7.69,-8.73,-20.98,homePlayer1
4,42100301,1,658.84,421003010000,-18.93,-32.41,-7.24,8.93,-30.77,-14.43,...,23.59,22.07,-1.48,-22.88,10.35,-9.60,7.79,-8.60,-21.05,homePlayer1

In [58]:
positiontable1 = pd.merge(positiontable1, screenerballer3, on=['screenId'], how='left')

positiontable1 = positiontable1.rename(columns={'playerClassification_y': 'player_w_ball'})

columns_to_drop = ['playerClassification_x', 'value']
positiontable1.drop(columns_to_drop, axis=1, inplace=True)

In [59]:
positiontable1

,nbaId,period,gameClock,screenId,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,homePlayer5_x,awayPlayer1_x,...,homePlayer3_y,homePlayer4_y,homePlayer5_y,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y,player_screen,player_w_ball
0,42100301,1,659.00,421003010000,-16.76,-30.62,-4.82,11.16,-30.14,-12.56,...,21.79,-2.16,-23.02,10.28,-8.74,7.33,-9.16,-20.65,homePlayer1,homePlayer5
1,42100301,1,658.96,421003010000,-17.33,-31.08,-5.43,10.60,-30.39,-13.04,...,21.85,-1.99,-22.99,10.31,-8.96,7.46,-9.01,-20.77,homePlayer1,homePlayer5
2,42100301,1,658.92,421003010000,-17.88,-31.53,-6.03,10.04,-30.57,-13.51,...,21.92,-1.82,-22.96,10.33,-9.17,7.58,-8.87,-20.88,homePlayer1,homePlayer5
3,42100301,1,658.88,421003010000,-18.41,-31.97,-6.64,9.49,-30.70,-13.98,...,21.99,-1.65,-22.92,10.34,-9.38,7.69,-8.73,-20.98,homePlayer1,homePlayer5
4,42100301,1,658.84,421003010000,-18.93,-32.41,-7.24,8.93,-30.77,-14.43,...,22.07,-1.48,-22.88,10.35,-9.60,7.79,-8.60,-21.05,homePlayer1,homePlayer5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617,42100301,4,104.16,421003010086,44.68,44.12,20.76,25.23,19.34,34.08,...,-15.12,-1.16,20.80,9.91,-12.82,2.40,-4.44,10.56,homePlayer4,homePlayer3
4618,42100301,4,104.12,421003010086,44.80,44.02,20.79,25.74,19.18,34.29,...,-15.26,-0.87,20.77,9.99,-12.81,2.27,-4.17,10.48,homePlayer4,homePlayer3
4619,42100301,4,104.08,421003010086,44.92,43.91,20.81,26.25,19.02,34.50,...,-15.41,-0.59,20.72,10.07,-12.81,2.15,-3.88,10.41,homePlayer4,homePlayer3
4620,42100301,4,104.04,421003010086,45.02,43.82,20.84,26.77,18.86,34.73,...,-15.55,-0.32,20.67,10.15,-12.81,2.04,-3.60,10.34,homePlayer4,homePlayer3
4621,42100301,4,104.00,421003010086,45.10,43.73,20.86,27.31,18.70,34.95,...,-15.68,-0.05,20.61,10.23,-12.82,1.94,-3.32,10.27,homePlayer4,homePlayer3

In [60]:
i = 0
distancescreenballer = []

while i < len(positiontable1):
    
    columnscreenerx = positiontable1['player_screen'][i] + "_x"
    columnscreenery = positiontable1['player_screen'][i] + "_y"
    columnballerx = positiontable1['player_w_ball'][i] + "_x"
    columnballery = positiontable1['player_w_ball'][i] + "_y"
    distancescreenballer.append(np.sqrt((positiontable1[columnscreenerx][i] - positiontable1[columnballerx][i])**2 + (positiontable1[columnscreenery][i] - positiontable1[columnballery][i])**2))

    i = i + 1
    
positiontable1['distancescreenballer'] = distancescreenballer

In [61]:
positiontable1.head()

,nbaId,period,gameClock,screenId,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,homePlayer5_x,awayPlayer1_x,...,homePlayer4_y,homePlayer5_y,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y,player_screen,player_w_ball,distancescreenballer
0,42100301,1,659.00,421003010000,-16.76,-30.62,-4.82,11.16,-30.14,-12.56,...,-2.16,-23.02,10.28,-8.74,7.33,-9.16,-20.65,homePlayer1,homePlayer5,14.555319
1,42100301,1,658.96,421003010000,-17.33,-31.08,-5.43,10.60,-30.39,-13.04,...,-1.99,-22.99,10.31,-8.96,7.46,-9.01,-20.77,homePlayer1,homePlayer5,14.241699
2,42100301,1,658.92,421003010000,-17.88,-31.53,-6.03,10.04,-30.57,-13.51,...,-1.82,-22.96,10.33,-9.17,7.58,-8.87,-20.88,homePlayer1,homePlayer5,13.878779
3,42100301,1,658.88,421003010000,-18.41,-31.97,-6.64,9.49,-30.70,-13.98,...,-1.65,-22.92,10.34,-9.38,7.69,-8.73,-20.98,homePlayer1,homePlayer5,13.476832
4,42100301,1,658.84,421003010000,-18.93,-32.41,-7.24,8.93,-30.77,-14.43,...,-1.48,-22.88,10.35,-9.60,7.79,-8.60,-21.05,homePlayer1,homePlayer5,13.029935

In [62]:
# Getting the min distance between screener and baller

positiontablemin = positiontable1.groupby(['screenId','player_screen','player_w_ball'])['distancescreenballer'].min().reset_index()

In [63]:
positiontablemin.head()

       screenId player_screen player_w_ball  distancescreenballer
0  421003010000   homePlayer1   homePlayer5              1.735195
1  421003010001   homePlayer2   homePlayer5              1.513440
2  421003010002   awayPlayer4   awayPlayer5             11.067945
3  421003010003   homePlayer1   homePlayer5              0.759276
4  421003010004   awayPlayer3   awayPlayer5              6.369082

In [64]:
# Merge the result back

screentabletrack = pd.merge(positiontablemin, positiontable1, on=['screenId', 'distancescreenballer', 'player_screen', 'player_w_ball'], how='left')

In [65]:
columns_to_drop = ['distancescreenballer']
screentabletrack.drop(columns_to_drop, axis=1, inplace=True)

In [66]:
screentabletrack.head()

,screenId,player_screen,player_w_ball,nbaId,period,gameClock,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,...,homePlayer1_y,homePlayer2_y,homePlayer3_y,homePlayer4_y,homePlayer5_y,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y
0,421003010000,homePlayer1,homePlayer5,42100301,1,657.96,-25.92,-39.13,-19.23,-2.46,...,-19.48,23.67,23.08,2.52,-21.03,10.08,-12.68,7.96,-5.36,-21.23
1,421003010001,homePlayer2,homePlayer5,42100301,1,576.00,-41.57,-22.39,-42.34,-39.39,...,-3.66,12.60,-23.58,-18.54,12.96,-7.67,0.72,6.08,-17.84,15.33
2,421003010002,awayPlayer4,awayPlayer5,42100301,1,519.00,25.67,39.03,17.92,18.63,...,1.01,-14.75,1.77,8.72,8.69,-22.17,18.14,0.33,-3.50,7.55
3,421003010003,homePlayer1,homePlayer5,42100301,1,501.36,-18.46,-37.94,-28.21,-44.65,...,-0.96,16.57,21.75,8.88,-1.13,14.84,8.02,2.83,3.86,-2.13
4,421003010004,awayPlayer3,awayPlayer5,42100301,1,490.56,18.66,37.43,15.60,28.32,...,4.94,16.21,1.22,4.23,-9.21,23.26,-22.79,3.07,5.14,5.03

### Getting the row with the closest the Baller and Screener

In [67]:
i = 0
distancescreen1 = []
distancescreen2 = []
distancescreen3 = []
distancescreen4 = []
distancescreen5 = []

while i < len(screentabletrack):
    
    if screentabletrack['player_screen'][i][:4] == 'home':
        
        columnnamex = screentabletrack['player_screen'][i] + "_x"
        columnnamey = screentabletrack['player_screen'][i] + "_y"
        distancescreen1.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['awayPlayer1_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['awayPlayer1_y'][i])**2))
        distancescreen2.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['awayPlayer2_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['awayPlayer2_y'][i])**2))
        distancescreen3.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['awayPlayer3_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['awayPlayer3_y'][i])**2))
        distancescreen4.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['awayPlayer4_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['awayPlayer4_y'][i])**2))
        distancescreen5.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['awayPlayer5_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['awayPlayer5_y'][i])**2))
        
    else:

        columnnamex = screentabletrack['player_screen'][i] + "_x"
        columnnamey = screentabletrack['player_screen'][i] + "_y"
        distancescreen1.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['homePlayer1_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['homePlayer1_y'][i])**2))
        distancescreen2.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['homePlayer2_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['homePlayer2_y'][i])**2))
        distancescreen3.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['homePlayer3_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['homePlayer3_y'][i])**2))
        distancescreen4.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['homePlayer4_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['homePlayer4_y'][i])**2))
        distancescreen5.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['homePlayer5_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['homePlayer5_y'][i])**2))

    i = i + 1

In [68]:
screentabletrack['Player1'] = distancescreen1
screentabletrack['Player2'] = distancescreen2
screentabletrack['Player3'] = distancescreen3
screentabletrack['Player4'] = distancescreen4
screentabletrack['Player5'] = distancescreen5

In [69]:
screentabletrack.head()

,screenId,player_screen,player_w_ball,nbaId,period,gameClock,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,...,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y,Player1,Player2,Player3,Player4,Player5
0,421003010000,homePlayer1,homePlayer5,42100301,1,657.96,-25.92,-39.13,-19.23,-2.46,...,10.08,-12.68,7.96,-5.36,-21.23,29.743631,8.093955,29.736933,15.582121,2.748982
1,421003010001,homePlayer2,homePlayer5,42100301,1,576.00,-41.57,-22.39,-42.34,-39.39,...,-7.67,0.72,6.08,-17.84,15.33,25.663603,20.936857,9.213604,34.515308,2.760616
2,421003010002,awayPlayer4,awayPlayer5,42100301,1,519.00,25.67,39.03,17.92,18.63,...,-22.17,18.14,0.33,-3.50,7.55,11.501152,26.451580,5.981789,12.722421,26.980752
3,421003010003,homePlayer1,homePlayer5,42100301,1,501.36,-18.46,-37.94,-28.21,-44.65,...,14.84,8.02,2.83,3.86,-2.13,17.532826,20.988123,9.609006,24.165571,1.406165
4,421003010004,awayPlayer3,awayPlayer5,42100301,1,490.56,18.66,37.43,15.60,28.32,...,23.26,-22.79,3.07,5.14,5.03,3.775619,25.668309,1.863035,12.991890,24.370082

In [70]:
screentabletrack['pscreencloser1'] = screentabletrack[['Player1','Player2','Player3','Player4','Player5']].idxmin(axis=1)
screentabletrack['pscreencloser2'] = screentabletrack[['Player1','Player2','Player3','Player4','Player5']].apply(lambda row: row.nsmallest(2).idxmax(), axis=1)

In [71]:
screentabletrack.head()

,screenId,player_screen,player_w_ball,nbaId,period,gameClock,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,...,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y,Player1,Player2,Player3,Player4,Player5,pscreencloser1,pscreencloser2
0,421003010000,homePlayer1,homePlayer5,42100301,1,657.96,-25.92,-39.13,-19.23,-2.46,...,7.96,-5.36,-21.23,29.743631,8.093955,29.736933,15.582121,2.748982,Player5,Player2
1,421003010001,homePlayer2,homePlayer5,42100301,1,576.00,-41.57,-22.39,-42.34,-39.39,...,6.08,-17.84,15.33,25.663603,20.936857,9.213604,34.515308,2.760616,Player5,Player3
2,421003010002,awayPlayer4,awayPlayer5,42100301,1,519.00,25.67,39.03,17.92,18.63,...,0.33,-3.50,7.55,11.501152,26.451580,5.981789,12.722421,26.980752,Player3,Player1
3,421003010003,homePlayer1,homePlayer5,42100301,1,501.36,-18.46,-37.94,-28.21,-44.65,...,2.83,3.86,-2.13,17.532826,20.988123,9.609006,24.165571,1.406165,Player5,Player3
4,421003010004,awayPlayer3,awayPlayer5,42100301,1,490.56,18.66,37.43,15.60,28.32,...,3.07,5.14,5.03,3.775619,25.668309,1.863035,12.991890,24.370082,Player3,Player1

In [72]:
i = 0
pscreencloser1 = []
pscreencloser2 = []

while i < len(screentabletrack):
    
    if screentabletrack['player_screen'][i][:4] == 'home':
        
        pscreencloser1.append(screentabletrack['pscreencloser1'][i].replace("P", "awayP"))
        pscreencloser2.append(screentabletrack['pscreencloser2'][i].replace("P", "awayP"))
        
    else:
        
        pscreencloser1.append(screentabletrack['pscreencloser1'][i].replace("P", "homeP"))
        pscreencloser2.append(screentabletrack['pscreencloser2'][i].replace("P", "homeP"))
        
    i = i + 1
    
screentabletrack['pscreencloser1'] = pscreencloser1
screentabletrack['pscreencloser2'] = pscreencloser2

In [73]:
columns_to_drop = ['Player1','Player2','Player3','Player4','Player5']
screentabletrack.drop(columns_to_drop, axis=1, inplace=True)

In [74]:
screentabletrack.head()

,screenId,player_screen,player_w_ball,nbaId,period,gameClock,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,...,homePlayer3_y,homePlayer4_y,homePlayer5_y,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y,pscreencloser1,pscreencloser2
0,421003010000,homePlayer1,homePlayer5,42100301,1,657.96,-25.92,-39.13,-19.23,-2.46,...,23.08,2.52,-21.03,10.08,-12.68,7.96,-5.36,-21.23,awayPlayer5,awayPlayer2
1,421003010001,homePlayer2,homePlayer5,42100301,1,576.00,-41.57,-22.39,-42.34,-39.39,...,-23.58,-18.54,12.96,-7.67,0.72,6.08,-17.84,15.33,awayPlayer5,awayPlayer3
2,421003010002,awayPlayer4,awayPlayer5,42100301,1,519.00,25.67,39.03,17.92,18.63,...,1.77,8.72,8.69,-22.17,18.14,0.33,-3.50,7.55,homePlayer3,homePlayer1
3,421003010003,homePlayer1,homePlayer5,42100301,1,501.36,-18.46,-37.94,-28.21,-44.65,...,21.75,8.88,-1.13,14.84,8.02,2.83,3.86,-2.13,awayPlayer5,awayPlayer3
4,421003010004,awayPlayer3,awayPlayer5,42100301,1,490.56,18.66,37.43,15.60,28.32,...,1.22,4.23,-9.21,23.26,-22.79,3.07,5.14,5.03,homePlayer3,homePlayer1

In [75]:
i = 0
distanceballer1 = []
distanceballer2 = []
distanceballer3 = []
distanceballer4 = []
distanceballer5 = []

while i < len(screentabletrack):
    
    if screentabletrack['player_w_ball'][i][:4] == 'home':
        
        columnnamex = screentabletrack['player_w_ball'][i] + "_x"
        columnnamey = screentabletrack['player_w_ball'][i] + "_y"
        distanceballer1.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['awayPlayer1_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['awayPlayer1_y'][i])**2))
        distanceballer2.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['awayPlayer2_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['awayPlayer2_y'][i])**2))
        distanceballer3.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['awayPlayer3_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['awayPlayer3_y'][i])**2))
        distanceballer4.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['awayPlayer4_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['awayPlayer4_y'][i])**2))
        distanceballer5.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['awayPlayer5_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['awayPlayer5_y'][i])**2))
        
    else:

        columnnamex = screentabletrack['player_w_ball'][i] + "_x"
        columnnamey = screentabletrack['player_w_ball'][i] + "_y"
        distanceballer1.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['homePlayer1_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['homePlayer1_y'][i])**2))
        distanceballer2.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['homePlayer2_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['homePlayer2_y'][i])**2))
        distanceballer3.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['homePlayer3_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['homePlayer3_y'][i])**2))
        distanceballer4.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['homePlayer4_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['homePlayer4_y'][i])**2))
        distanceballer5.append(np.sqrt((screentabletrack[columnnamex][i] - screentabletrack['homePlayer5_x'][i])**2 + (screentabletrack[columnnamey][i] - screentabletrack['homePlayer5_y'][i])**2))

    i = i + 1

In [76]:
screentabletrack['Player1'] = distanceballer1
screentabletrack['Player2'] = distanceballer2
screentabletrack['Player3'] = distanceballer3
screentabletrack['Player4'] = distanceballer4
screentabletrack['Player5'] = distanceballer5

In [77]:
screentabletrack['pballcloser1'] = screentabletrack[['Player1','Player2','Player3','Player4','Player5']].idxmin(axis=1)
screentabletrack['pballcloser2'] = screentabletrack[['Player1','Player2','Player3','Player4','Player5']].apply(lambda row: row.nsmallest(2).idxmax(), axis=1)

In [78]:
screentabletrack.head()

,screenId,player_screen,player_w_ball,nbaId,period,gameClock,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,...,awayPlayer5_y,pscreencloser1,pscreencloser2,Player1,Player2,Player3,Player4,Player5,pballcloser1,pballcloser2
0,421003010000,homePlayer1,homePlayer5,42100301,1,657.96,-25.92,-39.13,-19.23,-2.46,...,-21.23,awayPlayer5,awayPlayer2,31.211897,9.820967,31.468043,16.712421,2.906888,Player5,Player2
1,421003010001,homePlayer2,homePlayer5,42100301,1,576.00,-41.57,-22.39,-42.34,-39.39,...,15.33,awayPlayer5,awayPlayer3,26.865982,22.358034,10.536356,35.543601,3.025112,Player5,Player3
2,421003010002,awayPlayer4,awayPlayer5,42100301,1,519.00,25.67,39.03,17.92,18.63,...,7.55,homePlayer3,homePlayer1,12.978278,33.180942,6.736468,4.331028,24.726294,Player4,Player3
3,421003010003,homePlayer1,homePlayer5,42100301,1,501.36,-18.46,-37.94,-28.21,-44.65,...,-2.13,awayPlayer5,awayPlayer3,18.016562,21.730315,10.356954,24.924616,1.000800,Player5,Player3
4,421003010004,awayPlayer3,awayPlayer5,42100301,1,490.56,18.66,37.43,15.60,28.32,...,5.03,homePlayer3,homePlayer1,9.340434,30.251686,7.345373,19.016835,30.622373,Player3,Player1

In [79]:
i = 0
pballcloser1 = []
pballcloser2 = []

while i < len(screentabletrack):
    
    if screentabletrack['player_screen'][i][:4] == 'home':
        
        pballcloser1.append(screentabletrack['pballcloser1'][i].replace("P", "awayP"))
        pballcloser2.append(screentabletrack['pballcloser2'][i].replace("P", "awayP"))
        
    else:
        
        pballcloser1.append(screentabletrack['pballcloser1'][i].replace("P", "homeP"))
        pballcloser2.append(screentabletrack['pballcloser2'][i].replace("P", "homeP"))
        
    i = i + 1
    
screentabletrack['pballcloser1'] = pscreencloser1
screentabletrack['pballcloser2'] = pscreencloser2

In [80]:
columns_to_drop = ['Player1','Player2','Player3','Player4','Player5']
screentabletrack.drop(columns_to_drop, axis=1, inplace=True)

In [81]:
screentabletrack.head()

,screenId,player_screen,player_w_ball,nbaId,period,gameClock,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,...,homePlayer5_y,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y,pscreencloser1,pscreencloser2,pballcloser1,pballcloser2
0,421003010000,homePlayer1,homePlayer5,42100301,1,657.96,-25.92,-39.13,-19.23,-2.46,...,-21.03,10.08,-12.68,7.96,-5.36,-21.23,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2
1,421003010001,homePlayer2,homePlayer5,42100301,1,576.00,-41.57,-22.39,-42.34,-39.39,...,12.96,-7.67,0.72,6.08,-17.84,15.33,awayPlayer5,awayPlayer3,awayPlayer5,awayPlayer3
2,421003010002,awayPlayer4,awayPlayer5,42100301,1,519.00,25.67,39.03,17.92,18.63,...,8.69,-22.17,18.14,0.33,-3.50,7.55,homePlayer3,homePlayer1,homePlayer3,homePlayer1
3,421003010003,homePlayer1,homePlayer5,42100301,1,501.36,-18.46,-37.94,-28.21,-44.65,...,-1.13,14.84,8.02,2.83,3.86,-2.13,awayPlayer5,awayPlayer3,awayPlayer5,awayPlayer3
4,421003010004,awayPlayer3,awayPlayer5,42100301,1,490.56,18.66,37.43,15.60,28.32,...,-9.21,23.26,-22.79,3.07,5.14,5.03,homePlayer3,homePlayer1,homePlayer3,homePlayer1

## Defining the LOCATION of screen's defender

In [82]:
locationlist = []
i = 0

while i < len(screentabletrack):

    screenx = screentabletrack['player_screen'][i] + "_x"
    screendefx = screentabletrack['pscreencloser2'][i] + "_x"
    
    if screentabletrack[screenx][i] > 0: 
    #if x positive to define the side of the court

        if (screentabletrack[screendefx][i] - screentabletrack[screenx][i]) >= 2.5:
            locationlist.append("Below screen")

        elif (screentabletrack[screendefx][i] - screentabletrack[screenx][i]) >= 0:
            locationlist.append("At screen")

        else:
            locationlist.append("Above screen")

    else:

        if (screentabletrack[screenx][i] - screentabletrack[screendefx][i]) >= 2.5:
            locationlist.append("Below screen")

        elif (screentabletrack[screenx][i] - screentabletrack[screendefx][i]) >= 0:
            locationlist.append("At screen")

        else:
            locationlist.append("Above screen")
            
    i = i + 1
    
    
#print(locationlist)

In [83]:
screentabletrack['Location_Screen_Def'] = locationlist

In [84]:
screentabletrack.head()

,screenId,player_screen,player_w_ball,nbaId,period,gameClock,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,...,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y,pscreencloser1,pscreencloser2,pballcloser1,pballcloser2,Location_Screen_Def
0,421003010000,homePlayer1,homePlayer5,42100301,1,657.96,-25.92,-39.13,-19.23,-2.46,...,10.08,-12.68,7.96,-5.36,-21.23,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen
1,421003010001,homePlayer2,homePlayer5,42100301,1,576.00,-41.57,-22.39,-42.34,-39.39,...,-7.67,0.72,6.08,-17.84,15.33,awayPlayer5,awayPlayer3,awayPlayer5,awayPlayer3,Below screen
2,421003010002,awayPlayer4,awayPlayer5,42100301,1,519.00,25.67,39.03,17.92,18.63,...,-22.17,18.14,0.33,-3.50,7.55,homePlayer3,homePlayer1,homePlayer3,homePlayer1,Below screen
3,421003010003,homePlayer1,homePlayer5,42100301,1,501.36,-18.46,-37.94,-28.21,-44.65,...,14.84,8.02,2.83,3.86,-2.13,awayPlayer5,awayPlayer3,awayPlayer5,awayPlayer3,Below screen
4,421003010004,awayPlayer3,awayPlayer5,42100301,1,490.56,18.66,37.43,15.60,28.32,...,23.26,-22.79,3.07,5.14,5.03,homePlayer3,homePlayer1,homePlayer3,homePlayer1,Below screen

## Getting the next 5 seconds after screen

In [85]:
screentabletrack.head()

,screenId,player_screen,player_w_ball,nbaId,period,gameClock,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,...,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y,pscreencloser1,pscreencloser2,pballcloser1,pballcloser2,Location_Screen_Def
0,421003010000,homePlayer1,homePlayer5,42100301,1,657.96,-25.92,-39.13,-19.23,-2.46,...,10.08,-12.68,7.96,-5.36,-21.23,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen
1,421003010001,homePlayer2,homePlayer5,42100301,1,576.00,-41.57,-22.39,-42.34,-39.39,...,-7.67,0.72,6.08,-17.84,15.33,awayPlayer5,awayPlayer3,awayPlayer5,awayPlayer3,Below screen
2,421003010002,awayPlayer4,awayPlayer5,42100301,1,519.00,25.67,39.03,17.92,18.63,...,-22.17,18.14,0.33,-3.50,7.55,homePlayer3,homePlayer1,homePlayer3,homePlayer1,Below screen
3,421003010003,homePlayer1,homePlayer5,42100301,1,501.36,-18.46,-37.94,-28.21,-44.65,...,14.84,8.02,2.83,3.86,-2.13,awayPlayer5,awayPlayer3,awayPlayer5,awayPlayer3,Below screen
4,421003010004,awayPlayer3,awayPlayer5,42100301,1,490.56,18.66,37.43,15.60,28.32,...,23.26,-22.79,3.07,5.14,5.03,homePlayer3,homePlayer1,homePlayer3,homePlayer1,Below screen

In [86]:
periodlist1 = screentabletrack['period'].tolist()
gameclocklist1 = screentabletrack['gameClock'].tolist()

In [87]:
k = 0
i = 0
j = 0

result_df1 = pd.DataFrame()

while k < len(screentabletrack):
    
    periodfilt1 = periodlist1[i]
    timefilter1 = gameclocklist1[k]
    
    df = trackeventspbp[(trackeventspbp['period'] == periodfilt1) & 
                (trackeventspbp['gameClock'] <= timefilter1) &
                (trackeventspbp['gameClock'] >= timefilter1-5)]
    df.loc[:, 'screenId'] = screentabletrack['screenId'][j]

    result_df1 = pd.concat([result_df1, df])
    
    i = i + 1
    k = k + 1
    j = j + 1
    
trackeventspbpfilt5 = result_df1

C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]

C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]

C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]
C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]

C:\Users\Isabella\AppData\Local\Temp\ipykernel_18084\2026686507.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'screenId'] = screentabletrack['screenId'][j]

In [88]:
trackeventspbpfilt5.columns

Index(['frameIdx', 'nbaId', 'gameId', 'pbpId', 'wallClock', 'gameClockStopped',
       'period', 'gameClock', 'shotClock_x', 'eventType', 'playerId',
       'SHOTRESULT', 'SHOTRESULT2', 'shotType', 'VISITORSCOREACUM',
       'HOMESCOREACUM', 'ball_x', 'ball_y', 'ball_z', 'home_x1', 'home_y1',
       'home_x2', 'home_y2', 'home_x3', 'home_y3', 'home_x4', 'home_y4',
       'home_x5', 'home_y5', 'away_x1', 'away_y1', 'away_x2', 'away_y2',
       'away_x3', 'away_y3', 'away_x4', 'away_y4', 'away_x5', 'away_y5',
       'homePlayer1', 'homePlayer2', 'homePlayer3', 'homePlayer4',
       'homePlayer5', 'awayPlayer1', 'awayPlayer2', 'awayPlayer3',
       'awayPlayer4', 'awayPlayer5', 'screenId'],
      dtype='object')

In [98]:
screentabletrack.head()

,screenId,player_screen,player_w_ball,nbaId,period,gameClock,homePlayer1_x,homePlayer2_x,homePlayer3_x,homePlayer4_x,...,awayPlayer1_y,awayPlayer2_y,awayPlayer3_y,awayPlayer4_y,awayPlayer5_y,pscreencloser1,pscreencloser2,pballcloser1,pballcloser2,Location_Screen_Def
0,421003010000,homePlayer1,homePlayer5,42100301,1,657.96,-25.92,-39.13,-19.23,-2.46,...,10.08,-12.68,7.96,-5.36,-21.23,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen
1,421003010001,homePlayer2,homePlayer5,42100301,1,576.00,-41.57,-22.39,-42.34,-39.39,...,-7.67,0.72,6.08,-17.84,15.33,awayPlayer5,awayPlayer3,awayPlayer5,awayPlayer3,Below screen
2,421003010002,awayPlayer4,awayPlayer5,42100301,1,519.00,25.67,39.03,17.92,18.63,...,-22.17,18.14,0.33,-3.50,7.55,homePlayer3,homePlayer1,homePlayer3,homePlayer1,Below screen
3,421003010003,homePlayer1,homePlayer5,42100301,1,501.36,-18.46,-37.94,-28.21,-44.65,...,14.84,8.02,2.83,3.86,-2.13,awayPlayer5,awayPlayer3,awayPlayer5,awayPlayer3,Below screen
4,421003010004,awayPlayer3,awayPlayer5,42100301,1,490.56,18.66,37.43,15.60,28.32,...,23.26,-22.79,3.07,5.14,5.03,homePlayer3,homePlayer1,homePlayer3,homePlayer1,Below screen

In [99]:
screenplus5 = pd.merge(trackeventspbpfilt5, screentabletrack, on=['screenId'], how='left')

In [100]:
columns_to_drop = ['nbaId_y', 'period_y', 'gameClock_y', 'homePlayer1_x', 'homePlayer2_x', 'homePlayer3_x',
       'homePlayer4_x', 'homePlayer5_x', 'awayPlayer1_x', 'awayPlayer2_x',
       'awayPlayer3_x', 'awayPlayer4_x', 'awayPlayer5_x', 'homePlayer1_y',
       'homePlayer2_y', 'homePlayer3_y', 'homePlayer4_y', 'homePlayer5_y',
       'awayPlayer1_y', 'awayPlayer2_y', 'awayPlayer3_y', 'awayPlayer4_y',
       'awayPlayer5_y']
screenplus5.drop(columns_to_drop, axis=1, inplace=True)

In [101]:
screenplus5 = screenplus5.rename(columns={'home_x1': 'homePlayer1_x',
                                            'home_x2': 'homePlayer2_x',
                                            'home_x3': 'homePlayer3_x',
                                            'home_x4': 'homePlayer4_x',
                                            'home_x5': 'homePlayer5_x',
                                            'away_x1': 'awayPlayer1_x',
                                            'away_x2': 'awayPlayer2_x',
                                            'away_x3': 'awayPlayer3_x',
                                            'away_x4': 'awayPlayer4_x',
                                            'away_x5': 'awayPlayer5_x',
                                            'home_y1': 'homePlayer1_y',
                                            'home_y2': 'homePlayer2_y',
                                            'home_y3': 'homePlayer3_y',
                                            'home_y4': 'homePlayer4_y',
                                            'home_y5': 'homePlayer5_y',
                                            'away_y1': 'awayPlayer1_y',
                                            'away_y2': 'awayPlayer2_y',
                                            'away_y3': 'awayPlayer3_y',
                                            'away_y4': 'awayPlayer4_y',
                                            'away_y5': 'awayPlayer5_y',
                                            'period_x': 'period', 
                                            'gameClock_x': 'gameClock'
                                         })

In [102]:
screenplus5.head()

,frameIdx,nbaId_x,gameId,pbpId,wallClock,gameClockStopped,period,gameClock,shotClock_x,eventType,...,awayPlayer4,awayPlayer5,screenId,player_screen,player_w_ball,pscreencloser1,pscreencloser2,pballcloser1,pballcloser2,Location_Screen_Def
0,114801,42100301,NaN,NaN,1652834841699,False,1,657.96,20.76,NaN,...,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010000,homePlayer1,homePlayer5,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen
1,114802,42100301,NaN,NaN,1652834841739,False,1,657.92,20.72,NaN,...,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010000,homePlayer1,homePlayer5,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen
2,114803,42100301,NaN,NaN,1652834841779,False,1,657.88,20.68,NaN,...,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010000,homePlayer1,homePlayer5,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen
3,114804,42100301,NaN,NaN,1652834841819,False,1,657.84,20.64,NaN,...,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010000,homePlayer1,homePlayer5,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen
4,114805,42100301,NaN,NaN,1652834841859,False,1,657.80,20.60,NaN,...,a6904c1c-0dc5-41c8-a618-b3a276131726,297a0fda-0a03-4003-bf39-aa92b7a730ff,421003010000,homePlayer1,homePlayer5,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen

In [ ]:
# Save if necessary
#screenplus5.to_csv(r"screenplus5.csv", index=False)

## Player with ball definition

In [ ]:
# Import if necessary
#screenplus5 = pd.read_csv(r"screenplus5.csv")

In [103]:
# getting id for closest players

i = 0
listscreenid1 = []
listballid2 = []

while i < len(screenplus5):
    
    getscreenid1 = screenplus5['player_screen'][i]
    listscreenid1.append(screenplus5[getscreenid1][i])
    
    getballid2 = screenplus5['player_w_ball'][i]
    listballid2.append(screenplus5[getballid2][i])
    
    i = i + 1

screenplus5['player_screen_id'] = listscreenid1
screenplus5['player_w_ball_id'] = listballid2

In [104]:
screenplus5[['player_screen', 'player_w_ball','player_screen_id','player_w_ball_id']].head()

,player_screen,player_w_ball,player_screen_id,player_w_ball_id
0,homePlayer1,homePlayer5,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b
1,homePlayer1,homePlayer5,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b
2,homePlayer1,homePlayer5,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b
3,homePlayer1,homePlayer5,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b
4,homePlayer1,homePlayer5,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b

In [105]:
i = 0
listplayer = []

while i < len(screenplus5):
    
    if screenplus5['playerId'][i] == screenplus5['player_screen_id'][i]:
        listplayer.append('Screener')
    elif screenplus5['playerId'][i] == screenplus5['player_w_ball_id'][i]:
        listplayer.append('Baller')
    elif pd.isnull(screenplus5['playerId'][i]):
        listplayer.append(None)
    else:
        listplayer.append('Other player')
        
    i = i + 1
    
screenplus5['playerWithBall'] = listplayer

In [106]:
i = 0
teamPlay = []

while i < len(screenplus5):
    
    if screenplus5['player_screen'][i][:4] == 'home':
        teamPlay.append('home')
    else:
        teamPlay.append('away')
        
    i = i + 1
    
screenplus5['teamPlay'] = teamPlay

In [107]:
screenplus5.head()

,frameIdx,nbaId_x,gameId,pbpId,wallClock,gameClockStopped,period,gameClock,shotClock_x,eventType,...,player_w_ball,pscreencloser1,pscreencloser2,pballcloser1,pballcloser2,Location_Screen_Def,player_screen_id,player_w_ball_id,playerWithBall,teamPlay
0,114801,42100301,NaN,NaN,1652834841699,False,1,657.96,20.76,NaN,...,homePlayer5,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home
1,114802,42100301,NaN,NaN,1652834841739,False,1,657.92,20.72,NaN,...,homePlayer5,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home
2,114803,42100301,NaN,NaN,1652834841779,False,1,657.88,20.68,NaN,...,homePlayer5,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home
3,114804,42100301,NaN,NaN,1652834841819,False,1,657.84,20.64,NaN,...,homePlayer5,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home
4,114805,42100301,NaN,NaN,1652834841859,False,1,657.80,20.60,NaN,...,homePlayer5,awayPlayer5,awayPlayer2,awayPlayer5,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home

## Inputing players name for analysis

In [137]:
gameteams.head()

,gameId,teamId,name,abbrev,teamStatus
0,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,Miami Heat,MIA,home
0,42100301,feb4cb57-89ef-11e6-86b2-a45e60e298d3,Boston Celtics,BOS,away

In [138]:
screenplus5 = pd.merge(screenplus5, gameteams, left_on=['teamPlay'], right_on=['teamStatus'], how='left')

In [139]:
screenplus5.head()

,frameIdx,nbaId_x,gameId_x,pbpId,wallClock,gameClockStopped,period,gameClock,shotClock_x,eventType,...,Location_Screen_Def,player_screen_id,player_w_ball_id,playerWithBall,teamPlay,gameId_y,teamId,name,abbrev,teamStatus
0,114801,42100301,NaN,NaN,1652834841699,False,1,657.96,20.76,NaN,...,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,Miami Heat,MIA,home
1,114802,42100301,NaN,NaN,1652834841739,False,1,657.92,20.72,NaN,...,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,Miami Heat,MIA,home
2,114803,42100301,NaN,NaN,1652834841779,False,1,657.88,20.68,NaN,...,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,Miami Heat,MIA,home
3,114804,42100301,NaN,NaN,1652834841819,False,1,657.84,20.64,NaN,...,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,Miami Heat,MIA,home
4,114805,42100301,NaN,NaN,1652834841859,False,1,657.80,20.60,NaN,...,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,42100301,feb4d380-89ef-11e6-9eb6-a45e60e298d3,Miami Heat,MIA,home

In [140]:
columns_to_drop = ['teamId', 'teamStatus', 'gameId_y']
screenplus5.drop(columns_to_drop, axis=1, inplace=True)

In [141]:
screenplus5 = screenplus5.rename(columns={'gameId_x': 'gameId'})

In [142]:
screenplus5.head()

,frameIdx,nbaId_x,gameId,pbpId,wallClock,gameClockStopped,period,gameClock,shotClock_x,eventType,...,pscreencloser2,pballcloser1,pballcloser2,Location_Screen_Def,player_screen_id,player_w_ball_id,playerWithBall,teamPlay,name,abbrev
0,114801,42100301,NaN,NaN,1652834841699,False,1,657.96,20.76,NaN,...,awayPlayer2,awayPlayer5,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA
1,114802,42100301,NaN,NaN,1652834841739,False,1,657.92,20.72,NaN,...,awayPlayer2,awayPlayer5,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA
2,114803,42100301,NaN,NaN,1652834841779,False,1,657.88,20.68,NaN,...,awayPlayer2,awayPlayer5,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA
3,114804,42100301,NaN,NaN,1652834841819,False,1,657.84,20.64,NaN,...,awayPlayer2,awayPlayer5,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA
4,114805,42100301,NaN,NaN,1652834841859,False,1,657.80,20.60,NaN,...,awayPlayer2,awayPlayer5,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA

In [143]:
# getting id for closest players

i = 0
listid1 = []
listid2 = []

while i < len(screenplus5):
    
    getid1 = screenplus5['pscreencloser1'][i]
    listid1.append(screenplus5[getid1][i])
    
    getid2 = screenplus5['pscreencloser2'][i]
    listid2.append(screenplus5[getid2][i])
    
    i = i + 1

In [144]:
screenplus5['pscreencloser1id'] = listid1
screenplus5['pscreencloser2id'] = listid2

In [145]:
screenplus5.head()

,frameIdx,nbaId_x,gameId,pbpId,wallClock,gameClockStopped,period,gameClock,shotClock_x,eventType,...,pballcloser2,Location_Screen_Def,player_screen_id,player_w_ball_id,playerWithBall,teamPlay,name,abbrev,pscreencloser1id,pscreencloser2id
0,114801,42100301,NaN,NaN,1652834841699,False,1,657.96,20.76,NaN,...,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA,297a0fda-0a03-4003-bf39-aa92b7a730ff,561048bb-c412-4d8b-a0bc-27d250a1a431
1,114802,42100301,NaN,NaN,1652834841739,False,1,657.92,20.72,NaN,...,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA,297a0fda-0a03-4003-bf39-aa92b7a730ff,561048bb-c412-4d8b-a0bc-27d250a1a431
2,114803,42100301,NaN,NaN,1652834841779,False,1,657.88,20.68,NaN,...,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA,297a0fda-0a03-4003-bf39-aa92b7a730ff,561048bb-c412-4d8b-a0bc-27d250a1a431
3,114804,42100301,NaN,NaN,1652834841819,False,1,657.84,20.64,NaN,...,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA,297a0fda-0a03-4003-bf39-aa92b7a730ff,561048bb-c412-4d8b-a0bc-27d250a1a431
4,114805,42100301,NaN,NaN,1652834841859,False,1,657.80,20.60,NaN,...,awayPlayer2,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA,297a0fda-0a03-4003-bf39-aa92b7a730ff,561048bb-c412-4d8b-a0bc-27d250a1a431

In [146]:
screenplus5 = pd.merge(screenplus5, players, left_on=['pscreencloser1id'], right_on=['id'], how='left')

In [147]:
columns_to_drop = ['id', 'position', 'fullName']
screenplus5.drop(columns_to_drop, axis=1, inplace=True)

screenplus5 = screenplus5.rename(columns={'lastName': 'pscreencloser1name'})

In [148]:
screenplus5.head()

,frameIdx,nbaId_x,gameId,pbpId,wallClock,gameClockStopped,period,gameClock,shotClock_x,eventType,...,Location_Screen_Def,player_screen_id,player_w_ball_id,playerWithBall,teamPlay,name,abbrev,pscreencloser1id,pscreencloser2id,pscreencloser1name
0,114801,42100301,NaN,NaN,1652834841699,False,1,657.96,20.76,NaN,...,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA,297a0fda-0a03-4003-bf39-aa92b7a730ff,561048bb-c412-4d8b-a0bc-27d250a1a431,White
1,114802,42100301,NaN,NaN,1652834841739,False,1,657.92,20.72,NaN,...,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA,297a0fda-0a03-4003-bf39-aa92b7a730ff,561048bb-c412-4d8b-a0bc-27d250a1a431,White
2,114803,42100301,NaN,NaN,1652834841779,False,1,657.88,20.68,NaN,...,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA,297a0fda-0a03-4003-bf39-aa92b7a730ff,561048bb-c412-4d8b-a0bc-27d250a1a431,White
3,114804,42100301,NaN,NaN,1652834841819,False,1,657.84,20.64,NaN,...,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA,297a0fda-0a03-4003-bf39-aa92b7a730ff,561048bb-c412-4d8b-a0bc-27d250a1a431,White
4,114805,42100301,NaN,NaN,1652834841859,False,1,657.80,20.60,NaN,...,Below screen,61fc6b15-5ce2-4613-a67b-f15bada3aa57,267de25c-42a5-403a-9fde-0be582ac053b,None,home,Miami Heat,MIA,297a0fda-0a03-4003-bf39-aa92b7a730ff,561048bb-c412-4d8b-a0bc-27d250a1a431,White

In [149]:
screenplus5 = pd.merge(screenplus5, players, left_on=['pscreencloser2id'], right_on=['id'], how='left')

In [150]:
columns_to_drop = ['id', 'position', 'fullName']
screenplus5.drop(columns_to_drop, axis=1, inplace=True)

screenplus5 = screenplus5.rename(columns={'lastName': 'pscreencloser2name'})

In [151]:
screenplus5 = pd.merge(screenplus5, players, left_on=['player_screen_id'], right_on=['id'], how='left')

In [152]:
columns_to_drop = ['id', 'position', 'fullName']
screenplus5.drop(columns_to_drop, axis=1, inplace=True)

screenplus5 = screenplus5.rename(columns={'lastName': 'player_screen_name'})

In [153]:
screenplus5 = pd.merge(screenplus5, players, left_on=['player_w_ball_id'], right_on=['id'], how='left')

In [154]:
columns_to_drop = ['id', 'position', 'fullName']
screenplus5.drop(columns_to_drop, axis=1, inplace=True)

screenplus5 = screenplus5.rename(columns={'lastName': 'player_w_ball_name'})

In [155]:
screenplus5['Screen_duo'] = screenplus5['player_screen_name'] + "/" + screenplus5['player_w_ball_name']

In [156]:
screenplus5['playerWithBall'].unique()

array([None, 'Baller', 'Screener', 'Other player'], dtype=object)

## Last event per play

In [157]:
lastevent = screenplus5[['nbaId_x', 'screenId', 'period', 'gameClock', 'eventType',
                         'playerId', 'SHOTRESULT', 'SHOTRESULT2', 'shotType', 'playerWithBall']].copy()

In [158]:
screenidlist = lastevent['screenId'].unique().tolist()

In [161]:
i = 0
lasteventlist2 = []
lasteventlist3 = []
lasteventlist4 = []

while i < len(screenidlist):
    
    screenid = screenidlist[i]
    lasteventlist = lastevent[(lastevent['eventType'].notnull()) & (lastevent['screenId']==screenid)  & (lastevent['playerWithBall']=='Baller')]['eventType'].tolist()
    lasteventballlist = lastevent[(lastevent['eventType'].notnull()) & (lastevent['screenId']==screenid)]['eventType'].tolist()
    
    if 'TO' in lasteventlist:
    
        if 'Baller'in lastevent[(lastevent['eventType'].notnull()) & 
                     (lastevent['screenId']==screenid) & 
                     (lastevent['eventType']=='TO')]['playerWithBall'].tolist():
            
            lasteventlist2.append((lastevent[(lastevent['eventType'].notnull()) & 
                                             (lastevent['screenId']==screenid) & 
                                             (lastevent['eventType']=='TO')]['gameClock']).values[0])
        
        
    elif 'Screener' in lastevent[(lastevent['eventType'].notnull()) & 
                     (lastevent['screenId']==screenid)]['playerWithBall'].tolist():
        
        if 'SHOT' in lastevent[(lastevent['eventType'].notnull()) & 
                               (lastevent['screenId']==screenid) &
                               (lastevent['playerWithBall']=='Screener')]['eventType'].tolist():
        
            lasteventlist2.append(lastevent[(lastevent['eventType'].notnull()) & 
                                                                (lastevent['screenId']==screenid) & 
                                                                (lastevent['playerWithBall']=='Screener') &
                                                                (lastevent['eventType']=='SHOT')].groupby('screenId')['gameClock'].min().reset_index()['gameClock'].values[0])
            
        else:
            
            lasteventlist2.append((lastevent[(lastevent['eventType'].notnull()) & 
                                                                 (lastevent['screenId']==screenid) & 
                                                                 (lastevent['playerWithBall']=='Screener')].groupby('screenId')['gameClock']).min().reset_index()['gameClock'].values[0])
                
    elif 'Baller' in lastevent[(lastevent['eventType'].notnull()) & 
                     (lastevent['screenId']==screenid)]['playerWithBall'].tolist():
        
        if 'SHOT' in lastevent[(lastevent['eventType'].notnull()) & 
                               (lastevent['screenId']==screenid) &
                               (lastevent['playerWithBall']=='Baller')]['eventType'].tolist():
        
            lasteventlist2.append(lastevent[(lastevent['eventType'].notnull()) & 
                                            (lastevent['screenId']==screenid) & 
                                            (lastevent['playerWithBall']=='Baller') &
                                            (lastevent['eventType']=='SHOT')].groupby('screenId')['gameClock'].min().reset_index()['gameClock'].values[0])
                
        else:
            
            lasteventlist2.append(lastevent[(lastevent['eventType'].notnull()) & 
                         (lastevent['screenId']==screenid) & 
                         (lastevent['playerWithBall']=='Baller')].groupby('screenId')['gameClock'].min().reset_index()['gameClock'].values[0])

    
    elif ('Baller' not in lastevent[(lastevent['eventType'].notnull()) & 
                     (lastevent['screenId']==screenid)]['playerWithBall'].tolist() and 
    'Screener' not in lastevent[(lastevent['eventType'].notnull()) & 
                     (lastevent['screenId']==screenid)]['playerWithBall'].tolist()):
    
        lasteventlist2.append(lastevent[(lastevent['eventType'].notnull()) & 
                     (lastevent['screenId']==screenid)].groupby('screenId')['gameClock'].min().reset_index()['gameClock'].values[0])
      
    else:
        
        lasteventlist2.append('error')
    
    i = i + 1

In [163]:
# filter all table using the time
k = 0
i = 0

result_df2 = pd.DataFrame()

while k < len(screentabletrack):
    
    screenfilt1 = screenidlist[i]
    timefilter1 = lasteventlist2[k]
    
    df = lastevent[(lastevent['screenId'] == screenfilt1) & 
                   (lastevent['gameClock'] == timefilter1) & 
                   (lastevent['eventType'].notnull())]
    
    result_df2 = pd.concat([result_df2, df])
    
    i = i + 1
    k = k + 1
    
lastevent = result_df2

In [164]:
lastevent.head()

,nbaId_x,screenId,period,gameClock,eventType,playerId,SHOTRESULT,SHOTRESULT2,shotType,playerWithBall
117,42100301,421003010000,1,653.28,DRIBBLE,61fc6b15-5ce2-4613-a67b-f15bada3aa57,NaN,NaN,NaN,Screener
145,42100301,421003010001,1,575.24,SHOT,267de25c-42a5-403a-9fde-0be582ac053b,MISSED,BLOCKED,3PT Jump Shot,Baller
329,42100301,421003010002,1,515.92,SHOT,a6904c1c-0dc5-41c8-a618-b3a276131726,MADE,MADE,3PT Jump Shot,Screener
503,42100301,421003010003,1,496.36,TO,267de25c-42a5-403a-9fde-0be582ac053b,NaN,NaN,NaN,Baller
617,42100301,421003010003,1,496.36,TOUCH,297a0fda-0a03-4003-bf39-aa92b7a730ff,NaN,NaN,NaN,Other player

In [165]:
lastevent2 = lastevent[~lastevent[['nbaId_x','screenId','period','gameClock']].duplicated(keep='first')]

In [167]:
lastevent2

,nbaId_x,screenId,period,gameClock,eventType,playerId,SHOTRESULT,SHOTRESULT2,shotType,playerWithBall
117,42100301,421003010000,1,653.28,DRIBBLE,61fc6b15-5ce2-4613-a67b-f15bada3aa57,NaN,NaN,NaN,Screener
145,42100301,421003010001,1,575.24,SHOT,267de25c-42a5-403a-9fde-0be582ac053b,MISSED,BLOCKED,3PT Jump Shot,Baller
329,42100301,421003010002,1,515.92,SHOT,a6904c1c-0dc5-41c8-a618-b3a276131726,MADE,MADE,3PT Jump Shot,Screener
503,42100301,421003010003,1,496.36,TO,267de25c-42a5-403a-9fde-0be582ac053b,NaN,NaN,NaN,Baller
708,42100301,421003010004,1,488.84,PASS,297a0fda-0a03-4003-bf39-aa92b7a730ff,NaN,NaN,NaN,Baller
...,...,...,...,...,...,...,...,...,...,...
13784,42100301,421003010082,4,279.76,SHOT,64c01255-432f-4e9b-a475-6f8c38e8e882,MADE,MADE,Alley Oop Layup,Screener
13921,42100301,421003010083,4,203.92,PASS,ff41f5c7-89ef-11e6-8f93-a45e60e298d3,NaN,NaN,NaN,Screener
14093,42100301,421003010084,4,155.88,DRIBBLE,ff41f5c7-89ef-11e6-8f93-a45e60e298d3,NaN,NaN,NaN,Screener
14179,42100301,421003010085,4,133.60,PASS,ff41f5c7-89ef-11e6-8f93-a45e60e298d3,NaN,NaN,NaN,Screener
14263,42100301,421003010086,4,103.84,PASS,ff41f5c7-89ef-11e6-8f93-a45e60e298d3,NaN,NaN,NaN,Screener

## Merging event result with general table

In [168]:
screenplus5_1 = pd.merge(screenplus5, lastevent2, on=['screenId'], how='left')

In [169]:
screenplus5_1.columns

Index(['frameIdx', 'nbaId_x_x', 'gameId', 'pbpId', 'wallClock',
       'gameClockStopped', 'period_x', 'gameClock_x', 'shotClock_x',
       'eventType_x', 'playerId_x', 'SHOTRESULT_x', 'SHOTRESULT2_x',
       'shotType_x', 'VISITORSCOREACUM', 'HOMESCOREACUM', 'ball_x', 'ball_y',
       'ball_z', 'homePlayer1_x', 'homePlayer1_y', 'homePlayer2_x',
       'homePlayer2_y', 'homePlayer3_x', 'homePlayer3_y', 'homePlayer4_x',
       'homePlayer4_y', 'homePlayer5_x', 'homePlayer5_y', 'awayPlayer1_x',
       'awayPlayer1_y', 'awayPlayer2_x', 'awayPlayer2_y', 'awayPlayer3_x',
       'awayPlayer3_y', 'awayPlayer4_x', 'awayPlayer4_y', 'awayPlayer5_x',
       'awayPlayer5_y', 'homePlayer1', 'homePlayer2', 'homePlayer3',
       'homePlayer4', 'homePlayer5', 'awayPlayer1', 'awayPlayer2',
       'awayPlayer3', 'awayPlayer4', 'awayPlayer5', 'screenId',
       'player_screen', 'player_w_ball', 'pscreencloser1', 'pscreencloser2',
       'pballcloser1', 'pballcloser2', 'Location_Screen_Def',
       'player_screen_id', 'player_w_ball_id', 'playerWithBall_x', 'teamPlay',
       'name', 'abbrev', 'pscreencloser1id', 'pscreencloser2id',
       'pscreencloser1name', 'pscreencloser2name', 'player_screen_name',
       'player_w_ball_name', 'Screen_duo', 'nbaId_x_y', 'period_y',
       'gameClock_y', 'eventType_y', 'playerId_y', 'SHOTRESULT_y',
       'SHOTRESULT2_y', 'shotType_y', 'playerWithBall_y'],
      dtype='object')

In [170]:
screenplus5_1.rename(columns={'gameClock_y': 'gameClock_LastEvent',
                              'eventType_y': 'eventType_LastEvent',
                              'SHOTRESULT_y': 'shotResult_LastEvent',
                              'SHOTRESULT2_y': 'shotResult2_LastEvent',
                              'shotType_y': 'shotType_LastEvent',
                              'playerWithBall_y': 'playerWithBall_LastEvent',
                              'nbaId_x_x': 'nbaId',
                              'period_x': 'period', 
                              'gameClock_x': 'gameClock', 
                              'shotClock_x': 'shotClock',
                              'eventType_x': 'eventType', 
                              'playerId_x': 'playerId', 
                              'SHOTRESULT_x': 'shotResult', 
                              'SHOTRESULT2_x': 'shotResult2',
                              'shotType_x': 'shotType'}, inplace=True)

In [171]:
columns_to_drop = ['nbaId_x_y','playerId_y']
screenplus5_1.drop(columns_to_drop, axis=1, inplace=True)

In [172]:
screenplus5_1.head()

,frameIdx,nbaId,gameId,pbpId,wallClock,gameClockStopped,period,gameClock,shotClock,eventType,...,player_screen_name,player_w_ball_name,Screen_duo,period_y,gameClock_LastEvent,eventType_LastEvent,shotResult_LastEvent,shotResult2_LastEvent,shotType_LastEvent,playerWithBall_LastEvent
0,114801,42100301,NaN,NaN,1652834841699,False,1,657.96,20.76,NaN,...,Adebayo,Strus,Adebayo/Strus,1,653.28,DRIBBLE,NaN,NaN,NaN,Screener
1,114802,42100301,NaN,NaN,1652834841739,False,1,657.92,20.72,NaN,...,Adebayo,Strus,Adebayo/Strus,1,653.28,DRIBBLE,NaN,NaN,NaN,Screener
2,114803,42100301,NaN,NaN,1652834841779,False,1,657.88,20.68,NaN,...,Adebayo,Strus,Adebayo/Strus,1,653.28,DRIBBLE,NaN,NaN,NaN,Screener
3,114804,42100301,NaN,NaN,1652834841819,False,1,657.84,20.64,NaN,...,Adebayo,Strus,Adebayo/Strus,1,653.28,DRIBBLE,NaN,NaN,NaN,Screener
4,114805,42100301,NaN,NaN,1652834841859,False,1,657.80,20.60,NaN,...,Adebayo,Strus,Adebayo/Strus,1,653.28,DRIBBLE,NaN,NaN,NaN,Screener

In [173]:
screenplus5_1[screenplus5_1['eventType_LastEvent']=='SHOT'][['Screen_duo', 'period_y',
       'gameClock_LastEvent', 'eventType_LastEvent', 'shotResult_LastEvent',
       'shotResult2_LastEvent', 'shotType_LastEvent']]

,Screen_duo,period_y,gameClock_LastEvent,eventType_LastEvent,shotResult_LastEvent,shotResult2_LastEvent,shotType_LastEvent
126,Tucker/Strus,1,575.24,SHOT,MISSED,BLOCKED,3PT Jump Shot
127,Tucker/Strus,1,575.24,SHOT,MISSED,BLOCKED,3PT Jump Shot
128,Tucker/Strus,1,575.24,SHOT,MISSED,BLOCKED,3PT Jump Shot
129,Tucker/Strus,1,575.24,SHOT,MISSED,BLOCKED,3PT Jump Shot
130,Tucker/Strus,1,575.24,SHOT,MISSED,BLOCKED,3PT Jump Shot
...,...,...,...,...,...,...,...
13849,Theis/Pritchard,4,279.76,SHOT,MADE,MADE,Alley Oop Layup
13850,Theis/Pritchard,4,279.76,SHOT,MADE,MADE,Alley Oop Layup
13851,Theis/Pritchard,4,279.76,SHOT,MADE,MADE,Alley Oop Layup
13852,Theis/Pritchard,4,279.76,SHOT,MADE,MADE,Alley Oop Layup
13853,Theis/Pritchard,4,279.76,SHOT,MADE,MADE,Alley Oop Layup

In [176]:
# Creating a table to use in the dashboard

screenplus5_2 = screenplus5_1[(screenplus5_1['gameClock']==screenplus5_1['gameClock_LastEvent']) & 
               (screenplus5_1['period']==screenplus5_1['period_y']) &
               (screenplus5_1['eventType']==screenplus5_1['eventType_LastEvent'])].copy()

In [178]:
screenplus5_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 117 to 14263
Data columns (total 77 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   frameIdx                  87 non-null     int64
 1   nbaId                     87 non-null     int64
 2   gameId                    87 non-null     object
 3   pbpId                     47 non-null     float64
 4   wallClock                 87 non-null     int64
 5   gameClockStopped          87 non-null     bool
 6   period                    87 non-null     int64
 7   gameClock                 87 non-null     float64
 8   shotClock                 87 non-null     float64
 9   eventType                 87 non-null     object
 10  playerId                  87 non-null     object
 11  shotResult                31 non-null     object
 12  shotResult2               31 non-null     object
 13  shotType                  27 non-null     object
 14  VISITORSCOREACUM          87 non-null     float64
 15  HOMESCOREACUM             87 non-null     float64
 16  ball_x                    87 non-null     float64
 17  ball_y                    87 non-null     float64
 18  ball_z                    87 non-null     float64
 19  homePlayer1_x             87 non-null     float64
 20  homePlayer1_y             87 non-null     float64
 21  homePlayer2_x             87 non-null     float64
 22  homePlayer2_y             87 non-null     float64
 23  homePlayer3_x             87 non-null     float64
 24  homePlayer3_y             87 non-null     float64
 25  homePlayer4_x             87 non-null     float64
 26  homePlayer4_y             87 non-null     float64
 27  homePlayer5_x             87 non-null     float64
 28  homePlayer5_y             87 non-null     float64
 29  awayPlayer1_x             87 non-null     float64
 30  awayPlayer1_y             87 non-null     float64
 31  awayPlayer2_x             87 non-null     float64
 32  awayPlayer2_y             87 non-null     float64
 33  awayPlayer3_x             87 non-null     float64
 34  awayPlayer3_y             87 non-null     float64
 35  awayPlayer4_x             87 non-null     float64
 36  awayPlayer4_y             87 non-null     float64
 37  awayPlayer5_x             87 non-null     float64
 38  awayPlayer5_y             87 non-null     float64
 39  homePlayer1               87 non-null     object
 40  homePlayer2               87 non-null     object
 41  homePlayer3               87 non-null     object
 42  homePlayer4               87 non-null     object
 43  homePlayer5               87 non-null     object
 44  awayPlayer1               87 non-null     object
 45  awayPlayer2               87 non-null     object
 46  awayPlayer3               87 non-null     object
 47  awayPlayer4               87 non-null     object
 48  awayPlayer5               87 non-null     object
 49  screenId                  87 non-null     int64
 50  player_screen             87 non-null     object
 51  player_w_ball             87 non-null     object
 52  pscreencloser1            87 non-null     object
 53  pscreencloser2            87 non-null     object
 54  pballcloser1              87 non-null     object
 55  pballcloser2              87 non-null     object
 56  Location_Screen_Def       87 non-null     object
 57  player_screen_id          87 non-null     object
 58  player_w_ball_id          87 non-null     object
 59  playerWithBall_x          87 non-null     object
 60  teamPlay                  87 non-null     object
 61  name                      87 non-null     object
 62  abbrev                    87 non-null     object
 63  pscreencloser1id          87 non-null     object
 64  pscreencloser2id          87 non-null     object
 65  pscreencloser1name        87 non-null     object
 66  pscreencloser2name        87 non-null     object
 67  player_screen_name        87 non-null     object
 68  player_w_ball_name        87 non-null     object
 69  Screen_duo                87 non-null     object
 70  period_y                  87 non-null     int64
 71  gameClock_LastEvent       87 non-null     float64
 72  eventType_LastEvent       87 non-null     object
 73  shotResult_LastEvent      31 non-null     object
 74  shotResult2_LastEvent     31 non-null     object
 75  shotType_LastEvent        27 non-null     object
 76  playerWithBall_LastEvent  87 non-null     object
dtypes: bool(1), float64(29), int64(6), object(41)
memory usage: 52.4+ KB

In [179]:
# Saving final tables
screenplus5_1.to_csv(r"screenplus5_1_42100301.csv", index=False)
screenplus5_2.to_csv(r"screenplus5_2_42100301.csv", index=False)